page-setting {
    .toolbar-background-ios {
        border: none;
    }
    // .header {
    //     &::after {
    //         background-image: none;
    //         height: 0;
    //     }
    //     .header-title {
    //         margin: 0;
    //     }
    //     .toolbar {
    //         min-height: 54px;
    //     }
    // }
    .header {
        &::after {
            background: none;
            height: 0;
        }
        .header-title {
            margin: 0;
        }
        .toolbar {
            padding: 0;
            min-height: 40px;
            .toolbar-background {
                border: none;
            }
        }
        ion-navbar.toolbar {
            min-height: 54px;
        }
        .segment {
            position: relative;
            .segment-button {
                color: #fff;
                border-bottom: 4px solid transparent;
                opacity: 1;
                white-space: normal;
                height: 4rem;
                line-height: 1.6rem;
                padding: 7px 2px;
                border-right: 1px solid rgba(0, 0, 0, 0.20);
            
                i {
                    font-size: 18px;
                    line-height: 2rem;
                    vertical-align: middle;
                }
            }
            .segment-button.segment-activated {
                border-bottom: 4px solid #feb101;
            }
        }
        .toolbar-ios .segment-button {
            max-width: initial !important;
            line-height: 4rem;
            height: 4.8rem;
        }
        .font-size-24 {
            font-size: 24px !important;
        }
    }
    .header-md::after {
        background: none !important;
    }
    // .setting-list {
    //     background-color: #dfdfdf;
    //     .list {
    //         .list-header {
    //             min-height: 3.5rem;
    //             align-items: center !important;
    //         }
    //         .label {
    //             margin: 0;
    //         }
            
    //     }
    // }

    .update-profile-desc{
        padding: 14px 10px;
        font-size: 1.3rem;
        background: #fff;
    }
    .list-header{
       .label{
            color: #000;
            font-size: 1.6rem;
            margin: 9px 8px 9px 0;
        }
        button{
            color: #000;
            ion-icon{
                font-size: 1.7rem;
            }
        }
    }
    .item {
        background-color: transparent;
        align-items: flex-start;
        padding-left: 10px;
        .checkbox {
            margin: 4px 12px 0 0px !important;
        }
    }
    .post-setting-text{
        margin-top: 10px;
        &.socialLinks{
            margin-top:0; 
        }
    }   

    .profile {
            .item-button {
                height: 3.6rem;
            }
            .text-input {
                font-size: 14px;
            }
            .profile-pic {
                .item-inner {
                    border: none;
                }
                img {
                    border-radius: 50%;
                    width: 115px;
                    height: 115px;
                }
                .label {
                    text-align: center;
                    position: relative;
                    max-width: 140px;
                    margin: auto;
                }
                .button {
                    background-color: #00c478;
                    box-shadow: none;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 9px;
                    right: 0px;
                }
            }

            .label{
                &.icon-item{
                    line-height: 42px;
                }
                button{
                    margin-top: 10px;
                }
            }
    }

    .category-heading {
                font-size: 14px;
                color: #323d45;
                white-space: pre-wrap;
                font-weight: 500;
            }
            .item-inner {
                border: none;
            }
            .item {
                padding-left: 10px;
                font-size: 14px;
            }
            .label {
                margin: 0;
            }
            .select-subject {
                border: 1px solid #ccc;
                margin-bottom: 15px;
                background-color: #fff;
                .searchbar {
                    padding: 0;
                    border-bottom: 1px solid #ccc;
                    .searchbar-input {
                        box-shadow: none;
                    }
                }
                .searchbar-ios {
                    background: transparent;
                }
                .add-btn {
                    padding: 0 2.6em;
                    height: 3.5rem;
                    font-size: 1.2rem;
                    margin: 10px 0;
                }
                .select-date {
                    margin-bottom: 0;
                }
                .add-subject-list {
                    .date{font-size: 10px;}
                    .label {
                        margin: 0;
                    }
                    .item {
                        padding: 0;
                        padding-left: 8px;
                        font-size: inherit;
                        margin-bottom: 5px;
                        min-height: 2.4rem;
                        .item-inner {
                            border: none;
                        }
                        .input-wrapper {
                            justify-content: space-between;
                            align-items: center;
                            background-color: #F1F1F1;
                            border: 1px solid #ccc;
                        }
                        .subject-name {
                            justify-content: space-between;
                            align-items: center;
                            padding: 0 0 0 10px;
                            p {
                                white-space: pre-wrap;
                                margin: 5px 0;
                            }
                            .button {
                                height: 1.6rem;
                                padding: 0 5px;
                                margin: 5px 0;
                            }
                        }
                    }
                }
            }
        
        
    
}
