<div class="spin-wrap vision-spin" style="display: none">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>
<div class="page-loader-section layout-row layout-align-center-center" *ngIf="showLoader">
    <div class="page-loader pl-dash">Loading...</div>
</div>
<section *ngIf="!showLoader">
    <div class="custom1-modal-header layout-row layout-align-space-between-center">
        <div class="h3 header-title layout-row flex-80">
            <img src="public/files/logo/list-icon.png" width="34" height="34"><span *ngIf="listInfo" class="m-l-10">{{listInfo.title}}</span>
        </div>
        <div class="lists-member-add-back header-options layout-row flex-20 layout-align-end">
            <div class="option1 layout-row layout-align-center-center ">
                
                    <button class="btn-title c-p btn add-new-member" (click)="openAddNewMemeberModal()"><i class="fa fa-plus-circle c-green"></i> Add New</button>
            </div>
        <p class="member-name c-p fx-bck" (click)="goToPreviousPage()"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></p>
        
        </div>
    </div>
    <!-- Searching-->
    <div class="m-l-20 m-r-20 Searchbox-wrapper">
        <div class="box box-warning search-box-fx modal-border-box ">
            <div class="box-header lists-search-box">
                <div class="c-p  input-left-icon">
                    <span class="search-icon fa fa-search"></span>
                    <input type="text" [(ngModel)]="searchMember" placeholder="Search..." />
                </div>
            </div>
        </div>
    </div>

    <!--Searching end -->
    <!--group listing-->
    <div class="layout-column  listMember-detail layout-xs-column layout-align-space-between layout-wrap layout-padding" *ngIf="listInfo && listInfo.members.length">
        <div class="flex-100 layout-row layout-row-space-between-center layout-wrap">
            <div (click)="getProfileById(member.user_id._id)" *ngFor="let member of (listInfo.members | listNameFilterPipe:searchMember:2);let j=index;"
                class="flex-20 member-detail-container  m-r-10 c-p">
                <span class="close-member c-p" (click)="openDeleteListMember(member.user_id._id)"><i class="fa fa-times-circle"></i></span>
                <div class="member-user-image">
                    <img alt="User Image" *ngIf="member.user_id.photo" class="" src="public/files/ProfilePicture/{{member.user_id.photo}}">
                    <img alt="User Image" *ngIf="!member.user_id.photo" class="" src="public/files/ProfilePicture/no_image.png">

                </div>
                <div *ngIf="member.user_id.fname" width="45%" class="member-details pc-tal">
                    <p (click)="getProfileById(member.user_id._id)" class="member-name c-p">{{member.user_id.fname}}&nbsp;{{member?.user_id?.lname}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="no-g-e-block layout-row layout-align-start-center" *ngIf="listInfo && !listInfo.members.length">
        <div class=""><i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
        <div class="layout-row layout-wrap"><span>No List Member have been added.</span>
            <span>&nbsp;Be the first one to add a member. You can start by clicking Add New. Thanks.</span>
        </div>
    </div>
    <div class="spinner-lazy-block" *ngIf="showScrollLoader">
        <div class="spinner-lazy">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</section>
<div class="modal fade modal-align-fix  listMember-detail-modal" id="addListMemberModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeAddList()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Member</h4>
            </div>
            <div class="modal-body group-modal-page  listMember-add setting-page flex-100 layout-column">
                <div class="layout-row">
                    <ul class="group-mem-list layout-row layout-align-space-between">
                        <li class="user-list-selected listMember-search-list layout-row layout-align-start-start search-li flex-100 m-l-10 " *ngFor="let user of taggedUsersList">
                            <span class="g-e-del-btn" (click)="deleteTaggedMember(user._id)"><i class="fa fa-times-circle"></i></span>
                            <div class="search-result-left layout-row">
                                <span class="result-title">{{user.fname}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-body listMember-modal layout-column flex-100 ">
                        <div class="box-header lists-search-box">
                                <div class="c-p  input-left-icon">
                                    <span class="search-icon fa fa-search"></span>
                            <input type="text" [(ngModel)]="userSearchField.name" placeholder="enter name" (keyup)="friendSearch($event)" (focus)="friendSearch($event)"
                        name="name">
                        </div>
                        </div> 
                    <ul class="user-search-list abso box-bor listMember-search" *ngIf="userSearchList.length">
                        <li class="layout-row layout-align-space-between-center search-li" *ngFor="let user of userSearchList" (click)="tagFriends(user)">
                            <div class="search-result-left layout-row layout-align-start-center">
                                <div class="search-thumb">
                                    <img *ngIf="user.photo" alt="User Image" class=" " src="public/files/ProfilePicture/{{user.photo}}">
                                    <img *ngIf="!user.photo" alt="User Image" class=" " src="public/files/ProfilePicture/no_image.png">
                                </div>
                                <div class="result-title">{{user.fname}}</div>
                            </div>
                            <div class="search-result-right">
                                <div class="result-icon">
                                    <i aria-hidden="true" class="fa fa-user-plus"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button class="add-btn cancel-btn" data-dismiss="modal" (click)="closeAddList()">Cancel</button>
                <button class="add-btn" (click)="addMemberToList()">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-align-fix " id="listMemberDeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body setting-page flex-100 layout-row">
                <div class="modal-body layout-column flex-100 ">
                    <div class="modal-body">
                        <div class="upload-area flex-60 layout-align-start-center layout-row">
                            <h4>Are you sure you want to delete this Member?</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="add-btn cancel-btn" data-dismiss="modal">Cancel</button>
                <button class="add-btn" data-dismiss="modal" (click)="deleteListMember()">Yes</button>
            </div>
        </div>
    </div>
</div>