<!--
  Generated template for the DashboardHome page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">
    <ion-navbar class="gradient" hideBackButton="true">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <button ion-button menuToggle>
                            <ion-icon name="menu"></ion-icon>
                        </button>
                        <button class="header-logo-sm">
                            <img width="26" height="26" src="{{dataService.apiBaseUrl}}public/files/logo/StribeIN-logo.png" /> </button>
                        <button ion-button (click)="goToSearchPage()" class="header-search">
                            <ion-icon name="search"></ion-icon>
                        </button>
                    </ion-item>
                    <ion-item class="header-icon">
                        <ion-icon (click)="onFriend()" ion-text ios="ios-people" md="md-people" color="white">
                            <ion-badge *ngIf="pageService.friendRequestnotificationData && pageService.friendRequestnotificationData.length>0">{{pageService.friendRequestnotificationData.length}}</ion-badge>
                        </ion-icon>
                        <ion-icon ion-text ios="ios-chatbubbles" md="md-chatbubbles" color="white" (click)="gotochat()">
                            <ion-badge item-right *ngIf="pageService.totPendUserMsg>0 || pageService.totPendGroupUserMsg>0">{{pageService.totPendUserMsg+pageService.totPendGroupUserMsg}}</ion-badge>
                        </ion-icon>
                        <ion-icon (click)="onNotification()" ion-text ios="ios-notifications" md="md-notifications" color="white">
                            <ion-badge item-right *ngIf="pageService.notificationData && pageService.notificationData.length>0">{{pageService.notificationData.length}}</ion-badge>
                        </ion-icon>
                        <ion-icon (click)="goToProfile()" ion-text ios="ios-person" md="md-person" color="white">
                        </ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
    <ion-grid class="content-header">
        <ion-row>
            <ion-col col-6>
                <ion-item>
                    <h1>My Wall <span item-end><ion-icon (click)="onHelpClick()" name="help-circle"></ion-icon>
                    </span></h1>
                </ion-item>
            </ion-col>
            <ion-col col-4 class="content-header-icon">
                <ion-item>
                    <!--<i (click)="SubjecLlistPopover($event,1)" class="icomoon-book-icon" color="darkgray"></i>
                    <i (click)="SubjecLlistPopover($event,3)" class="fa fa-university" color="darkgray"></i>
                    <i (click)="SubjecLlistPopover($event,2)" class="fa fa-graduation-cap" color="darkgray"></i>-->
                    <img height="25px" width="25px" src="{{dataService.apiBaseUrl}}public/files/logo/subject.png" (click)="SubjecLlistPopover($event,1)"
                    />
                    <img height="25px" width="25px" src="{{dataService.apiBaseUrl}}public/files/logo/college.png" (click)="SubjecLlistPopover($event,3)"
                    />
                    <img height="25px" width="25px" src="{{dataService.apiBaseUrl}}public/files/logo/degree.png" (click)="SubjecLlistPopover($event,2)"
                    />
                </ion-item>
            </ion-col>
            <ion-col col-2 class="more-btn">
                <ion-item #popoverContent>
                    <ion-buttons end>
                        <button ion-button icon-only (click)="morepopup()">
                            <ion-icon name="more"></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>


<ion-content>
    <ion-col hidden>
        <auto-boot></auto-boot>
    </ion-col>
    <ion-grid class="search-container">
        <ion-row no-padding>
            <ion-col col-12 no-padding (click)="advancesearch()">
                <ion-item>
                    <ion-icon name="search"></ion-icon> Search Posts
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="accordian" class="advance-search-item">
            <ion-row class="search-input-container">
                <ion-input placeholder="Search Subject..." (keyup)="subjectSearch($event)" (focus)="subjectSearch($event)" [(ngModel)]="searchData.subject_name"></ion-input>
                <div *ngIf="searchedSubjectsList.length" class="search-list">
                    <ul class="">
                        <li *ngFor="let subject of searchedSubjectsList">
                            <div class="college-block" (click)="selectSubject(subject._id,subject.name)">
                                {{subject.name}}
                            </div>
                        </li>
                    </ul>
                </div>
            </ion-row>
            <ion-row class="search-input-container">
                <ion-input placeholder="Search College..." (keyup)="collegeSearch($event)" (focus)="collegeSearch($event)" [(ngModel)]="searchData.college_name"></ion-input>
                <div *ngIf="searchedCollegesList.length" class="search-list">
                    <ul class="">
                        <li *ngFor="let college of searchedCollegesList">
                            <div class="college-block" (click)="selectCollege(college._id,college.name)">
                                {{college.name}}
                            </div>
                        </li>
                    </ul>
                </div>
            </ion-row>
            <ion-row class="search-input-container">
                <ion-input placeholder="Search Degree..." (keyup)="degreeSearch($event)" (focus)="degreeSearch($event)" [(ngModel)]="searchData.degree_name"></ion-input>
                <div *ngIf="searchedDegreesList.length" class="search-list">
                    <ul class="">
                        <li *ngFor="let degree of searchedDegreesList">
                            <div class="college-block" (click)="selectDegree(degree._id,degree.name)">
                                {{degree.name}}
                            </div>
                        </li>
                    </ul>
                </div>
            </ion-row>

            <ion-row class="search-btn-container">
                <ion-col width-50 no-padding class="advancesearch-btn">
                    <button ion-button color="dark-blue" (click)="searchReset()">Show All</button>
                </ion-col>
                <ion-col width-50 text-right no-padding class="advancesearch-btn">
                    <button [disabled]="searchStatus" ion-button color="primary" (click)="searchPost()">Search</button>
                </ion-col>
            </ion-row>
            <ion-row class="filter-data" padding-left *ngIf="showFilterText">
                <span>Filter By :- {{showFilterText}}</span>
            </ion-row>
        </ion-row>
    </ion-grid>
    <ion-grid class="main-content">
        <ion-label class="filter-post">Filter Posts By :- </ion-label>
        <ion-row class="header-filter">
            <ion-col class="arrow-slide" width-5 *ngIf="!viewTab" (click)="hidetab()">
                <ion-item>
                    <ion-icon name="arrow-dropleft"></ion-icon>
                </ion-item>
            </ion-col>
            <ion-col width-15 *ngIf="viewTab" (click)="getPosts(10,0)">
                <ion-item [class.filter-active]="this.filteractive[0]">
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                    <span>All</span>
                </ion-item>
            </ion-col>
            <ion-col width-15 *ngIf="viewTab" (click)="getPosts(1,1)">
                <ion-item [class.filter-active]="this.filteractive[1]">
                    <i class="icomoon-status-icon"></i>
                    <span>Status</span>
                </ion-item>
            </ion-col>
            <ion-col width-15 *ngIf="viewTab" (click)="getPosts(3,2)">
                <ion-item [class.filter-active]="this.filteractive[2]">
                    <i class="icomoon-camera-icon"></i>
                    <span>Photo</span>
                </ion-item>
            </ion-col>
            <ion-col width-15 (click)="getPosts(4,3)">
                <ion-item [class.filter-active]="this.filteractive[3]">
                    <i class="icomoon-video-icon"></i>
                    <span>Video</span>
                </ion-item>
            </ion-col>
            <ion-col width-15 (click)="getPosts(5,4)">
                <ion-item [class.filter-active]="this.filteractive[4]">
                    <i class="icomoon-link-icon"></i>
                    <span>Link</span>
                </ion-item>
            </ion-col>
            <ion-col width-15 *ngIf="!viewTab" (click)="getPosts(7,5)">
                <ion-item [class.filter-active]="this.filteractive[5]">
                    <i class="icomoon-document-icon"></i>
                    <span>Document</span>
                </ion-item>
            </ion-col>
            <ion-col width-15 *ngIf="!viewTab" (click)="getPosts(6,6)">
                <ion-item [class.filter-active]="this.filteractive[6]">
                    <i class="icomoon-audio-icon"></i>
                    <span>Audio</span>
                </ion-item>
            </ion-col>
            <ion-col width-15 *ngIf="!viewTab" (click)="getPosts(2,7)">
                <ion-item [class.filter-active]="this.filteractive[7]">
                    <ion-icon name="help-circle"></ion-icon>
                    <span>Question</span>
                </ion-item>
            </ion-col>
            <ion-col class="arrow-slide" *ngIf="viewTab" (click)="hidetab()">
                <ion-item>
                    <ion-icon name="arrow-dropright"></ion-icon>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-spinner icon="spiral" *ngIf="loader"></ion-spinner>
        <span class="no-data" *ngIf="!postdataAll.length">There are no posts to display</span>
        <ion-grid *ngIf="postdataAll" no-padding>
            <ion-row *ngFor="let data of postdataAll;let j=index">
                <ion-card *ngIf="data._id">
                    <ion-item class="post-header">
                        <ion-avatar item-left>
                            <img *ngIf="data.created_by.photo" src="{{dataService.apiBaseUrl}}public/files/ProfilePicture/{{data.created_by.photo}}">
                            <img *ngIf="!data.created_by.photo" src="{{dataService.apiBaseUrl}}public/files/ProfilePicture/no_image.png">
                        </ion-avatar>
                        <h2 *ngIf="data.created_by.fname">
                            <span class="name" (click)="getProfileById(data.created_by._id)">{{data.created_by.fname + ' ' + data.created_by.lname}}</span>
                            <span ion-text color="white"> {{data.title}}</span>
                            <span>
                                <span *ngIf="data.origin_creator" color="white">shared</span>
                                <span *ngIf="!data.origin_creator && data.post_type != 8" color="white">posted</span>
                                <span *ngIf="data.post_type == 1" color="white"> a message</span>
                                <span *ngIf="data.post_type == 2" color="white"> a question</span>
                                <span *ngIf="data.post_type == 3" color="white"> a photo</span>
                                <span *ngIf="data.post_type == 4" color="white"> a video</span>
                                <span *ngIf="data.post_type == 5" color="white"> a link</span>
                                <span *ngIf="data.post_type == 6" color="white"> an audio</span>
                                <span *ngIf="data.post_type == 7" color="white"> a document</span>
                                <span *ngIf="data.post_type == 8 && !data.origin_creator" color="white"> has joined the</span>
                                <span *ngIf="data.post_type == 8 && data.origin_creator" color="white"> a post</span>
                                <span *ngIf="data.origin_creator && data.created_by._id !== data.origin_creator._id">
                                    <span color="white">of</span>
                                    <span (click)="getProfileById(data.origin_creator._id)" class="name">{{data.origin_creator.fname + ' ' + data.origin_creator.lname}}</span>
                                </span>
                                <span (click)="getDegreeWall(data.degree_id._id)" *ngIf="data.degree_id">
                                    <span *ngIf="(data.post_type != 8) || (data.post_type == 8 && data.origin_creator)" color="white">in</span>
                                    <span *ngIf="data.post_type == 8 && !data.origin_creator" color="white">degree</span>
                                    <a class="name">{{data.degree_id.name}}</a>
                                </span>
                                <span (click)="getCollegeWall(data.college_id._id)" *ngIf="data.college_id">
                                    <span *ngIf="(data.post_type != 8) || (data.post_type == 8 && data.origin_creator)" color="white">
                                    in</span>
                                    <span *ngIf="data.post_type == 8 && !data.origin_creator" color="white">college</span>
                                    <a class="name"> {{data.college_id.name}}</a>
                                </span>
                                <span (click)="getSubjectWall(data.subject_id._id)" *ngIf="data.subject_id">
                                    <span *ngIf="(data.post_type != 8) || (data.post_type == 8 && data.origin_creator)" color="white">
                                    in</span>
                                    <span *ngIf="data.post_type == 8 && !data.origin_creator" color="white">subject</span>
                                    <a class="name"> {{data.subject_id.name}}</a>
                                </span>
                                <span color="white" *ngIf="data.group_id">in
                                    <a class="name" (click)="getGroupWall(data.group_id._id)"> {{data.group_id.title}}</a> group under
                                    <span *ngIf="data.group_id?.subject_id" (click)="getSubjectWall(data.group_id.subject_id._id)">
                                        <a class="c-p user-name">{{data.group_id.subject_id.name}}</a>
                                    </span>
                                    <span *ngIf="data.group_id.college_id" (click)="getCollegeWall(data.group_id.college_id._id)">
                                        <a class="c-p user-name">{{data.group_id.college_id.name}}</a>
                                    </span>
                                    <span *ngIf="data.group_id.degree_id" (click)="getDegreeWall(data.group_id.degree_id._id)">
                                        <a class="c-p user-name">{{data.group_id.degree_id.name}}</a>
                                    </span>
                                </span>
                            </span>
                            <span class="follow-unfollow-btn">
                                <button ion-button *ngIf="(data.created_by._id!=userId)  && (data.created_by._id | followunfollowstatus)" (click)="myWallService.onClickUnFollow(data.created_by._id)">
                                    Unfollow
                                </button>
                                <button ion-button *ngIf="(data.created_by._id!=userId)  && !(data.created_by._id | followunfollowstatus)" (click)="myWallService.onClickFollow(data.created_by._id)">
                                    Follow
                                </button>
                            </span>
                        </h2>
                        <p>
                            <span class="description">{{getCategory(data.catagory)}} |
                                <span *ngIf="data.created_on">{{data.created_on | datetimefilterpipe}}</span>
                                <span *ngIf="data.privacy"> |
                                    <!--<span *ngIf="data.privacy._id==userId"> |-->
                                    <span *ngIf="data.privacy == 1">Public</span>
                                    <span *ngIf="data.privacy == 2">Private</span>
                                    <span *ngIf="data.privacy == 3">All Friends</span>
                                    <span *ngIf="data.privacy == 4">All Followers</span>
                                    <span *ngIf="data.privacy == 5">Custom</span>
                                    <span *ngIf="data.privacy == 6">All Friends And Followers</span>
                                </span>
                            </span>

                        </p>
                    </ion-item>
                    <ion-card-content no-padding>
                        <div class="post-edit-icon">
                            <span item-right *ngIf="data.post_type != 8 && data.created_by._id==userId">
                                <i class="fa fa-edit" aria-hidden="true" (click)="editPost(data, j)"></i>
                            </span>
                            <span item-right *ngIf="data.created_by._id==userId">
                                <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteClick(data, j)"></i>
                            </span>
                        </div>
                        <div class="post-text-container row" embed-directive *ngIf="data.shared_title" (click)="goToSinglePost(data, data._id)">
                            <!--Post-shared title-->
                            <span>{{data.shared_title}}</span>
                        </div>
                        <div [class.share-post]="data.origin_creator" [class.mt-10]="data.origin_creator && !data.shared_title">
                            <div class="post-text-container row" embed-directive *ngIf="data.name" (click)="goToSinglePost(data, data._id)">
                                <!--Post-title-->
                                <span>{{data.name}}</span>
                            </div>
                            <!-- photo -->

                            <div *ngIf="data!=null && data.photo[0]" (click)="goToSinglePost(data, data._id)" class="post-img">
                                <img *ngIf="data.photo[0].title==null" src="{{dataService.apiBaseUrl}}public/files/{{getFoldername(data.types)}}/Photos/{{data.origin_creator?data.origin_creator._id:data.created_by._id}}/{{data.photo[0].file_name}}"
                                    alt="Photo">
                                <img *ngIf="data.photo[0].title!=null" src="{{data.photo[0].title}}" alt="Photo">
                            </div>


                            <!-- video -->

                            <div *ngIf="data!=null && data.video[0]" (click)="goToSinglePost(data, data._id)" class="post-vdo">
                                <!-- <h4 *ngIf="data.video[0].file_name">{{data.video[0].file_name | documentNameFilter}}</h4> -->
                                <video *ngIf="data.video[0].title==null" width="100%" height="100%" controls controlsList="nodownload">
                                    <source src="{{dataService.apiBaseUrl}}public/files/{{getFoldername(data.types)}}/Videos/{{data.origin_creator?data.origin_creator._id:data.created_by._id}}/{{data.video[0].file_name}}"
                                        type="video/mp4">
                                </video>
                                <iframe *ngIf="data.video[0].title!=null" width="100%" height="100%" [src]="data.video[0]?.title | youtubeSafeUrl" frameborder="0"
                                    allowfullscreen></iframe>
                            </div>

                            <!-- audio -->
                            <div *ngIf="data!=null && data.audio[0]" (click)="goToSinglePost(data, data._id)">
                                <!-- <h4 *ngIf="data.audio[0].file_name">{{data.audio[0].file_name | documentNameFilter}}</h4> -->
                                <audio controls controlsList="nodownload" *ngIf="data.audio[0].title==null">
                                    <source src="{{dataService.apiBaseUrl}}public/files/{{getFoldername(data.types)}}/Audios/{{data.origin_creator?data.origin_creator._id:data.created_by._id}}/{{data.audio[0].file_name}}">
                                </audio>
                                <audio controls controlsList="nodownload" *ngIf="data.audio[0].title!=null">
                                    <source src="{{data.audio[0].title}}">
                                </audio>
                            </div>


                            <!-- link -->

                            <div class="post-text-container row" *ngIf="data!=null && data.link[0]" (click)="goToSinglePost(data, data._id)">
                                <span *ngIf="data.link[0].title" embed-directive>{{data.link[0].title}}</span>
                                <ion-row>
                                    <span *ngIf="data.link[0].description">
                                        <a href="{{data.link[0].description}}" target="_blank" embed-directive>{{data.link[0].description}}</a>
                                    </span>
                                </ion-row>
                            </div>

                            <!-- document -->

                            <div class="post-text-container row" *ngIf="data!=null && data.document[0]" (click)="goToSinglePost(data, data._id)">
                                <h4 *ngIf="data.document[0].file_name">{{data.document[0].file_name | documentNameFilter}}</h4>
                                <a href="{{dataService.apiBaseUrl}}public/files/{{getFoldername(data.types)}}/Documents/{{data.origin_creator?data.origin_creator._id:data.created_by._id}}/{{data.document[0].file_name}}">
                                    <span *ngIf="data.document[0].file_name.split('.').pop() == 'txt' || data.document[0].file_name.split('.').pop() == 'text'">
                                        <i class="fa fa-file-text fa-4x">&nbsp;</i>Open/Download
                                    </span>
                                    <span *ngIf="data.document[0].file_name.split('.').pop() == 'pdf'">
                                        <i class="fa fa-file-pdf-o fa-4x">&nbsp;</i>Open/Download
                                    </span>
                                    <span *ngIf="data.document[0].file_name.split('.').pop() == 'doc' || data.document[0].file_name.split('.').pop() == 'dot' || data.document[0].file_name.split('.').pop() == 'word' || data.document[0].file_name.split('.').pop() == 'wiz' || data.document[0].file_name.split('.').pop() == 'w6w' || data.document[0].file_name.split('.').pop() == 'docx'">
                                        <i class="fa fa-file-word-o fa-4x">&nbsp;</i>Open/Download
                                    </span>
                                    <span *ngIf="data.document[0].file_name.split('.').pop() == 'xls' || data.document[0].file_name.split('.').pop() == 'xlm' || data.document[0].file_name.split('.').pop() == 'xll' || data.document[0].file_name.split('.').pop() == 'xlc' || data.document[0].file_name.split('.').pop() == 'xlb' || data.document[0].file_name.split('.').pop() == 'xlw' || data.document[0].file_name.split('.').pop() == 'xlsx'">
                                        <i class="fa fa-file-excel-o fa-4x">&nbsp;</i>Open/Download
                                    </span>
                                    <span *ngIf="data.document[0].file_name.split('.').pop() == 'ppt' || data.document[0].file_name.split('.').pop() == 'pot' || data.document[0].file_name.split('.').pop() == 'pps' || data.document[0].file_name.split('.').pop() == 'ppa' || data.document[0].file_name.split('.').pop() == 'pwz' ">
                                        <i class="fa fa-file-powerpoint-o fa-4x">&nbsp;</i>Open/Download
                                    </span>
                                    <span *ngIf="data.document[0].file_name.split('.').pop() == 'xml'">
                                        <ion-icon name="document"></ion-icon>Open/Download
                                    </span>
                                </a>
                            </div>

                            <!-- message -->
                            <div class="post-text-container row" embed-directive *ngIf="data.message">
                                {{data.message}}
                            </div>

                            <!-- question -->
                            <div class="post-text-container row" embed-directive *ngIf="data.question">
                                {{data.question}}
                            </div>
                        </div>
                    </ion-card-content>

                    <ion-row class="align-center card-row-footer " nowrap>
                        <ion-col col-12 *ngIf="data">
                            <button ion-button icon-left clear small class="pr-0" (click)="CommentModal(data._id,data.comments,data.likes.length)">
                                <i class="{{data.comments|commentFilterPipe:data._id}}" aria-hidden="true"></i>
                                <div *ngIf="data.comments.length<=1">{{data.comments.length}}&nbsp;Comment</div>
                                <div *ngIf="data.comments.length>1">{{data.comments.length}}&nbsp;Comments</div>
                            </button>
                            <button ion-button icon-left clear small class="pr-0" (click)="gotoJournal(data)">
                                <i class="icomoon-journal-icon"></i>
                                <div>Journal</div>
                            </button>
                            <button ion-button icon-left clear small class="pr-0" (click)="onShareClick(data)">
                                <ion-icon name='share-alt' [class.color-orange]="data.origin_creator && data.created_by._id == userId"></ion-icon>
                                Share
                            </button>
                            <!--<button *ngIf="(data.created_by._id!=userId)  && (data.created_by._id | followunfollowstatus)" (click)="myWallService.onClickUnFollow(data.created_by._id)" ion-button icon-left clear small class="pr-0" >
                                <ion-icon class="color-orange" name='heart'></ion-icon>
                                Unfollow
                            </button>
                            <button *ngIf="(data.created_by._id!=userId)  && !(data.created_by._id | followunfollowstatus)" (click)="myWallService.onClickFollow(data.created_by._id)" ion-button icon-left clear small class="pr-0" >
                                <ion-icon name='heart'></ion-icon>
                                Follow
                            </button>-->

                            <button ion-button icon-left clear small icon-only class="pr-0 like-btn">
                                <img class="pr-0" src="{{dataService.apiBaseUrl}}public/files/logo/{{data.likes|likeFilterPipe:data._id}}" (click)="like(data._id,data)"
                                    width="16" height="16" />
                                <div>{{data.likes.length}}</div>
                                <div *ngIf="data.likes.length > 0" (click)="onViewLikeClick(data._id)"> &nbsp;View</div>
                            </button>
                            <button *ngIf="data.created_by._id!=userId" ion-button icon-left clear small class="pr-0 flag-button" (click)="onFlagClick(data._id)">
                                <ion-icon name='flag'></ion-icon>
                            </button>
                        </ion-col>
                        <!--<ion-col col-1 class="more-btn align-right">
                            <button ion-button  icon-only (click)="onMorePopover(data)" class="text-right">
                                <ion-icon name="more"></ion-icon>
                            </button>
                     </ion-col>-->
                    </ion-row>
                </ion-card>
            </ion-row>
        </ion-grid>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- <ion-spinner icon="spiral" *ngIf="loader"></ion-spinner> -->
</ion-content>
<ion-grid class="my-overlay" *ngIf="showOverlay">
        <ion-row justify-content-center>
            <ion-col (click)="onHideOverlay()">Don't Show Again</ion-col>
            
        </ion-row> 
        <ion-row class="bg-transparent">
            <ion-col><img src="assets/imgs/myWall-guide.png"></ion-col>
        </ion-row>
     </ion-grid>
<ion-footer>
    <ion-row class="share-post">
        <ion-col class="arrow-slide" *ngIf="!viewTabBottom" (click)="hideTabBottom()">
            <ion-item>
                <ion-icon name="arrow-dropleft"></ion-icon>
            </ion-item>
        </ion-col>
        <ion-col width-15 *ngIf="viewTabBottom" (click)="newpost('Status',1)">
            <ion-item>
                <i class="icomoon-status-icon"></i>
            </ion-item>
        </ion-col>
        <ion-col width-15 *ngIf="viewTabBottom" (click)="newpost('Photo',0)" class="camera-upload">
            <ion-item>
                <i class="icomoon-camera-icon"></i>
            </ion-item>
        </ion-col>
        <ion-col width-15 (click)="newpost('Video',0)" class="video-upload">
            <ion-item>
                <i class="icomoon-video-icon"></i>
            </ion-item>
        </ion-col>
        <ion-col width-15 (click)="newpost('Link',5)">
            <ion-item>
                <i class="icomoon-link-icon"></i>
            </ion-item>
        </ion-col>
        <ion-col width-15 (click)="newpost('Document',0)">
            <ion-item>
                <i class="icomoon-document-icon"></i>
            </ion-item>
        </ion-col>
        <ion-col width-15 *ngIf="!viewTabBottom" (click)="newpost('Audio',0)">
            <ion-item>
                <i class="icomoon-audio-icon"></i>
            </ion-item>
        </ion-col>
        <ion-col width-15 *ngIf="!viewTabBottom" (click)="newpost('Question',2)" class="video-upload">
            <ion-item>
                <ion-icon name="help-circle"></ion-icon>
            </ion-item>
        </ion-col>
        <ion-col class="arrow-slide" *ngIf="viewTabBottom" (click)="hideTabBottom()">
            <ion-item>
                <ion-icon name="arrow-dropright"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-footer>