<div class="master-setting-page">
    <div class="custom1-modal-header layout-row layout-align-space-between-center m-b-20">
        <div class="h3 header-title">Template</div>
        
        <div class="header-options layout-row">
                <button class="btn btn-default" type="submit" *ngIf="!isRegConEnable" (click)="enableRegEmail()">Enable Registration Email</button>
                <button class="btn btn-default" type="submit" *ngIf="isRegConEnable" (click)="disableRegEmail()">Disable Registration Email</button>
            <div class="spinner-lazy-block myload" *ngIf="contentLoding">
                <div class="spinner-lazy">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-body">


        <div class="">


            <table id="example2" class="table table-bordered table-hover hide-xs">
                <thead>
                    <tr>
                        <th>Id</th>

                        <th>Template Name</th>

                        <th>Date Added</th>
                        <th>Date Updated</th>
                        <th>Subject</th>
                        <!--                        <th>Sender</th>-->
                        <!--                        <th>Template type</th>-->
                        <th>Edit</th>

                    </tr>
                </thead>
                <tbody>



                    <tr *ngFor="let temp of template;let i=index">

                        <td>
                            <span *ngIf="temp._id">{{i+1}}</span>
                        </td>
                        <td>
                            <span *ngIf="temp.name">{{temp.name}}</span>
                        </td>
                        <td>
                            <span *ngIf="temp.ceated_on">{{temp.ceated_on | amDateFormat:'LLL'}}</span>
                        </td>
                        <td>
                            <span *ngIf="temp.updated_on">{{temp.updated_on | amDateFormat:'LLL'}}</span>
                        </td>
                        <td>
                            <span *ngIf="temp.subject">{{temp.subject}}</span>
                        </td>
                        <!--<td><span *ngIf="temp.sender[0]">{{temp.sender[0].sender_id.fname}}</span></td>-->

                        <!--                         <td>{{temp.templete_type}}</td>-->
                        <td>
                            <span class="row-edit-btn" id="updateBtn" data-toggle="modal" (click)="getEditTemplate(temp)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </span>
                        </td>

                    </tr>

                </tbody>

            </table>
            <div class="hide show-xs layout-align-center-center layout-column border pad-10" *ngFor="let temp of template;let i=index">
                <div>
                    <span *ngIf="temp._id">{{i+1}}</span>
                </div>
                <div>
                    <span *ngIf="temp.name">{{temp.name}}</span>
                </div>
                <div>
                    <span *ngIf="temp.ceated_on">{{temp.ceated_on | amDateFormat:'LLL'}}</span>
                </div>
                <div>
                    <span *ngIf="temp.updated_on">{{temp.updated_on | amDateFormat:'LLL'}}</span>
                </div>
                <div>
                    <span *ngIf="temp.subject">{{temp.subject}}</span>
                </div>
                <span class="row-edit-btn" id="updateBtn" data-toggle="modal" (click)="getEditTemplate(temp)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </span>
            </div>

        </div>
        <!--<pagination *ngIf="config.paging"
                    class="pagination-sm"
                    [(ngModel)]="page"
                    [totalItems]="length"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="maxSize"
                    [boundaryLinks]="true"
                    [rotate]="false"
                    (pageChanged)="onChangeTable(config, $event)"
                    (numPages)="numPages = $event">
        </pagination>-->
        <!--<pre *ngIf="config.paging" class="card card-block card-header">Page:  / </pre>-->

        <nav class="layout-row layout-align-center-center">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous" (click)="getTemplates('pre')">
                        <span aria-hidden="true">&laquo;&nbsp;Previous</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <!--    <li class="page-item active">
                        <a class="page-link" >1 <span class="sr-only">(current)</span></a>
                    </li>    
                    <li class="page-item"><a class="page-link" (click)="getAllSubjectPagination(2)">2</a></li>
                    <li class="page-item"><a class="page-link" (click)="getAllSubjectPagination(3)">3</a></li>
                    <li class="page-item"><a class="page-link" >4</a></li>
                    <li class="page-item"><a class="page-link" >5</a></li>-->
                <li class="page-item">
                    <a class="page-link" aria-label="Next" (click)="getTemplates('next')">
                        <span aria-hidden="true">Next&nbsp;&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>



    </div>
</div>
<div class="modal fade tempdel" id="detailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Templete Information </h4>
            </div>
            <div class="modal-body setting-page ">
                <div class="setting-page flex-100 layout-row pad-10">
                    <label class="flex-25 layout-row layout-align-start-start">Template Name
                        <span class="required">*</span>
                    </label>

                    <input [(ngModel)]="templateData.name" class="flex-70 pad-5-10" placeholder="Name" type="text" />
                </div>
                <div class="setting-page flex-100 layout-row pad-10">
                    <label class="flex-25 layout-row layout-align-start-start">Template Subject
                        <span class="required">*</span>
                    </label>
                    <input [(ngModel)]="templateData.subject" class="flex-70 pad-5-10" placeholder="Subject" type="text" />
                </div>

                <div class="setting-page flex-100 layout-row pad-10">
                    <label class="flex-25 layout-row layout-align-start-start">Template Content
                        <span class="required">*</span>
                    </label>

                    <form class="flex-70">
                        <textarea [(ngModel)]="templateData.content" id="editor1" name="editor1" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="add-btn cancel-btn" data-dismiss="modal">Reset</button>
                <button class="add-btn" data-dismiss="modal" (click)="setTemplates()">Save</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade tempdel " id="EditdetailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Template </h4>
            </div>
            <div class="modal-body setting-page ">
                <div class="setting-page flex-100 layout-row pad-10">
                    <label class="flex-25 layout-row layout-align-start-start">Template Name
                        <span class="required">*</span>
                    </label>
                    {{templateEdit.name}}
                    <!--<input [(ngModel)]="templateEdit.name" class="flex-70 pad-5-10" placeholder="Name" type="text" />-->
                </div>
                <div class="setting-page flex-100 layout-row pad-10">
                    <label class="flex-25 layout-row layout-align-start-start">Template Subject
                        <span class="required">*</span>
                    </label>
                    <input [(ngModel)]="templateEdit.subject" class="flex-70 pad-5-10" placeholder="Subject" type="text" />
                </div>

                <div class="setting-page flex-100 layout-row pad-10">
                    <label class="flex-25 layout-row layout-align-start-start">Template Content
                        <span class="required">*</span>
                    </label>

                    <form class="flex-70">
                        <textarea [(ngModel)]="templateEdit.content" id="editor2" name="editor1" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="add-btn cancel-btn" data-dismiss="modal">Reset</button>
                <button class="add-btn" data-dismiss="modal" (click)="setEditTemplate()">Update</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>