    page-my-friend {
        .header {
            &::after {
                background: none;
            }
            .header-title {
                margin: 0;
                color: white;
            }
            .toolbar {
                padding: 0;
                min-height: 40px;
                .toolbar-background {
                    border: none;
                }
            }
            ion-navbar.toolbar {
                min-height: 54px;
            }
            .segment {
                .segment-button {
                    color: #fff;
                    border-bottom: 4px solid transparent;
                    opacity: 1;
                    height: 4.2rem;
                    .icon {
                        font-size: 2.5rem;
                        line-height: 2rem;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }
                .segment-button.segment-activated {
                    border-bottom: 4px solid #feb101;
                }
            }
            .toolbar-ios .segment-button {
                max-width: initial !important;
                line-height: 5.4rem;
                height: 5.2rem;
            }
        }
        .content {
            background-color: #dfdfdf;
            .search-friend {
                background-color: #f0eced !important;
                position: relative;
                border-bottom: 1px solid #c0c0c0;
                box-shadow: 0 0 1px #d5d5d5;
                .item-inner {
                    border: none;
                }
                .label {
                    margin: 0;
                }
                .searchbar {
                    padding: 0;
                    .searchbar-input-container {
                        .searchbar-input {
                            background-color: transparent;
                            box-shadow: none;
                            padding: 6px 34px;
                        }
                    }
                    .searchbar-search-icon {
                        top: 10px;
                        left: 0;
                    }
                }
            }
            .search-list {
                background-color: #f0eced !important;
                position: relative;
                border-bottom: 1px solid #c0c0c0;
                box-shadow: 0 0 1px #d5d5d5;
                .item-inner {
                    border: none;
                    margin-right: 8px;
                }
                .label {
                    margin: 0;
                }
                .searchbar {
                    padding: 0;
                    .searchbar-input-container {
                        width: 84%;
                        border-right: 1px solid #cecece;
                        padding: 5px 0;
                        .searchbar-input {
                            background-color: transparent;
                            box-shadow: none;
                            padding: 5px 34px;
                        }
                    }
                    .searchbar-search-icon {
                        top: 15px;
                        left: 0;
                    }
                }
                .add-list {
                    position: absolute;
                    right: 14px;
                    top: 12px;
                    background-color: #00c478;
                    box-shadow: none;
                    margin: 0;
                    border-radius: 50%;
                    width: 23px;
                    height: 23px;
                }
            }
            .item {
                background-color: transparent;
                padding-left: 10px;
                border-bottom: 1px solid rgba(177, 177, 177, 0.52);
                ion-avatar img {
                    border: 1px solid #b0b0b0;
                }
                
                .item-inner {
                    color: #2c3343;
                    margin-right: 8px;
                }
            }
            .group-list {
                ion-avatar {
                    background-color: #c7c7c7;
                    border-radius: 50%;
                    .icon {
                        color: #526d7a;
                        font-size: 24px;
                        padding: 8px 10px 8px 10px;
                    }
                }
            }
        }
        ion-icon{
            font-size: 1.1em;
            color: rgba(0, 0, 0, 0.58);
            margin-top: 3px;
        }
        .color-orange {
                    color: #e7733b !important;
                }
    }