<div class="account-bg" (click)="clearRegiterDropdown()">
    <div class="account-header">
        <div class="header-logo">Student<span>Network</span></div>
    </div>
    <div class="spin-wrap vision-spin" style="display: none">
        <!--                                                <div class="spinners">  
                                                            <div class="double-bounce1"></div>
                                                            <div class="double-bounce2"></div>
                                                        </div>  -->
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <div class="register-box page-wrap">
        <!--        <div class="register-logo">
                    <a href="../../index2.html"><b>Admin</b>LTE</a>
                </div>-->
        <div class="login-logo">Create an account</div>
        <div class="alert alert-danger media fade in" *ngIf="regMsg">
            <p>{{regMsg}}</p>
        </div>
        <div class="register-box-body" [class.hide]="form1==2">
            <form method="post" role="form" (ngSubmit)="formSubmit()">
                <div class="form-group has-feedback">
                    <label>Full name</label>
                    <input [(ngModel)]="register.fname" type="text" class="form-control" required>
                    <!--<span class="glyphicon glyphicon-user form-control-feedback"></span>-->
                </div>

                <div class="form-group has-feedback">
                    <label>email</label>
                    <input [(ngModel)]="register.email" type="email" class="form-control" required>
                    <!--<span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
                </div>
                <div class="form-group has-feedback">
                    <label>password</label>
                    <input [(ngModel)]="register.password" type="password" class="form-control" required>
                    <span style="color:red">{{errorMsg}}</span>
                    <!--<span class="glyphicon glyphicon-log-in form-control-feedback"></span>-->
                </div>

                <button type="submit" class="btn btn-primary display-full mr-25">next</button>
                <!--<button type="submit" (click)="formSubmit()" class="btn btn-primary display-full mr-25" >submit</button>-->
                <!--<button class="btn btn-primary display-full mr-25"  data-toggle="tab" aria-expanded="true" (click)="regStep=2">next</button>-->
            </form>
            <div class="row">
                <div class="col-sm-12 pd10 text-center">
                    <p class="pd10 text-indent-orange">Do you have an account? <a class="text-center" href="/#/login">Login Here </a></p>
                </div>
            </div>
            <!--</form>-->
        </div>

        <div class="register-box-body" [class.hide]="form1==1" [class.show]="form1==2">
            <p class="account-heading hello">Member Registration</p>
            <div class="alert alert-danger media fade in" *ngIf="regMsg">
                <p>{{regMsg}}</p>
            </div>
            <div class="nav-tabs-custom register-timeline">
                <ul class="nav nav-tabs flex-inline text-center">
                    <li [class.active]="regStep==1"><a><span class="timeline-circle">1</span></a></li>
                    <li [class.active]="regStep==2"><a><span class="timeline-circle">2</span></a></li>
                    <li [class.active]="regStep==3"><a><span class="timeline-circle">3</span></a></li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="tab_1" [class.active]="regStep==1">
                        <div>
                            <form action="../../index.html" method="post" role="form" (ngSubmit)="onSubmit()" class="ggg">
                                <div class="height-tb">
                                    <div class="form-group" id="main-subject">

                                        <label>Select Subjects<span> (taking or taken) </span></label>
                                        <div class="input-group">
                                            <input id="selectSub-0" [(ngModel)]="register.subjectName[0]" #subKey (keyup)="getSubject(subKey.value,0)" class="form-control "
                                                placeholder="Search Subject.." type="text">
                                            <!--                                        <select class="form-control" name="subject" (change)="onChangeSubject($event.target.value,0)">
                                                                                    <option value="">-Select-</option>
                                                                                    <option *ngFor="let subject of subjects" value="{{subject._id}}">{{subject.name}}</option>
                                                                                </select>-->
                                            <div *ngIf="subjectList[0]" class="college-search-list-block">
                                                <ul class="college-search-list box-bor">
                                                    <li *ngFor="let subject of subjects[0]" (click)="selectSubject(subject.name,subject._id,0)">
                                                        <div class="college-block">
                                                            {{subject.name}}
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="input-group-addon">
                                                <i *ngIf="SubjectSelected" class="fa fa-plus" (click)="addSubject()"></i>
                                            </div>
                                        </div>
                                        <div class="tab-pane active" id="choose_category">
                                            <div class="dropdown sub-reg-dropdown">
                                                <button class="btn cat-btn dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span *ngIf="categoryValue[0]"> {{categoryValue[0]}}</span><span *ngIf="!categoryValue[0]"> {{categoryValueDefault}}</span> &nbsp;<span class="caret">&nbsp;</span>
                                            </button>
                                                <ul class="dropdown-menu">
                                                    <li><a (click)="catagories(0,0)">{{categoryValueDefault}}</a></li>
                                                    <li><a (click)="catagories(1,0)">Currently Taking / Future / Past Student</a></li>
                                                    <!--<li><a (click)="catagories(2,0)">Will Take in Future</a></li>-->
                                                    <li><a (click)="catagories(3,0)">Subject Expert</a></li>
                                                    <li><a (click)="catagories(4,0)">Teacher of Subject</a></li>
                                                    <li><a (click)="catagories(5,0)">Just Interested</a></li>
                                                    <!--<li><a (click)="catagories(6,0)">Past Student</a></li>-->
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row m-t-10" *ngIf="register.subjects_user_type[0]==1 || register.subjects_user_type[0]==2">
                                            <div class="form-group col-sm-6">
                                                <label>From:</label>

                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input class="form-control pull-right" name="sub-date-from-0" type="text">
                                                    <!--<input #df [(ngModel)]= "register.subjects_start_date[0]" class="form-control pull-right" name="date-from"  type="text">-->
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>To:</label>

                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input class="form-control pull-right" name="sub-date-to-0" type="text">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                        <span style="color: red;" *ngIf="errordatemsg[0]!=''"> {{errordatemsg[0]}}</span>
                                        <span style="color: red;" *ngIf="errordateblankmsg[0]!=''"> {{errordateblankmsg[0]}}</span>
                                    </div>
                                    <div class="form-group" id="main-subject" *ngFor="let i of subject_count;#j = index">
                                        <div *ngIf="showSubjectSelect(j)">

                                            <label>Select Subjects<span> (taking or taken) </span></label>
                                            <div class="input-group" id="subject-{{j+1}}">
                                                <input id="selectSub-{{j+1}}" [(ngModel)]="register.subjectName[j+1]" #subKey (keyup)="getSubject(subKey.value,j+1)" class="form-control "
                                                    placeholder="Search Subject.." type="text">
                                                <!--                                            <select class="form-control" name="subject" (change)="onChangeSubject($event.target.value,(j+1))">
                                                                                            <option value="">-Select-</option>
                                                                                            <option *ngFor="let subject of subjects" value="{{subject._id}}">{{subject.name}}</option>
                                                                                        </select>-->
                                                <div *ngIf="subjectList[j+1]" class="college-search-list-block">
                                                    <ul class="college-search-list box-bor">
                                                        <li *ngFor="let subject of subjects[j+1]" (click)="selectSubject(subject.name,subject._id,j+1)">
                                                            <div class="college-block">
                                                                {{subject.name}}
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="input-group-addon" (click)=removeSubject(j)>
                                                    <i class="fa fa-minus"></i>
                                                </div>
                                            </div>
                                            <div class="tab-pane active" id="choose_category">
                                                <div class="dropdown sub-reg-dropdown">
                                                    <button class="btn cat-btn dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <span *ngIf="categoryValue[j+1]"> {{categoryValue[j+1]}}</span><span *ngIf="!categoryValue[[j+1]]"> {{categoryValueDefault}}</span> &nbsp;<span class="caret">&nbsp;</span>
                                                </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a (click)="catagories(0,j+1)">{{categoryValueDefault}}</a></li>
                                                        <li><a (click)="catagories(1,j+1)">Currently Taking</a></li>
                                                        <li><a (click)="catagories(2,j+1)">Will Take in Future</a></li>
                                                        <li><a (click)="catagories(3,j+1)">Subject Expert</a></li>
                                                        <li><a (click)="catagories(4,j+1)">Teacher of Subject</a></li>
                                                        <li><a (click)="catagories(5,j+1)">Just Interested</a></li>
                                                        <li><a (click)="catagories(6,j+1)">Past Student</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row m-t-10" *ngIf="register.subjects_user_type[j+1]==1 || register.subjects_user_type[j+1]==2">
                                                <div class="form-group col-sm-6">
                                                    <label>From:</label>

                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input class="form-control pull-right" name="sub-date-from-{{j+1}}" type="text">
                                                    </div>
                                                    <!-- /.input group -->
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label>To:</label>

                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input class="form-control pull-right" name="sub-date-to-{{j+1}}" type="text">
                                                    </div>
                                                    <!-- /.input group -->
                                                </div>
                                            </div>
                                            <span style="color: red;" *ngIf="errordatemsg[j+1]!=''"> {{errordatemsg[j+1]}}</span>
                                            <span style="color: red;" *ngIf="errordateblankmsg[j+1]!=''"> {{errordateblankmsg[j+1]}}</span>
                                        </div>
                                    </div>
                                </div>
                                <!--<button type="submit" class="btn btn-primary display-full mr-25">next</button>-->
                                <button class="btn btn-primary display-full mr-25" data-toggle="tab" aria-expanded="true" (click)="subjectDate();">next</button>
                                <button class="btn btn-primary display-full" data-toggle="tab" aria-expanded="true" (click)="regStep=2;">Skip</button>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_2" [class.active]="regStep==2">
                        <form action="../../index.html" method="post" role="form" (ngSubmit)="onSubmit1()">
                            <div class="height-tb">
                                <div class="form-group" id="main-college">
                                    <label>Select College / University</label>
                                    <div class="input-group">
                                        <input id="selectCollege-0" [(ngModel)]="register.collegeName[0]" #colKey (keyup)="getCollege(colKey.value,0)" class="form-control "
                                            placeholder="Search College.." type="text">
                                        <!-- <select class="form-control" name="college" (change)="onChangeCollege($event.target.value,0)">
                                         <option value="">-Select-</option>
                                         <option *ngFor="let college of colleges" value="{{college._id}}">{{college.name}}</option>
                                          </select>-->
                                        <div *ngIf="collegeList[0]" class="college-search-list-block">
                                            <ul class="college-search-list box-bor">
                                                <li *ngFor="let college of colleges[0]" (click)="selectCollege(college.name,college._id,0)">
                                                    <div class="college-block">
                                                        {{college.name}}
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="input-group-addon" >
                                            <i *ngIf="CollegeSelected" class="fa fa-plus" (click)="addCollege()"></i>
                                        </div>
                                    </div>
                                    <div class="row m-t-10">
                                        <div class="form-group col-sm-6">
                                            <label>From:</label>

                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input class="form-control pull-right" name="col-date-from-0" type="text">
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>To:</label>

                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input class="form-control pull-right" name="col-date-to-0" type="text">
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <span style="color: red;" *ngIf="errorCollegeDateMsg[0]!=''"> {{errorCollegeDateMsg[0]}}</span>
                                    <span style="color: red;" *ngIf="errordateblankmsg[0]!=''"> {{errordateblankmsg[0]}}</span>
                                </div>
                                <div class="form-group" id="main-subject" *ngFor="let i of college_count;let j = index">
                                    <div *ngIf="showCollegeSelect(j)">
                                        <label>Select College / University<span> (taking or taken) </span></label>
                                        <div class="input-group">
                                            <input id="selectCollege-{{j+1}}" [(ngModel)]="register.collegeName[j+1]" #colKey (keyup)="getCollege(colKey.value,j+1)"
                                                class="form-control " placeholder="Search College.." type="text">
                                            <!--                                        <select class="form-control" name="college" (change)="onChangeCollege($event.target.value,(j+1))">
                                                                                    <option value="">-Select-</option>
                                                                                    <option *ngFor="let college of colleges" value="{{college._id}}">{{college.name}}</option>
                                                                                </select>-->
                                            <div *ngIf="collegeList[j+1]" class="college-search-list-block">
                                                <ul class="college-search-list box-bor">
                                                    <li *ngFor="let college of colleges[j+1]" (click)="selectCollege(college.name,college._id,j+1)">
                                                        <div class="college-block">
                                                            {{college.name}}
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="input-group-addon" (click)=removeCollege(j)>
                                                <i class="fa fa-minus"></i>
                                            </div>
                                        </div>
                                        <div class="row m-t-10">
                                            <div class="form-group col-sm-6">
                                                <label>From:</label>

                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input class="form-control pull-right" name="col-date-from-{{j+1}}" type="text">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>To:</label>

                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input class="form-control pull-right" name="col-date-to-{{j+1}}" type="text">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                        <span style="color: red;" *ngIf="errorCollegeDateMsg[j+1]!=''"> {{errorCollegeDateMsg[j+1]}}</span>
                                        <span style="color: red;" *ngIf="errordateblankmsg[j+1]!=''"> {{errordateblankmsg[j+1]}}</span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary display-full mr-25" data-toggle="tab" aria-expanded="true" (click)="regStep=1;">Back</button>
                            <a class="btn btn-primary display-full mr-25" data-toggle="tab" aria-expanded="true" (click)="collegeDate();">next</a>
                            <div class="skip-blk"> <a class="btn btn-primary display-full " data-toggle="tab" aria-expanded="true" (click)="regStep=3;">Skip</a></div>
                        </form>
                    </div>
                    <div class="tab-pane text-center" id="tab_3" [class.active]="regStep==3">
                        <form action="../../index.html" method="post" role="form">

                            <div class="height-tb">
                                <div class="form-group" id="main-degree">
                                    <label>Select Degree level</label>
                                    <div class="input-group">
                                        <input id="selectDegree-0" [(ngModel)]="register.degreeName[0]" #degKey (keyup)="getDegree(degKey.value,0)" class="form-control "
                                            placeholder="Search Degree.." type="text">
                                        <!--                                    <select class="form-control" name="degree" (change)="onChangeDegree($event.target.value,0)">
                                                                            <option value="">-Select-</option>
                                                                            <option *ngFor="let degree of degree" value="{{degree._id}}">{{degree.name}}</option>
                                                                        </select>-->
                                        <div *ngIf="degreeList[0]" class="college-search-list-block">
                                            <ul class="college-search-list box-bor deg-list">
                                                <li *ngFor="let degree of degree[0]" (click)="selectDegree(degree.name,degree._id,0)">
                                                    <div class="college-block">
                                                        {{degree.name}}
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="input-group-addon" >
                                            <i *ngIf="DegreeSelected" class="fa fa-plus" (click)="addDegree()"></i>
                                        </div>
                                    </div>
                                    <div class="row m-t-10">
                                        <div class="form-group col-sm-6">
                                            <label>From:</label>

                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input class="form-control pull-right" name="deg-date-from-0" type="text">
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>To:</label>

                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input class="form-control pull-right" name="deg-date-to-0" type="text">
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <span style="color: red;" *ngIf="errorDegreeDateMsg[0]!=''"> {{errorDegreeDateMsg[0]}}</span>
                                    <span style="color: red;" *ngIf="errordateblankmsg[0]!=''"> {{errordateblankmsg[0]}}</span>
                                </div>
                                <div class="form-group" id="main-subject" *ngFor="let i of degree_count;let j = index">
                                    <div *ngIf="showDegreeSelect(j)">
                                        <label>Select Degree level</label>
                                        <div class="input-group">
                                            <input id="selectDegree-{{j+1}}" [(ngModel)]="register.degreeName[j+1]" #degKey (keyup)="getDegree(degKey.value,j+1)" class="form-control "
                                                placeholder="Search Degree.." type="text">
                                            <!--                                        <select class="form-control" name="degree" (change)="onChangeDegree($event.target.value,(j+1))">
                                                                                    <option value="">-Select-</option>
                                                                                    <option *ngFor="let degree of degree" value="{{degree._id}}">{{degree.name}}</option>
                                                                                </select>-->
                                            <div *ngIf="degreeList[j+1]" class="college-search-list-block">
                                                <ul class="college-search-list box-bor deg-list">
                                                    <li *ngFor="let degree of degree[j+1]" (click)="selectDegree(degree.name,degree._id,j+1)">
                                                        <div class="college-block">
                                                            {{degree.name}}
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="input-group-addon" (click)=removeDegree(j)>
                                                <i class="fa fa-minus"></i>
                                            </div>
                                        </div>
                                        <div class="row m-t-10">
                                            <div class="form-group col-sm-6">
                                                <label>From:</label>

                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input class="form-control pull-right" name="deg-date-from-{{j+1}}" type="text">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>To:</label>

                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input class="form-control pull-right" name="deg-date-to-{{j+1}}" type="text">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                        <span style="color: red;" *ngIf="errorDegreeDateMsg[j+1]!=''"> {{errorDegreeDateMsg[j+1]}}</span>
                                        <span style="color: red;" *ngIf="errordateblankmsg[j+1]!=''"> {{errordateblankmsg[j+1]}}</span>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-primary display-full mr-25" data-toggle="tab" aria-expanded="true" (click)="regStep=2;">Back</a>
                            <button type="submit" class="btn btn-primary display-full mr-25" (click)="degreeDate()">Register</button>
                            <!--<div class="skip-blk"> <button type="submit" class="btn btn-primary display-full" (click)="degreeDate()">Skip And Register</button></div>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="register-box-body" style="display: none;">
            <button class="btn btn-primary invite-btn mr-25">Invite Friends</button>
            <div class="box box-danger box-orange">
                <p>see who from your college</p>
                <div class="box-body">
                    <ul class="users-list clearfix">
                        <li class="active">
                            <a class="member-border display-full"> <img alt="User Image" src="public/dist/img/user1-128x128.jpg"></a>
                        </li>
                        <li>
                            <a class="member-border display-full"> <img alt="User Image" src="public/dist/img/user8-128x128.jpg"></a>
                        </li>
                        <li class="active">
                            <a class="member-border display-full"> <img alt="User Image" src="public/dist/img/user7-128x128.jpg"></a>
                        </li>
                        <li>
                            <a class="member-border display-full"> <img alt="User Image" src="public/dist/img/user6-128x128.jpg"></a>
                        </li>
                        <li>
                            <a class="member-border display-full"> <img alt="User Image" src="public/dist/img/user2-160x160.jpg"></a>
                        </li>
                        <li>
                            <a class="member-border display-full"> <img alt="User Image" src="public/dist/img/user5-128x128.jpg"></a>
                        </li>
                        <li class="active">
                            <a class="member-border display-full"> <img alt="User Image" src="public/dist/img/user4-128x128.jpg"></a>
                        </li>
                        <li>
                            <a class="member-border display-full"><img alt="User Image" src="public/dist/img/user3-128x128.jpg"></a>
                        </li>
                    </ul>
                </div>
                <div class="box-footer text-center">
                    <div class="form-group has-feedback">
                        <input type="search" class="form-control" placeholder="search" />
                        <span class="fa fa-search form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary display-full mr-25">Visit my profile</button>
        </div>
        <!-- /.form-box -->
    </div>
    <div class="account-footer text-center">
        <p>@Student Network Web, All Rights Reserved. | Privacy - Terms of Services -contact Us - Mobile Site</p>
    </div>
</div>