page-comment-edit-modal {
    .gradient
    {
        
        h1{margin: 0 !important;}
    }
    .header-md::after{background: none; height: 0;}
    .share-btn
        {
            .button{width: 85%;}
        }
}
