<!--
  Generated template for the FriendProfile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header gradient">
  <ion-navbar>
    <ion-title>
      <h1 class="header-title" text-center>Friend Profile</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner icon="spiral" *ngIf="loader"></ion-spinner>    
  <div style="margin-top: 12px; text-align: center;" *ngIf="isUserBlocked">Page content not available.</div>
  <div *ngIf="user && !isUserBlocked">
    <ion-grid class="profile-header">
      <ion-row class="top-btn-row">
        <ion-col  class="border-right" [class.check-status]="user.current_friends_status_code != 3">
          <button ion-button *ngIf="user.current_friends_status_code == 6" style="width: 100%;" (click)="addAsFriend(user)">Add as Friend</button>
          <button ion-button *ngIf="user.current_friends_status_code == 3" style="width: 100%;">Already Friend</button>
          <button ion-button *ngIf="user.current_friends_status_code == 1" (click)="cancelRequestedFriend(user)" style="width: 100%;">Cancel Request</button>
          <button ion-button *ngIf="user.current_friends_status_code == 2" style="width: 100%;" (click)="getFriendManagementPage()">Pending Request</button>
        </ion-col>
        <ion-col  [class.check-status]="user.current_friends_status_code != 3" >
          <button *ngIf="user.following_friend_status_code == 6" ion-button style="width: 100%;" (click)="setFollow(user)">Follow</button>
          <button *ngIf="user.following_friend_status_code == 3" ion-button style="width: 100%;" (click)="setUnFollow(user)">UnFollow</button>
        </ion-col>
        <ion-col class="border-left" *ngIf="user.current_friends_status_code == 3">
          <button  ion-button style="width: 100%;" (click)="gotochat()">Send Message</button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="user.userDetails" class="user-detail-container">
        <ion-col col-4 class="user-img">
          <img *ngIf="user.userDetails.photo" src="{{dataService.apiBaseUrl}}public/files/ProfilePicture/{{user.userDetails.photo}}"
            alt="{{user.userDetails.photo}}">
          <img *ngIf="!user.userDetails.photo" src="{{dataService.apiBaseUrl}}public/files/ProfilePicture/no_image.png" alt="no_image.png">
        </ion-col>
        <ion-col col-8 class="user-detail">
          <ion-row class="user-name">{{ user.userDetails.fname }} <span *ngIf="user.userDetails?.lname">&nbsp;{{user.userDetails?.lname }}</span></ion-row>
          <ion-row class="user-login" *ngIf="user.userDetails.login_details">Last Login: {{ user.userDetails.login_details.last_login | datetimefilterpipe }}</ion-row>
          <ion-row *ngIf="user.userDetails.social_link">
            <a *ngIf="user.userDetails.social_link.linkedin" href="{{user.userDetails.social_link.linkedin}}" target="_blank" class="social-icon linkedIn"><i class="fa fa-linkedin"></i></a>
            <a *ngIf="user.userDetails.social_link.twitter" href="{{user.userDetails.social_link.twitter}}" target="_blank" class="social-icon twitter"><i class="fa fa-twitter"></i></a>
            <a *ngIf="user.userDetails.social_link.facebook" href="{{user.userDetails.social_link.facebook}}" target="_blank" class="social-icon facebook"><i class="fa fa-facebook"></i></a>
            <a *ngIf="user.userDetails.social_link.google_plus" href="{{user.userDetails.social_link.google_plus}}" target="_blank" class="social-icon googlePlus"><i class="fa fa fa-google-plus"></i></a>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="user-counter">
        <ion-col text-right width-33 (click)="goToFriendPage(user.friends)">
          <p text-center color="white">Friends<span class="count border-orange"> {{user.friendsCount}}</span></p>
        </ion-col>
        <ion-col width-33 (click)="goToFollowersPage(user.followers)">
          <p text-center color="white">Followers<span class="count border-green"> {{user.followersCount}}</span></p>
        </ion-col>
        <ion-col text-left width-33 (click)="goToFollowingPage(user.followings)">
          <p text-center color="white">Following<span class="count border-yellow"> {{user.followingsCount}}</span></p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="segments">
      <ion-segment [(ngModel)]="tab">
        <ion-segment-button value="Profile">Post</ion-segment-button>
        <ion-segment-button value="Academics">Academics</ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="tab" class="user-info">
      <ion-list *ngSwitchCase="'Profile'" class="user-basic-info">
        <ion-grid class="search-container">
          <ion-row no-padding>
            <ion-col col-12 no-padding (click)="advancesearch()">
              <ion-item>
                <ion-icon name="search"></ion-icon> Search Posts
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="accordian" class="advance-search-item">
            <ion-row class="search-input-container">
              <ion-input placeholder="Search Subject..." (keyup)="subjectSearch($event)" (focus)="subjectSearch($event)" [(ngModel)]="searchData.subject_name"></ion-input>
              <div *ngIf="searchedSubjectsList.length" class="search-list">
                <ul class="">
                  <li *ngFor="let subject of searchedSubjectsList">
                    <div class="college-block" (click)="selectSubject(subject._id,subject.name)">
                      {{subject.name}}
                    </div>
                  </li>
                </ul>
              </div>
            </ion-row>
            <ion-row class="search-input-container">
              <ion-input placeholder="Search College..." (keyup)="collegeSearch($event)" (focus)="collegeSearch($event)" [(ngModel)]="searchData.college_name"></ion-input>
              <div *ngIf="searchedCollegesList.length" class="search-list">
                <ul class="">
                  <li *ngFor="let college of searchedCollegesList">
                    <div class="college-block" (click)="selectCollege(college._id,college.name)">
                      {{college.name}}
                    </div>
                  </li>
                </ul>
              </div>
            </ion-row>
            <ion-row class="search-input-container">
              <ion-input placeholder="Search Degree..." (keyup)="degreeSearch($event)" (focus)="degreeSearch($event)" [(ngModel)]="searchData.degree_name"></ion-input>
              <div *ngIf="searchedDegreesList.length" class="search-list">
                <ul class="">
                  <li *ngFor="let degree of searchedDegreesList">
                    <div class="college-block" (click)="selectDegree(degree._id,degree.name)">
                      {{degree.name}}
                    </div>
                  </li>
                </ul>
              </div>
            </ion-row>
            <ion-row class="search-btn-container">
              <ion-col width-50 no-padding class="advancesearch-btn">
                <button ion-button color="dark-blue" (click)="searchReset()">Show All</button>
              </ion-col>
              <ion-col width-50 text-right no-padding class="advancesearch-btn">
                <button ion-button color="primary" [disabled]="searchStatus" (click)="searchPost()">Search</button>
              </ion-col>
            </ion-row>
             <ion-row class="filter-data" padding-left *ngIf="showFilterText"> 
                <span >Filter By :- {{showFilterText}}</span>
            </ion-row>
          </ion-row>
        </ion-grid>

        <ion-label class="filter-post">Filter Posts By :-</ion-label>
        <ion-row class="header-filter">
          
          <ion-col class="arrow-slide" width-5 *ngIf="!viewTab" (click)="hidetab()">
            <ion-item>
              <ion-icon name="arrow-dropleft"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col width-15 *ngIf="viewTab" (click)="updateParameter(10,0)">
            <ion-item [class.filter-active]="this.filteractive[0]">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
              <span>All</span>
            </ion-item>
          </ion-col>
          <ion-col width-15 *ngIf="viewTab" (click)="updateParameter(1,1)">
            <ion-item [class.filter-active]="this.filteractive[1]">
              <i class="icomoon-status-icon"></i>
              <span>Status</span>
            </ion-item>
          </ion-col>
          <ion-col width-15 *ngIf="viewTab" (click)="updateParameter(3,2)">
            <ion-item [class.filter-active]="this.filteractive[2]">
              <i class="icomoon-camera-icon"></i>
              <span>Photo</span>
            </ion-item>
          </ion-col>
          <ion-col width-15 (click)="updateParameter(4,3)">
            <ion-item [class.filter-active]="this.filteractive[3]">
              <i class="icomoon-video-icon"></i>
              <span>Video</span>
            </ion-item>
          </ion-col>
          <ion-col width-15 (click)="updateParameter(5,4)">
            <ion-item [class.filter-active]="this.filteractive[4]">
              <i class="icomoon-link-icon"></i>
              <span>Link</span>
            </ion-item>
          </ion-col>
          <ion-col width-15 *ngIf="!viewTab" (click)="updateParameter(7,5)">
            <ion-item [class.filter-active]="this.filteractive[5]">
              <i class="icomoon-document-icon"></i>
              <span>Document</span>
            </ion-item>
          </ion-col>
          <ion-col width-15 *ngIf="!viewTab" (click)="updateParameter(6,6)">
            <ion-item [class.filter-active]="this.filteractive[6]">
              <i class="icomoon-audio-icon"></i>
              <span>Audio</span>
            </ion-item>
          </ion-col>
          <ion-col width-15 *ngIf="!viewTab" (click)="updateParameter(2,7)">
            <ion-item [class.filter-active]="this.filteractive[7]">
              <ion-icon name="help-circle"></ion-icon>
              <span>Question</span>
            </ion-item>
          </ion-col>
          <ion-col class="arrow-slide" *ngIf="viewTab" (click)="hidetab()">
            <ion-item>
              <ion-icon name="arrow-dropright"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <span class="no-data" *ngIf="!timelinedata.length">No data found...</span>
          <ion-grid *ngIf="timelinedata" no-padding>
            <ion-row *ngFor="let data of timelinedata;let j=index">
              <ion-card *ngIf="data.friend_id">
                <ion-item class="post-header" *ngIf="data.friend_id">
                    <ion-avatar item-left>
                        <img *ngIf="data.friend_id.photo" src="{{dataService.apiBaseUrl}}public/files/ProfilePicture/{{data.friend_id.photo}}"
                          alt="User Image">
                        <img *ngIf="!data.friend_id.photo" src="{{dataService.apiBaseUrl}}public/files/ProfilePicture/no_image.png" alt="User Image">
                      </ion-avatar>
                  <h2 *ngIf="data.friend_id.fname"><span (click)="getProfileById(data.friend_id._id)" class="name">{{data.friend_id.fname + ' ' + data.friend_id.lname}}</span>
                    <span color="white"> {{data.title}} of</span>
                      <span *ngIf="data.created_by" class="name" (click)="getProfileById(data.created_by._id)">{{data.created_by.fname + ' ' + data.created_by.lname}}</span>
                  </h2>
                  <p>{{data.timestamp | datetimefilterpipe}}</p>
                </ion-item>
              </ion-card>
              <ion-card *ngIf="data.post_id">
                  <ion-item class="post-header" *ngIf="data.post_id">
                      <ion-avatar item-left>
                        <img *ngIf="data.post_id.created_by.photo" src="{{dataService.apiBaseUrl}}public/files/ProfilePicture/{{data.post_id.created_by.photo}}"
                          alt="User Image">
                        <img *ngIf="!data.post_id.created_by.photo" src="{{dataService.apiBaseUrl}}public/files/ProfilePicture/no_image.png" alt="User Image">
                      </ion-avatar>
                      <h2 *ngIf="data.created_by.fname"><span class="name" (click)="getProfileById(data.created_by._id)">{{data.created_by.fname + ' ' + data.created_by.lname}}</span>
                        <span color="white"> {{data.title}}</span>
                          <span class="post-type" *ngIf="data.post_id.origin_creator && data.post_id.origin_creator._id != data.post_id.created_by._id">&nbsp;of
                                 <a class="color-red c-p" (click)="getProfileById(data.post_id.origin_creator._id)">{{data.post_id.origin_creator.fname + ' ' + data.post_id.origin_creator.lname}}</a>
                                 </span>
                          <span (click)="getDegreeWall(data.post_id.degree_id._id)" *ngIf="data.post_id.degree_id"> <span color="white" *ngIf="(data.post_type != 8) || (data.post_type == 8 && data.post_id.origin_creator)">in</span> {{data.post_id.degree_id.name}}</span>
                          <span (click)="getCollegeWall(data.post_id.college_id._id)" *ngIf="data.post_id.college_id"><span color="white" *ngIf="(data.post_type != 8) || (data.post_type == 8 && data.post_id.origin_creator)">in</span> {{data.post_id.college_id.name}}</span>
                          <span (click)="getSubjectWall(data.post_id.subject_id._id)" *ngIf="data.post_id.subject_id"><span color="white" *ngIf="(data.post_type != 8) || (data.post_type == 8 && data.post_id.origin_creator)">in</span> {{data.post_id.subject_id.name}}</span>
                          <span *ngIf="data.post_id.group_id"> <span color="white"> in </span><a class="color-red c-p" (click)="getGroupWall(data.post_id.group_id._id)">{{data.post_id.group_id.title}}</a>
                           <span color="white"> group under</span>
                            <span class="color-red c-p" (click)="getSubjectWall(data.post_id.group_id.subject_id._id)" *ngIf="data.post_id.group_id.subject_id">{{data.post_id.group_id.subject_id.name}}</span> 
                            <span  class="color-red c-p" (click)="getCollegeWall(data.post_id.group_id.college_id._id)" *ngIf="data.post_id.group_id.college_id">{{data.post_id.group_id.college_id.name}}</span> 
                            <span  class="color-red c-p" (click)="getDegreeWall(data.post_id.group_id.degree_id._id)" *ngIf="data.post_id.group_id.degree_id">{{data.post_id.group_id.degree_id.name}}</span> 
                             </span>
                               <span class="follow-unfollow-btn">
                             <button ion-button *ngIf="(data.created_by._id!=loggedInUserId)  && (data.created_by._id | followunfollowstatus)" (click)="myWallService.onClickUnFollow(data.created_by._id)" text-left>
                                Unfollow 
                            </button>
                              <button ion-button *ngIf="(data.created_by._id!=loggedInUserId)  && !(data.created_by._id | followunfollowstatus)" (click)="myWallService.onClickFollow(data.created_by._id)" text-left>
                                Follow 
                            </button>
                             </span>
                      </h2>
  
                      <p>
                        {{getCategory(data.post_id.catagory)}}
                        <span *ngIf="data.timestamp"> | {{data.timestamp | datetimefilterpipe}}</span>
                        <span *ngIf="data.post_id.privacy"> |
                        <span *ngIf="data.post_id.privacy == 1" >Public</span>
                        <span *ngIf="data.post_id.privacy  == 2">Private</span>
                        <span *ngIf="data.post_id.privacy  == 3">All Friends</span>
                        <span *ngIf="data.post_id.privacy  == 4">All Followers</span>
                        <span *ngIf="data.post_id.privacy  == 5">Custom</span>
                        <span *ngIf="data.post_id.privacy  == 6">All Friends And Followers</span>
                        </span>
  
                      </p>
                      <div class="post-edit-icon">
                        <span item-right *ngIf="data.created_by._id==loggedInUserId">
                                  <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteClick(data.post_id, j)"></i>
                              </span>
                      </div>
                    </ion-item>
                <ion-card-content no-padding>
                  

                  <div class="post-text-container row" *ngIf="data.post_id.shared_title" (click)="goToSinglePost(data, data.post_id._id)">
                    <!--Post-shared title-->
                    <span embed-directive>{{data.post_id.shared_title}}</span>
                  </div>
                  <div [class.share-post]="data.post_id?.origin_creator" [class.mt-10]="data.post_id?.origin_creator && !data.post_id?.shared_title">
                    <div (click)="goToSinglePost(data, data.post_id._id)" class="post-text-container row" *ngIf="data.post_id?.name && data.post_id?.name !=null ">
                      <!--Post-title-->
                      <span embed-directive>{{data.post_id.name}}</span>
                    </div>
                    <!-- photo -->

                    <div *ngIf="data.post_id!=null && data.post_id.photo[0]" (click)="goToSinglePost(data, data.post_id._id)" class="post-img">
                      <img *ngIf="data.post_id.photo[0].title==null" src="{{dataService.apiBaseUrl}}public/files/{{getFoldername(data.type)}}/Photos/{{data.post_id.origin_creator?data.post_id.origin_creator._id:data.post_id.created_by._id}}/{{data.post_id.photo[0].file_name}}"
                        alt="Photo">
                      <img *ngIf="data.post_id.photo[0].title!=null" src="{{data.post_id.photo[0].title}}" alt="Photo">
                    </div>


                    <!-- video -->

                    <div *ngIf="data.post_id!=null && data.post_id.video[0]" (click)="goToSinglePost(data, data.post_id._id)">
                      <!-- <h4 *ngIf="data.post_id.video[0].file_name">{{data.post_id.video[0].file_name | documentNameFilter}}</h4> -->
                      <video *ngIf="data.post_id.video[0].title==null" width="100%" height="100%" controls controlsList="nodownload">
                        <source src="{{dataService.apiBaseUrl}}public/files/{{getFoldername(data.type)}}/Videos/{{data.post_id.origin_creator?data.post_id.origin_creator._id:data.post_id.created_by._id}}/{{data.post_id.video[0].file_name}}"
                          type="video/mp4">
                      </video>
                      <iframe *ngIf="data.post_id.video[0].title!=null" width="100%" height="320px" [src]="data.post_id.video[0]?.title | youtubeSafeUrl"
                        frameborder="0" allowfullscreen></iframe>
                    </div>

                    <!-- audio -->
                    <div *ngIf="data.post_id!=null && data.post_id.audio[0]" (click)="goToSinglePost(data, data.post_id._id)">
                      <!-- <h4 *ngIf="data.post_id.audio[0].file_name">{{data.post_id.audio[0].file_name | documentNameFilter}}</h4> -->
                      <audio controls controlsList="nodownload" *ngIf="data.post_id.audio[0].title==null">
                        <source src="{{dataService.apiBaseUrl}}public/files/{{getFoldername(data.type)}}/Audios/{{data.post_id.origin_creator?data.post_id.origin_creator._id:data.post_id.created_by._id}}/{{data.post_id.audio[0].file_name}}">
                      </audio>
                      <audio controls controlsList="nodownload" *ngIf="data.post_id.audio[0].title!=null">
                        <source src="{{data.post_id.audio[0].title}}" >
                      </audio>
                    </div>


                    <!-- link -->

                    <div class="post-text-container row" *ngIf="data.post_id!=null && data.post_id.link[0]">
                      <span *ngIf="data.post_id.link[0].title" embed-directive>{{data.post_id.link[0].title}}</span>
                      <span *ngIf="data.post_id.link[0].description"><a href="{{data.post_id.link[0].description}}" target="_blank" embed-directive>{{data.post_id.link[0].description}}</a></span>
                    </div>

                    <!-- Documents -->

                    <div class="post-text-container row" *ngIf="data.post_id!=null && data.post_id.document[0]">
                      <h4 *ngIf="data.post_id.document[0].file_name">{{data.post_id.document[0].file_name | documentNameFilter}}</h4>
                      <a href="{{dataService.apiBaseUrl}}public/files/{{getFoldername(data.type)}}/Documents/{{data.post_id.origin_creator?data.post_id.origin_creator._id:data.post_id.created_by._id}}/{{data.post_id.document[0].file_name}}">
                        <span *ngIf="data.post_id.document[0].file_name.split('.').pop() == 'txt' || data.post_id.document[0].file_name.split('.').pop() == 'text'">
                                <i class="fa fa-file-text fa-4x">&nbsp;</i>Open/Download
                            </span>
                        <span *ngIf="data.post_id.document[0].file_name.split('.').pop() == 'pdf'">
                                <i class="fa fa-file-pdf-o fa-4x">&nbsp;</i>Open/Download
                            </span>
                        <span *ngIf="data.post_id.document[0].file_name.split('.').pop() == 'doc' || data.post_id.document[0].file_name.split('.').pop() == 'dot' || data.post_id.document[0].file_name.split('.').pop() == 'word' || data.post_id.document[0].file_name.split('.').pop() == 'wiz' || data.post_id.document[0].file_name.split('.').pop() == 'w6w' || data.post_id.document[0].file_name.split('.').pop() == 'docx'">
                                <i class="fa fa-file-word-o fa-4x">&nbsp;</i>Open/Download
                            </span>
                        <span *ngIf="data.post_id.document[0].file_name.split('.').pop() == 'xls' || data.post_id.document[0].file_name.split('.').pop() == 'xlm' || data.post_id.document[0].file_name.split('.').pop() == 'xll' || data.post_id.document[0].file_name.split('.').pop() == 'xlc' || data.post_id.document[0].file_name.split('.').pop() == 'xlb' || data.post_id.document[0].file_name.split('.').pop() == 'xlw' || data.post_id.document[0].file_name.split('.').pop() == 'xlsx'">
                                <i class="fa fa-file-excel-o fa-4x">&nbsp;</i>Open/Download
                            </span>
                        <span *ngIf="data.post_id.document[0].file_name.split('.').pop() == 'ppt' || data.post_id.document[0].file_name.split('.').pop() == 'pot' || data.post_id.document[0].file_name.split('.').pop() == 'pps' || data.post_id.document[0].file_name.split('.').pop() == 'ppa' || data.post_id.document[0].file_name.split('.').pop() == 'pwz' ">
                                <i class="fa fa-file-powerpoint-o fa-4x">&nbsp;</i>Open/Download
                            </span>
                        <span *ngIf="data.post_id.document[0].file_name.split('.').pop() == 'xml'">
                                <ion-icon name="document"></ion-icon>Open/Download
                            </span>
                      </a>
                    </div>

                    <!-- message -->
                    <div class="post-text-container row" *ngIf="data.post_id!=null && data.post_id.message" embed-directive>
                      {{data.post_id.message}}
                    </div>

                    <!-- question -->
                    <div class="post-text-container row" *ngIf="data.post_id!=null && data.post_id.question" embed-directive>
                      {{data.post_id.question}}
                    </div>
                  </div>
                </ion-card-content>

                <ion-row *ngIf="data.post_id" class="align-center card-row-footer" nowrap>
                  <ion-col col-12 *ngIf="data.post_id">
                    <button ion-button icon-left clear small class="pr-0" (click)="CommentModal(data.post_id._id,data.post_id.comments)">
                        <i class="{{data.post_id.comments|commentFilterPipe:data.post_id._id}}" aria-hidden="true"></i>        
                        <div *ngIf="data.post_id.comments.length<=1">{{data.post_id.comments.length}}&nbsp;Comment</div>
                        <div *ngIf="data.post_id.comments.length>1">{{data.post_id.comments.length}}&nbsp;Comments</div>
                    </button>
                    <button ion-button icon-left clear small class="pr-0" (click)="gotoJournal(data.post_id)">
                        <i class="icomoon-journal-icon"></i>
                        <div>Journal</div>
                    </button>
                    <button ion-button icon-left clear small class="pr-0" (click)="onShareClick(data.post_id)">
                        <ion-icon name='share-alt' [class.color-orange]="data.post_id?.origin_creator && data.post_id?.created_by?._id == loggedInUserId"></ion-icon>                                
                        Share
                    </button>
                    <button ion-button icon-only class="pr-0 like-btn">
                        <img class="pr-0" src="{{dataService.apiBaseUrl}}public/files/logo/{{data.post_id.likes|likeFilterPipe:data.post_id._id}}" (click)="like(data.post_id._id,data.post_id)"/> <div>{{data.post_id.likes.length}}</div>
                        <div (click)="onViewLikeClick(data.post_id._id)" *ngIf="data.post_id.likes.length > 0">&nbsp;View</div>
                  </button>
                  <button *ngIf="data.post_id?.created_by?._id != loggedInUserId" ion-button icon-left clear small class="pr-0 flag-button" (click)="onFlagClick(data.post_id._id)">
                    <ion-icon name='flag'></ion-icon>                                
                </button>
                      <!--<button *ngIf="(data.post_id?.created_by?._id != loggedInUserId)  && (data.post_id?.created_by?._id | followunfollowstatus)" (click)="myWallService.onClickUnFollow(data.post_id?.created_by?._id)" ion-button icon-left clear small class="pr-0" >
                                <ion-icon class="color-orange" name='heart'></ion-icon>
                                Unfollow
                            </button>
                            <button *ngIf="(data.post_id?.created_by?._id != loggedInUserId)  && !(data.post_id?.created_by?._id | followunfollowstatus)" (click)="myWallService.onClickFollow(data.post_id?.created_by?._id)" ion-button icon-left clear small class="pr-0" >
                                <ion-icon name='heart'></ion-icon>
                                Follow
                            </button>-->
                  </ion-col>
                  <!-- <ion-col col-3 class="align-right like-btn" > -->
                    <!--<button ion-button icon-only (click)="like(data.post_id._id,data.post_id)">
                            <ion-icon class={{data.post_id.likes|likeFilterPipe:data.post_id._id}} name="thumbs-up"></ion-icon> {{data.post_id.likes.length}}  
                        </button>-->
                           <!-- <img class="pr-0" src="{{dataService.apiBaseUrl}}public/files/logo/{{data.post_id.likes|likeFilterPipe:data.post_id._id}}" (click)="like(data.post_id._id,data.post_id)"/> {{data.post_id.likes.length}} 
                          <button ion-button icon-only class="pr-0" (click)="onViewLikeClick(data.post_id.likes)" *ngIf="data.post_id.likes.length > 0">
                           View
                        </button>
                  </ion-col> -->
                   <!--<ion-col col-1 class="more-btn align-right">
                        <button ion-button icon-only (click)="onMorePopover(data.post_id)" class="text-right">
                            <ion-icon name="more"></ion-icon>
                        </button>
                     </ion-col>-->
                </ion-row>
              </ion-card>
            </ion-row>
          </ion-grid>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-row>
      </ion-list>

      <ion-list *ngSwitchCase="'Academics'" class="academic-info">
        <!--Subjects-->
        <ion-item class="heading">
          <h4 class="category-heading">Currently Taking ({{user.current_subjects.length}})</h4>
        </ion-item>
        <ion-item *ngIf="user.current_subjects" class="acedemic-content">
          <ion-list *ngIf="user.current_subjects.length > 0">
            <ion-item text-wrap *ngFor="let current_subject of user.current_subjects" (click)="getSubjectWall(current_subject.subject_id)"
              class="subject-ist">
              <ion-row class="subject-ist-name">{{current_subject.name}}</ion-row>
              <ion-row *ngIf="current_subject.from_date" class="time-duration">{{current_subject.from_date| amDateFormat:'MMM YYYY'}}&nbsp; to &nbsp; {{current_subject.to_date| amDateFormat:'MMM YYYY'}}
              </ion-row>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="user.current_subjects.length == 0">
            <ion-item>No current subject found</ion-item>
          </ion-list>
        </ion-item>
        <ion-item class="heading">
          <h4 class="category-heading">Future Subjects ({{user.future_subjects.length}})</h4>
        </ion-item>
        <ion-item *ngIf="user.future_subjects" class="acedemic-content">
          <ion-list *ngIf="user.future_subjects.length > 0">
            <ion-item text-wrap *ngFor="let future_subject of user.future_subjects" (click)="getSubjectWall(future_subject.subject_id)"
              class="subject-ist">
              <ion-row class="subject-ist-name">{{future_subject.name}}</ion-row>
              <ion-row *ngIf="future_subject.from_date" class="time-duration">{{future_subject.from_date| amDateFormat:'MMM YYYY'}}&nbsp; to &nbsp; {{future_subject.to_date| amDateFormat:'MMM YYYY'}}
              </ion-row>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="user.future_subjects.length == 0">
            <ion-item>No future subject found</ion-item>
          </ion-list>
        </ion-item>
        <ion-item class="heading">
          <h4 class="category-heading">Past Subjects ({{user.past_subjects.length}})</h4>
        </ion-item>
        <ion-item *ngIf="user.past_subjects" class="acedemic-content">
          <ion-list *ngIf="user.past_subjects.length > 0">
            <ion-item text-wrap *ngFor="let past_subject of user.past_subjects" (click)="getSubjectWall(past_subject.subject_id)" class="subject-ist">
              <ion-row class="subject-ist-name">{{past_subject.name}}</ion-row>
              <ion-row *ngIf="past_subject.from_date" class="time-duration">{{past_subject.from_date| amDateFormat:'MMM YYYY'}}&nbsp; to &nbsp; {{past_subject.to_date| amDateFormat:'MMM YYYY'}}
              </ion-row>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="user.past_subjects.length == 0">
            <ion-item>No past subject found</ion-item>
          </ion-list>
        </ion-item>
        <ion-item class="heading">
          <h4 class="category-heading">Subject Expert ({{user.subject_experts_list.length}})</h4>
        </ion-item>
        <ion-item *ngIf="user.subject_experts_list" class="acedemic-content">
          <ion-list *ngIf="user.subject_experts_list.length > 0">
            <ion-item text-wrap *ngFor="let expert of user.subject_experts_list" (click)="getSubjectWall(expert.subject_id)" class="subject-ist">
              <ion-row class="subject-ist-name">{{expert.name}}</ion-row>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="user.subject_experts_list.length == 0">
            <ion-item>No subject expert found</ion-item>
          </ion-list>
        </ion-item>
        <ion-item class="heading">
          <h4 class="category-heading">Teacher of Subject ({{user.subject_teacher_list.length}})</h4>
        </ion-item>
        <ion-item *ngIf="user.subject_teacher_list" class="acedemic-content">
          <ion-list *ngIf="user.subject_teacher_list.length > 0">
            <ion-item text-wrap *ngFor="let teacher of user.subject_teacher_list" (click)="getSubjectWall(teacher.subject_id)" class="subject-ist">
              <ion-row class="subject-ist-name">{{teacher.name}}</ion-row>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="user.subject_teacher_list.length == 0">
            <ion-item>No subject teacher found</ion-item>
          </ion-list>
        </ion-item>
        <ion-item class="heading">
          <h4 class="category-heading">Just Interested ({{user.just_interested_list.length}})</h4>
        </ion-item>
        <ion-item *ngIf="user.just_interested_list" class="acedemic-content">
          <ion-list *ngIf="user.just_interested_list.length > 0">
            <ion-item text-wrap *ngFor="let interest of user.just_interested_list" (click)="getSubjectWall(interest.subject_id)" class="subject-ist">
              <ion-row class="subject-ist-name">{{interest.name}}</ion-row>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="user.just_interested_list.length == 0">
            <ion-item>No subject teacher found</ion-item>
          </ion-list>
        </ion-item>
        <!--Current College-->
        <ion-item class="heading">
          <h4 class="category-heading">Current College</h4>
        </ion-item>
        <ion-item *ngIf="user.current_colleges" class="acedemic-content">
          <ion-list *ngIf="user.current_colleges.length > 0">
            <ion-item text-wrap *ngFor="let college of user.current_colleges" (click)="getCollegeWall(college.college_id)" class="subject-ist">
              <ion-row class="subject-ist-name">{{college.name}}</ion-row>
              <ion-row class="time-duration">{{college.from_date| amDateFormat:'MMM YYYY'}}&nbsp; to &nbsp; {{college.to_date| amDateFormat:'MMM YYYY'}}</ion-row>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="user.current_colleges.length == 0">
            <ion-item>No current college added.</ion-item>
          </ion-list>
        </ion-item>
        <!--Past College-->
        <ion-item class="heading">
          <h4 class="category-heading">Past College</h4>
        </ion-item>
        <ion-item *ngIf="user.past_colleges" class="acedemic-content">
          <ion-list *ngIf="user.past_colleges.length > 0">
            <ion-item text-wrap *ngFor="let college of user.past_colleges" (click)="getCollegeWall(college.college_id)" class="subject-ist">
              <ion-row class="subject-ist-name">{{college.name}}</ion-row>
              <ion-row class="time-duration">{{college.from_date| amDateFormat:'MMM YYYY'}}&nbsp; to &nbsp; {{college.to_date| amDateFormat:'MMM YYYY'}}</ion-row>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="user.past_colleges.length == 0">
            <ion-item>No past college added.</ion-item>
          </ion-list>
        </ion-item>
        <!--Future College-->
        <ion-item class="heading">
          <h4 class="category-heading">Future College</h4>
        </ion-item>
        <ion-item *ngIf="user.future_colleges" class="acedemic-content">
          <ion-list *ngIf="user.future_colleges.length > 0">
            <ion-item text-wrap *ngFor="let college of user.future_colleges" (click)="getCollegeWall(college.college_id)" class="subject-ist">
              <ion-row class="subject-ist-name">{{college.name}}</ion-row>
              <ion-row class="time-duration">{{college.from_date| amDateFormat:'MMM YYYY'}}&nbsp; to &nbsp; {{college.to_date| amDateFormat:'MMM YYYY'}}</ion-row>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="user.future_colleges.length == 0">
            <ion-item>No future college added.</ion-item>
          </ion-list>
        </ion-item>
        <!-- Current Degree-->
        <ion-item class="heading">
          <h4 class="category-heading">Current Degree</h4>
        </ion-item>
        <ion-item *ngIf="user.current_degrees" class="acedemic-content">
          <ion-list *ngIf="user.current_degrees.length > 0">
            <ion-item text-wrap *ngFor="let degree of user.current_degrees" (click)="getDegreeWall(degree.degree_id)" class="subject-ist">
              <ion-row class="subject-ist-name">{{degree.name}}</ion-row>
              <ion-row class="time-duration">{{degree.from_date| amDateFormat:'MMM YYYY'}}&nbsp; to &nbsp; {{degree.to_date| amDateFormat:'MMM YYYY'}}</ion-row>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="user.current_degrees.length == 0">
            <ion-item>No current degree added.</ion-item>
          </ion-list>
        </ion-item>
        <!-- Past Degree-->
        <ion-item class="heading">
          <h4 class="category-heading">Past Degree</h4>
        </ion-item>
        <ion-item *ngIf="user.past_degrees" class="acedemic-content">
          <ion-list *ngIf="user.past_degrees.length > 0">
            <ion-item text-wrap *ngFor="let degree of user.past_degrees" (click)="getDegreeWall(degree.degree_id)" class="subject-ist">
              <ion-row class="subject-ist-name">{{degree.name}}</ion-row>
              <ion-row class="time-duration">{{degree.from_date| amDateFormat:'MMM YYYY'}}&nbsp; to &nbsp; {{degree.to_date| amDateFormat:'MMM YYYY'}}</ion-row>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="user.past_degrees.length == 0">
            <ion-item>No past degree added.</ion-item>
          </ion-list>
        </ion-item>
        <!-- Future Degree-->
        <ion-item class="heading">
          <h4 class="category-heading">Future Degree</h4>
        </ion-item>
        <ion-item *ngIf="user.future_degrees" class="acedemic-content">
          <ion-list *ngIf="user.future_degrees.length > 0">
            <ion-item text-wrap *ngFor="let degree of user.future_degrees" (click)="getDegreeWall(degree.degree_id)" class="subject-ist">
              <ion-row class="subject-ist-name">{{degree.name}}</ion-row>
              <ion-row class="time-duration">{{degree.from_date| amDateFormat:'MMM YYYY'}}&nbsp; to &nbsp; {{degree.to_date| amDateFormat:'MMM YYYY'}}</ion-row>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="user.future_degrees.length == 0">
            <ion-item>No future degree added.</ion-item>
          </ion-list>
        </ion-item>
        <!--Skills-->
        <ion-item class="heading">
          <h4 class="category-heading">Skill &amp; Endorsements</h4>
        </ion-item>
        <ion-item *ngIf="user.skills" class="acedemic-content">
          <ion-list *ngIf="user.skills.length > 0">
            <ion-item text-wrap *ngFor="let skill of skills" class="academic-skills">
              <ion-row *ngIf="skill.skill_id">
                <ion-col width-50>
                  <p>{{skill.skill_id.title}} ({{skill.endorse.length}})</p>
                </ion-col>
                <ion-col width-40 *ngFor="let endorse of skill.listedusers" (click)="getProfileById(endorse.user_id._id)" class="endorse-img">
                  <img *ngIf="endorse.user_id.photo" src="{{dataService.apiBaseUrl}}public/files/ProfilePicture/{{endorse.user_id.photo}}">
                  <img *ngIf="!endorse.user_id.photo" src="{{dataService.apiBaseUrl}}public/files/ProfilePicture/no_image.png">
                </ion-col>
                <ion-col width-10 text-right *ngIf="user.is_logged_user == false && user.current_friends_status_code == 3">
                  <button *ngIf="skill.is_endorsed" ion-button item-right (click)="endorseSkill(skill.skill_id._id,2)"><ion-icon name="remove-circle"></ion-icon></button>
                  <button *ngIf="!skill.is_endorsed" ion-button item-right (click)="endorseSkill(skill.skill_id._id,1)"><ion-icon name="add-circle" ></ion-icon></button>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="user.skills.length == 0">
            <ion-item>No skill added</ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>