<div class="master-setting-page">
    <div class="custom1-modal-header layout-row layout-align-space-between m-b-20">
        <div class="h3 header-title">Scheduling</div>
        <div class="header-options layout-row">
            <div class="spinner-lazy-block myload" *ngIf="contentLoding">
                <div class="spinner-lazy">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-body">
        <h4 class="ad-schedule-heading" *ngIf="schedule && schedule.length>0">{{schedule[0].name}}  schedules- </h4>
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Template Name</th>
                    <th>Schedule Date</th>
                    <!--                    <th>Category</th>-->

                    <th>Subject</th>
                    <!--                    <th>Sender</th>-->
                </tr>
            </thead>
            <tbody *ngIf="schedule && schedule.length>0">
                <tr *ngFor="let sched of schedule;let i=index">
                    <td><span>{{i+1}}</span></td>
                    <td><span *ngIf="sched.name">{{sched.name}}</span></td>
                    <td><span *ngIf="sched.date">{{sched.date | amDateFormat:'LLL'}}</span></td>
                    <!--                    <td><span *ngIf="sched.category">{{sched.category}}</span></td>-->
                    <td><span *ngIf="sched.subject">{{sched.subject}}</span></td>
                    <!--                    <td><span *ngIf="sched.sender">{{sched.sender}}</span></td>-->
                </tr>
            </tbody>
        </table>


        <nav class="layout-row layout-align-center-center">
            <ul class="pagination" >
                <li class="page-item ">
                    <a class="page-link"  aria-label="Previous" (click)="getTemplates('pre')">
                        <span aria-hidden="true">&laquo;&nbsp;Previous</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" aria-label="Next" (click)="getTemplates('next')">
                        <span aria-hidden="true">Next&nbsp;&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>