
<section class="content-header" *ngIf="sub">
    <h1> {{sub.subjectDetails.name}} &nbsp;wall </h1>
</section>
<section class="content" *ngIf="sub">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="search-btn">
                    <div class="input-group">
                        <div class="input-group-addon light-gray-bg">
                            <i class="fa fa-search"></i>
                            <span>search</span>
                        </div>
                        <div class="input-right-icon main-search">
                            <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="fa fa-angle-down">&nbsp;</a>
                        </div>
                    </div>
                </div>
                <div id="collapseOne" class="collapse advance-search" aria-expanded="false">
                    <div class="box-body light-gray-bg">
                        <div class="layout-column">
                            <div class="layout-row form-group layout-align-start-center">
                                <div class="flex-20"><label for="category">category :</label></div>
                                <div class="flex-80"><input type="text" class="form-control btn-block" placeholder="Choose Category" /></div>
                            </div>
                            <div class="layout-row form-group layout-align-space-between">
                                <div class="flex-50">
                                    <div class="layout-row layout-align-start-center">
                                        <div class="flex-40"><label for="category">Who Posted :</label></div>
                                        <div class="flex-60">
                                            <select class="form-control">
                                                <option>option 1</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-45">
                                    <div class="layout-row layout-align-space-between-center">
                                        <div class="flex-20"><label for="category">Time :</label></div>
                                        <div class="flex-35">
                                            <div class="layout-row layout-align-center-center">
                                                <span style="margin-right: 10px;">From</span>
                                                <input type="text" class="form-control btn-block" placeholder="Choose Category" />
                                            </div>
                                        </div>
                                        <div class="flex-35">
                                            <div class="layout-row layout-align-center-center">
                                                <span style="margin-right: 10px;">To</span>
                                                <input type="text" class="form-control btn-block" placeholder="Choose Category" />
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                            <div class="layout-row form-group layout-align-space-between">
                                <div class="flex-50">
                                    <div class="layout-row layout-align-start-center">
                                        <div class="flex-40"><label for="category">Tagged Friends :</label></div>
                                        <div class="flex-60">
                                            <select class="form-control">
                                                <option>option 1</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-45">
                                    <div class="layout-row layout-align-start-center">
                                        <div class="flex-40"><label for="category">Order by :</label></div>
                                        <div class="flex-60">
                                            <select class="form-control">
                                                <option>option 1</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-row layout-align-end-center inline-pd-left">
                                <div><button class="btn btn-small post-btn">search</button></div>
                                <div><button class="btn btn-danger btn-small">reset</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well all-status light-gray-bg">
                <ul class="display-flex text-center">
                    <li><a href="#" class=""><i class="fa fa-check-circle-o">&nbsp;</i><p>all</p></a></li>
                    <li><a href="#" class=""><i class="fa fa-commenting">&nbsp;</i><p>Status</p></a></li>
                    <li><a href="#" class=""><i class="fa fa-camera">&nbsp;</i><p>Photos</p></a></li>
                    <li><a href="#" class=""><i class="fa fa-video-camera">&nbsp;</i><p>Videos</p></a></li>
                    <li><a href="#" class=""><i class="fa fa-paperclip">&nbsp;</i><p>Links</p></a></li>
                    <li><a href="#" class=""><i class="fa fa-book">&nbsp;</i><p>Document</p></a></li>
                    <li><a href="#" class=""><i class="fa fa-headphones">&nbsp;</i><p>Audio</p></a></li>
                </ul>
            </div>

            <div class="nav-tabs-custom layout-column">
                <ul class="nav nav-tabs layout-row layout-align-space-between">
                    <li class="active"><a href="#message" data-toggle="tab" aria-expanded="false"><i class="fa fa-inbox">&nbsp;</i>Message</a></li>
                    <li class=""><a href="#photos" data-toggle="tab" aria-expanded="false"><i class="fa fa-photo">&nbsp;</i>Photos</a></li>
                    <li class=""><a href="#videos" data-toggle="tab" aria-expanded="false"><i class="fa fa-video-camera">&nbsp;</i>Videos </a></li>
                    <li class=""><a href="#link" data-toggle="tab" aria-expanded="false"><i class="fa fa-link">&nbsp;</i>Link </a></li>
                    <li class=""><a href="#document" data-toggle="tab" aria-expanded="false"><i class="fa fa-file">&nbsp;</i>Document</a></li>
                    <li class=""><a href="#audio" data-toggle="tab" aria-expanded="false"><i class="fa fa-music">&nbsp;</i>Audio</a></li>
                    <li class=""><a href="#question" data-toggle="tab" aria-expanded="false"><i class="fa fa-question-circle">&nbsp;</i>Question</a></li>
                </ul>
                <div class="layout-column">
                    <div class="tab-content status-content">
                        <div class="tab-pane active" id="message">
                            <div class="layout-row">
                                <div class="flex-10"><span class="user-img"><img src="public/dist/img/text-user.png" alt="" /></span></div>
                                <div class="flex-90"><textarea cols="5" placeholder="Share your thoughts..."></textarea></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="photos">
                            <div class="layout-row two-pane" id="hide_photos">
                                <div class="pane-left flex-50 layout-column layout-align-center-center flex-40">
                                    <div class="info-value custom-upload">
                                        <input type="file" />
                                        <div class="upload-sign">
                                            <i class="fa fa-image">&nbsp;</i>
                                            <span>Upload Photo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-50 layout-column layout-align-center-center">
                                    <div class="info-value"  onclick="$('#show_photos, #hide_photos').toggle();">
                                        <i class="fa fa-link">&nbsp;</i>
                                        <span>embed photo</span>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-column"  id="show_photos" style="display: none;padding:15px;">
                                <div class="layout-row">
                                    <div class="flex-10"><span class="user-img"><img src="public/dist/img/text-user.png" alt="" /></span></div>
                                    <div class="flex-90"><textarea cols="5" placeholder="Share your thoughts..."></textarea></div>
                                </div>
                                <div class="layout-row layout-align-start inline-pd">
                                    <div class="flex-50"><input placeholder="Paste a link here..." type="text" class="btn-block" /></div>
                                    <div class=""><button class="btn btn-small post-btn">Add</button></div>
                                    <div class=""><button class="btn btn-danger btn-small" onclick="$('#show_photos, #hide_photos').toggle();">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="videos">
                            <div class="layout-row two-pane" id="hide_videos">
                                <div class="pane-left flex-50 layout-column layout-align-center-center flex-40">
                                    <div class="info-value custom-upload">
                                        <input type="file" />
                                        <div class="upload-sign">
                                            <i class="fa fa-video-camera">&nbsp;</i>
                                            <span>Upload video</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pane-right flex-50 layout-column layout-align-center-center flex-60">
                                    <div class="info-value" onclick="$('#show_videos, #hide_videos').toggle();">
                                        <i class="fa fa-link">&nbsp;</i>
                                        <span>embed video</span>
                                    </div>
                                </div>     
                            </div>
                            <div class="layout-column"  id="show_videos" style="display: none;padding:15px;">
                                <div class="layout-row">
                                    <div class="flex-10"><span class="user-img"><img src="public/dist/img/text-user.png" alt="" /></span></div>
                                    <div class="flex-90"><textarea cols="5" placeholder="Share your thoughts..."></textarea></div>
                                </div>
                                <div class="layout-row layout-align-start inline-pd">
                                    <div class="flex-50"><input placeholder="Paste a link here..." type="text" class="btn-block" /></div>
                                    <div class=""><button class="btn btn-small post-btn">Add</button></div>
                                    <div class=""><button class="btn btn-danger btn-small" onclick="$('#show_videos, #hide_videos').toggle();">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="link">
                            <div class="layout-column">
                                <div class="layout-row">
                                    <div class="flex-10"><span class="user-img"><img src="public/dist/img/text-user.png" alt="" /></span></div>
                                    <div class="flex-90"><textarea cols="5" placeholder="Share your thoughts..."></textarea></div>
                                </div>
                                <div class="layout-row layout-align-start inline-pd">
                                    <div class="flex-50"><input placeholder="Paste a link here..." type="text" class="btn-block" /></div>
<!--                                    <div class=""><button class="btn btn-small post-btn">Add</button></div>
                                    <div class=""><button class="btn btn-danger btn-small">Cancel</button></div>-->
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="document">
                            <div class="layout-column layout-align-center-center pane-left two-pane">
                                <div class="info-value custom-upload">
                                    <input type="file" />
                                    <div class="upload-sign">
                                        <i class="fa fa-file-text">&nbsp;</i>
                                        <span>Upload Document</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="audio">
                            <div class="layout-row two-pane" id="hide_audio">
                                <div class="pane-left flex-50 layout-column layout-align-center-center flex-40">
                                    <div class="info-value custom-upload">
                                        <input type="file" />
                                        <div class="upload-sign">
                                            <i class="fa fa-music">&nbsp;</i>
                                            <span>Upload music</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pane-right flex-50 layout-column layout-align-center-center flex-60">
                                    <div class="info-value" onclick="$('#show_audio, #hide_audio').toggle();">
                                        <i class="fa fa-link">&nbsp;</i>
                                        <span>embed music</span>
                                    </div>
                                </div>     
                            </div>
                            <div class="layout-column"  id="show_audio" style="display: none;padding:15px;">
                                <div class="layout-row">
                                    <div class="flex-10"><span class="user-img"><img src="public/dist/img/text-user.png" alt="" /></span></div>
                                    <div class="flex-90"><textarea cols="5" placeholder="Share your thoughts..."></textarea></div>
                                </div>
                                <div class="layout-row layout-align-start inline-pd">
                                    <div class="flex-50"><input placeholder="Paste a link here..." type="text" class="btn-block" /></div>
                                    <div class=""><button class="btn btn-small post-btn">Add</button></div>
                                    <div class=""><button class="btn btn-danger btn-small" onclick="$('#show_audio, #hide_audio').toggle();">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="question">
                            Question
                        </div>
                    </div>
<!--                    <div class="category-add">check in</div>-->
                    <div class="chooes-category tab-content">
                        <div class="tab-pane active" id="choose_category">
                            choose category
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="enter_location">
                            enter location
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tag_friends">
                            tag friends
                        </div>
                        <div class="tab-pane" id="choose_journal">
                            choose journal
                        </div>
                        <div class="tab-pane" id="enter_post">
                            enter post destroy date
                        </div>
                    </div>
                    <div class="chooes-option gray-gradient layout-row layout-align-space-between">
                        <div class="option-set">
                            <ul class="layout-row nav nav-tabs">
                                <li class="active"><a href="#choose_category" data-toggle="tab" aria-expanded="true" title="choose category" class="fa fa-folder-open">&nbsp;</a></li>
                                <li><a href="#enter_location" data-toggle="tab" aria-expanded="false" title="enter location" class="fa fa-map-marker">&nbsp;</a></li>
                                <li><a href="#tag_friends" data-toggle="tab" aria-expanded="false" title="tag friends" class="fa fa-tags">&nbsp;</a></li>
                                <li><a href="#choose_journal" data-toggle="tab" aria-expanded="false" title="choose journal" class="fa fa-file-text">&nbsp;</a></li>
                                <li><a href="#enter_post" data-toggle="tab" aria-expanded="false" title="enter post destroy date" class="fa fa-calendar">&nbsp;</a></li>
                            </ul>
                        </div>
                        <div class="layout-row option-btn">
                            <div class="public-btn">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                        <span class="fa fa-users">&nbsp;</span>Public<span class="caret">&nbsp;</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class=""><button class="btn post-btn btn-small">Post</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post layout-column">
                <div class="user-block">
                    <img class=" " src="public/dist/img/user6-128x128.jpg" alt="User Image">
                    <span class="username">
                        <a href="#"><span class="color-red">Herminia Nelson</span> posted a Photo in <span class="color-yellow">Group1</span></a>
                        <!--<a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>-->
                    </span>
                    <span class="description">Education  |  1 day ago</span>
                </div>
                <div class="post-img">
                    <div class="full-img">
                        <img class="img-responsive" src="public/dist/img/post-img.png" alt="Photo">
                    </div>
                </div>
                <div class="post-btm layout-row layout-align-space-between-center">
                    <ul class="list-inline smile-dropdown">
                        <li class="">
                            <a href="#" class="btn dropdown-toggle link-black text-sm" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-smile-o fa-1x">&nbsp;</i>
                                <span class="caret">&nbsp;</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"> <i class="fa fa-smile-o fa-1x">&nbsp;</i></a></li>
                                <li><a href="#"> <i class="fa fa-smile-o fa-1x">&nbsp;</i></a></li>
                                <li><a href="#"> <i class="fa fa-smile-o fa-1x">&nbsp;</i></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list-inline user-acitvity">
                        <li><a href="#" class="link-black text-sm"><i class="fa fa-commenting margin-r-5 fa-1x"></i><span> 0 </span>comment</a></li>
                        <li><a href="#" class="link-black text-sm"><i class="fa fa-file-text margin-r-5 fa-1x"></i>journal</a>
                        </li>
                        <li class="">
                            <a href="#" class="link-black text-sm"><i class="fa  fa-share margin-r-5 fa-1x"></i> share
                                (0)</a></li>
                    </ul>
                </div>
            </div>
            <div class="post layout-column">
                <div class="user-block">
                    <img class=" " src="public/dist/img/user6-128x128.jpg" alt="User Image">
                    <span class="username">
                        <a href="#"><span class="color-red">Herminia Nelson</span> posted a Photo in <span class="color-yellow">Group1</span></a>
                        <!--<a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>-->
                    </span>
                    <span class="description">Education  |  1 day ago</span>
                </div>
                <div class="post-img">
                    <div class="full-img">
                        <img class="img-responsive" src="public/dist/img/post-img.png" alt="Photo">
                    </div>
                </div>
                <div class="post-btm layout-row layout-align-space-between-center">
                    <ul class="list-inline smile-dropdown">
                        <li class="">
                            <a href="#" class="btn dropdown-toggle link-black text-sm" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-smile-o fa-1x">&nbsp;</i>
                                <span class="caret">&nbsp;</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"> <i class="fa fa-smile-o fa-1x">&nbsp;</i></a></li>
                                <li><a href="#"> <i class="fa fa-smile-o fa-1x">&nbsp;</i></a></li>
                                <li><a href="#"> <i class="fa fa-smile-o fa-1x">&nbsp;</i></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list-inline user-acitvity">
                         <li (click)=toggleComment(!togComment,j) class="c-p"><a  class="link-black text-sm"><i class="fa fa-commenting margin-r-5 fa-1x"></i><span> 0 </span>comment</a></li>
                        <li><a href="#" class="link-black text-sm"><i class="fa fa-file-text margin-r-5 fa-1x"></i>journal</a>
                        </li>
                        <li class="">
                            <a href="#" class="link-black text-sm"><i class="fa  fa-share margin-r-5 fa-1x"></i> share
                                (0)</a></li>
                    </ul>
                </div>
                <div class="post-toggle-area" [class.display-comment]="togComment && j == thisElement">
                     <div class="post-comment-section">
                        <div class="post-comment-body">
                            <ul class="post-comment-list">
                                <li class="layout-row">
                                    <div class="post-comment-img flex-10">
                                        <img class=" " src="public/dist/img/avatar1@2x.png">
                                    </div>
                                    <div class="post-comment-body layout-column flex-80"> 
                                        <div class="layout-row layout-align-space-between">
                                            <div class="flex-75 comment-by">Roy</div>
                                            <span class="flex-10">2 min ago</span>
                                        </div>
                                        <div class="post-comment-text">
                                            comment body
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="post-comment-footer">

                            <div class="input-group">
                                <input class="form-control" type="text"  placeholder="Type a comment">
                                <span class="input-group-addon"><i class="fa fa-paper-plane-o"></i></span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-danger box-orange">
                <div class="box-header with-border ">
                    <div class="box-title">current members</div>
                </div>
                <div class="box-body">
                    <ul class="users-list clearfix">
                        <li class="active">
                            <a class="member-border display-full"> <img src="public/dist/img/user1-128x128.jpg" alt="User Image"></a>
                        </li>
                        <li>
                            <a class="member-border display-full">  <img src="public/dist/img/user8-128x128.jpg" alt="User Image"></a>
                        </li>
                        <li class="active">
                            <a class="member-border display-full"> <img src="public/dist/img/user7-128x128.jpg" alt="User Image"></a>
                        </li>
                        <li>
                            <a class="member-border display-full">   <img src="public/dist/img/user6-128x128.jpg" alt="User Image"></a>
                        </li>
                        <li>
                            <a class="member-border display-full">     <img src="public/dist/img/user2-160x160.jpg" alt="User Image"></a>
                        </li>
                        <li>
                            <a class="member-border display-full"> <img src="public/dist/img/user5-128x128.jpg" alt="User Image"></a>
                        </li>
                        <li class="active">
                            <a class="member-border display-full"> <img src="public/dist/img/user4-128x128.jpg" alt="User Image"></a>
                        </li>
                        <li>
                            <a class="member-border display-full"><img src="public/dist/img/user3-128x128.jpg" alt="User Image"></a>
                        </li>
                    </ul>
                </div>
                <div class="box-footer text-center">
                    <a href="javascript::" class="uppercase">View more</a>
                </div>
            </div>
            <div class="box box-danger box-orange">
                <div class="box-header with-border ">
                    <div class="box-title">past members</div>
                </div>
                <div class="box-body">
                    <ul class="users-list clearfix">
                        <li>
                            <a class="member-border display-full"> <img src="public/dist/img/user1-128x128.jpg" alt="User Image"></a>
                        </li>
                        <li>
                            <a class="member-border display-full">  <img src="public/dist/img/user8-128x128.jpg" alt="User Image"></a>
                        </li>
                        <li>
                            <a class="member-border display-full"> <img src="public/dist/img/user7-128x128.jpg" alt="User Image"></a>
                        </li>
                        <li>
                            <a class="member-border display-full">   <img src="public/dist/img/user6-128x128.jpg" alt="User Image"></a>
                        </li>
                        <li>
                            <a class="member-border display-full">     <img src="public/dist/img/user2-160x160.jpg" alt="User Image"></a>
                        </li>
                        <li>
                            <a class="member-border display-full"> <img src="public/dist/img/user5-128x128.jpg" alt="User Image"></a>
                        </li>
                        <li>
                            <a class="member-border display-full"> <img src="public/dist/img/user4-128x128.jpg" alt="User Image"></a>
                        </li>
                        <li>
                            <a class="member-border display-full"><img src="public/dist/img/user3-128x128.jpg" alt="User Image"></a>
                        </li>
                    </ul>
                </div>
                <div class="box-footer text-center">
                    <a href="javascript::" class="uppercase">View more</a>
                </div>
            </div>

            <div class="box box-default active-member">
                <div class="box-header with-border">
                    <div class="box-title"> <i class="fa fa-user">&nbsp;</i> Active members<span id="member-number" class="text-muted"> (25)</span></div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">jhon macclene
                                <span class="pull-right text-red"><i class="fa  fa-clock-o"></i> 2 min</span></a></li>
                        <li><a href="#">jack daniels<span class="pull-right text-green"><i class="fa  fa-clock-o"></i> 5 min</span></a>
                        </li>
                        <li><a href="#">hugh jackman
                                <span class="pull-right text-yellow"><i class="fa  fa-clock-o"></i> 1h</span></a></li>
                        <li><a href="#">jack nicholson
                                <span class="pull-right text-yellow"><i class="fa  fa-clock-o"></i> 1h 30 min</span></a></li>
                    </ul>
                </div>
                <div class="box-footer no-padding">

                </div>
            </div>
        </div>
    </div>
</section>