page-about-us {


    .member-img-with-title{
        p{

            span{
                color:#f3843e;
            }
        }
    }
    ion-card{
        ion-card-title{
            &.card-title-md{
            font-size: 2rem;            
            }
            span{
                color:#f3843e;
            }
        }
    }
    ion-list{
        ion-label.label {
            font-size: 1.8rem;
            color: #f2823c;
            margin-bottom: 5px;
        }
        &.list{
            p {
                margin: 6px 0px 10px;
            }
        }
   }
}
