page-more-action {   
.ion-md-friend, .ion-ios-friend{background-image: url(../../www/img/friend-gray.png); background-size: 22px; width: 22px;
    height: 21px;}
.ion-md-friend-mngmt, .ion-ios-friend-mngmt{background-image: url(../../www/img/friend-mngmt-gray.png); background-size: 22px; width: 22px;
    height: 21px;}
    .label{    color: #828282;}
    .icon{width: 22px; text-align: center;}
} 

