<section class="content-header">
    <h1> My wall </h1>
</section>
<div class="page-loader-section layout-row layout-align-center-center" *ngIf="!(user && userData)">
    <div class="page-loader">Loading...</div>
</div>
<section *ngIf="user && userData" class="content p-0 myWall">
     <ba-scd-post (complete)="onPostData($event)"></ba-scd-post> 
    <div class="layout-row layout-align-space-between-start flex-100 p-15" style="margin-left: 0px;margin-right: 0px">
        <div class="layout-column flex-65 white">
            <div class="search layout-column search-subject">
                <div class="box-header-timeline flex-100  layout-align-space-between-center layout-row">
                    <div class="c-p" (click)="closeSearchBox()"><i class="fa fa-search"></i> <span>Search</span></div>
                    <div class="box-tools-timeline pull-right">
                        <button class="btn btn-box-tool" id="toggleSearch" (click)="closeSearchBox()"><i id="changeClass" class="fa fa-plus"></i></button>
                    </div>
                </div>
                <form id="togglingSearch" style="display:none" >
                    <div class="form-group">
                        <input type="text" class="form-control layout-column flex-31" (keyup)="subjectSearch($event)" (focus)="subjectSearch($event)"
                            placeholder="Search Subject..." [(ngModel)]="searchData.subject_name" />

                        <div *ngIf="searchedSubjectsList.length" class="search-list">
                            <ul class="">
                                <li *ngFor="let subject of searchedSubjectsList">
                                    <div class="college-block" (click)="selectSubject(subject._id,subject.name)">
                                        {{subject.name}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control layout-column flex-31" (keyup)="collegeSearch($event)" (focus)="collegeSearch($event)"
                            placeholder="Search College..." [(ngModel)]="searchData.college_name">
                        <div *ngIf="searchedCollegesList.length" class="search-list">
                            <ul class="">
                                <li *ngFor="let college of searchedCollegesList">
                                    <div class="college-block" (click)="selectCollege(college._id,college.name)">
                                        {{college.name}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control layout-column flex-31" (keyup)="degreeSearch($event)" (focus)="degreeSearch($event)"
                            placeholder="Search Degree..." [(ngModel)]="searchData.degree_name">
                        <div *ngIf="searchedDegreesList.length" class="search-list">
                            <ul class="">
                                <li *ngFor="let degree of searchedDegreesList">
                                    <div class="college-block" (click)="selectDegree(degree._id,degree.name)">
                                        {{degree.name}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button type="submit" class="add-btn reset-btn" (click)="searchReset()">Show All</button>
                    <button type="submit" class="add-btn" [disabled]="searchStatus" (click)="searchPost()">Search</button>
                    <div class="filter-text" *ngIf="showFilterText">Filter By :- {{showFilterText}}</div>
                </form>
            </div>
            <div class="well all-status light-gray-bg">
                <ul class="display-flex text-center">
                  <li (click)="checkActiveClass('all')" [class.dev-active-link]='allLinkActive'><a (click)="getPosts(10)"><i class="fa fa-check-circle-o">&nbsp;</i><p class="hide-xs">all</p></a></li>
                  <li (click)="checkActiveClass('status')" [class.dev-active-link]='statusLinkActive'><a (click)="getPosts(1)"><i class="fa fa-commenting">&nbsp;</i><p class="hide-xs">Status</p></a></li>
                  <li (click)="checkActiveClass('photos')" [class.dev-active-link]='photosLinkActive'><a (click)="getPosts(3)"><i class="fa fa-camera">&nbsp;</i><p class="hide-xs">Photos</p></a></li>
                  <li (click)="checkActiveClass('videos')" [class.dev-active-link]='videosLinkActive'><a (click)="getPosts(4)"><i class="fa fa-video-camera">&nbsp;</i><p class="hide-xs">Videos</p></a></li>
                  <li (click)="checkActiveClass('links')" [class.dev-active-link]='linksLinkActive'><a (click)="getPosts(5)"><i class="fa fa-paperclip">&nbsp;</i><p class="hide-xs">Links</p></a></li>
                  <li (click)="checkActiveClass('documents')" [class.dev-active-link]='documentsLinkActive'><a (click)="getPosts(7)"><i class="fa fa-book">&nbsp;</i><p class="hide-xs">Document</p></a></li>
                  <li (click)="checkActiveClass('audio')" [class.dev-active-link]='audioLinkActive'><a (click)="getPosts(6)"><i class="fa fa-headphones">&nbsp;</i><p class="hide-xs">Audio</p></a></li>
                  <li (click)="checkActiveClass('question')" [class.dev-active-link]='questionLinkActive'><a (click)="getPosts(2)"><i class="fa fa-question-circle">&nbsp;</i><p class="hide-xs">Question</p></a></li>
                </ul>
              </div>
            <div class="tab-content flex-100">
                <div class=" tab-pane" id="activity" (window:scroll)="onScrollListPost($event)" [class.showtab]="tActivity" [class.hidetab]="!tActivity">
                    <div class="page-loader-section layout-row layout-align-center-center" *ngIf="!postsList || loader">
                        <div class="page-loader ">Loading...</div>
                    </div>
                    <div class="no-data" *ngIf="postsList.length == 0">There are no posts to display</div>
                    <div class="post flex-100" *ngFor="let data of postsList; let j=index">
                        <div class="timeline-item flex-100" *ngIf="data._id">
                            <div class="user-block layout-row layout-align-start-start">
                               <div class="layout-row layout-align-start-start flex-80">
                                <span class="timeline-header-img">
                                <img *ngIf="data.created_by.photo" alt="user image" class="c-p " src="public/files/ProfilePicture/{{data.created_by.photo}}"
                                    (click)="getProfileById(data.created_by._id)">
                                <img *ngIf="!data.created_by.photo" alt="user image" class="c-p " src="public/files/ProfilePicture/no_image.png" (click)="getProfileById(data.created_by._id)">
                                </span>
                                <div class="layout-column">
                                    <span class="timeline-header">
                                    <span> <a class="c-p user-name" (click)="getProfileById(data.created_by._id)">{{data.created_by | nameFilter}} </a></span>
                                    <span *ngIf="data.origin_creator">shared</span>
                                    <span *ngIf="!data.origin_creator && data.post_type != 8">posted</span>
                                    <span *ngIf="data.post_type == 1"> a message</span>
                                    <span *ngIf="data.post_type == 2"> a question</span>
                                    <span *ngIf="data.post_type == 3"> a photo</span>
                                    <span *ngIf="data.post_type == 4"> a video</span>
                                    <span *ngIf="data.post_type == 5"> a link</span>
                                    <span *ngIf="data.post_type == 6"> an audio</span>
                                    <span *ngIf="data.post_type == 7"> a document</span>
                                    <span *ngIf="data.post_type == 8 && data.origin_creator"> a post</span>
                                    <span *ngIf="data.post_type == 8 && !data.origin_creator"> has joined the</span>
                                    <span *ngIf="data.origin_creator && data.created_by._id !== data.origin_creator._id"> of <a (click)="getProfileById(data.origin_creator._id)" class="user-name c-p">{{data.origin_creator | nameFilter}}</a></span>
                                    <span (click)="getDegreeWall(data.degree_id._id)" *ngIf="data.degree_id"> <span *ngIf="(data.post_type != 8) || (data.post_type == 8 && data.origin_creator)">in</span>                                <span *ngIf="data.post_type == 8 && !data.origin_creator">degree</span> <a class="c-p user-name">{{data.degree_id.name}}</a></span>
                                    <span (click)="getCollegeWall(data.college_id._id)" *ngIf="data.college_id"><span *ngIf="(data.post_type != 8) || (data.post_type == 8 && data.origin_creator)"> in</span>                                <span *ngIf="data.post_type == 8 && !data.origin_creator">college</span> <a class="c-p user-name"> {{data.college_id.name}}</a></span>
                                    <span (click)="getSubjectWall(data.subject_id._id)" *ngIf="data.subject_id"><span *ngIf="(data.post_type != 8) || (data.post_type == 8 && data.origin_creator)"> in</span>                                <span *ngIf="data.post_type == 8 && !data.origin_creator">subject</span> <a class="c-p user-name"> {{data.subject_id.name}}</a></span>
                                    <span *ngIf="data.group_id"><span> in <span *ngIf="data.group_id.title" (click)="getGroupWall(data.group_id._id)"><a class="c-p user-name">{{data.group_id.title}}</a> </span>                                group under</span>
                                    <span *ngIf="data.group_id.subject_id" (click)="getSubjectWall(data.group_id.subject_id._id)"><a class="c-p user-name">{{data.group_id.subject_id.name}}</a></span>
                                    <span *ngIf="data.group_id.college_id" (click)="getCollegeWall(data.group_id.college_id._id)"><a class="c-p user-name">{{data.group_id.college_id.name}}</a></span>
                                    <span *ngIf="data.group_id.degree_id" (click)="getDegreeWall(data.group_id.degree_id._id)"><a class="c-p user-name">{{data.group_id.degree_id.name}}</a></span>

                                    </span>
                                    </span>
                                    <span class="description">{{getCategory(data.catagory)}}  |  <span *ngIf="data.created_on">{{data.created_on |  datetime}}</span>
                                    <span *ngIf="data.privacy"> |
                                    <span *ngIf="data.privacy == 1" >Public</span>
                                    <span *ngIf="data.privacy == 2">Private</span>
                                    <span *ngIf="data.privacy == 3">All Friends</span>
                                    <span *ngIf="data.privacy == 4">All Followers</span>
                                    <span *ngIf="data.privacy == 5">Custom</span>
                                    <span *ngIf="data.privacy == 6">All Friends And Followers</span>
                                    </span>
                                </span>
                                </div>
                                </div>
                                <div class="layout-row  flex-20 layout-align-end">
                                    <button class="btn bg-orange btn-flat" (click)="page.onClickUnFollow(data.created_by._id)" type="button" *ngIf="(data.created_by._id!=page.userIdGlobal) && (data.created_by._id | followunfollowstatus)">UnFollow</button>
                                    <button class="btn bg-orange btn-flat" (click)="page.onClickFollow(data.created_by._id)" type="button" *ngIf="(data.created_by._id!=page.userIdGlobal) && !(data.created_by._id | followunfollowstatus)">Follow</button>
                                </div>
                         </div>
                            <div class="post-message" *ngIf="data.message">
                                <p class="message text-formatting" *ngIf="data.shared_title" embedDirective>{{data.shared_title}}</p>
                                <div class="full-message">
                                    <p class="message text-formatting" embedDirective> {{data.message}} </p>
                                </div>
                                <span *ngIf="(data.created_by._id==page.userIdGlobal) && (data.post_type!=8)" class="edit-post-btn" (click)="editPost(data)"><i class="fa fa-pencil-square-o"></i></span>
                                <span *ngIf="data.created_by._id==page.userIdGlobal" tooltip="Delete Post" tooltipPlacement="right" class="rem-post-btn" (click)="deletePostModel(data,j)"><i class="fa fa-trash"></i></span>
                            </div>
                            <div class="post-img" *ngIf="data.photo[0]" >
                                <p (click)="getDetailView(data._id)" class="message text-formatting" *ngIf="data.shared_title" embedDirective>{{data.shared_title}}</p>
                                <div (click)="getDetailView(data._id)" class="full-img">
                                    <span class="message text-formatting" *ngIf="data.name && data.name !=null" embedDirective>{{data.name}}</span>
                                    <img *ngIf="data.photo[0].title== null && (data.created_by && data.created_by._id!=null)" alt="Photo" class="img-responsive"
                                        src="public/files/{{getFoldername(data.types)}}/Photos/{{data.origin_creator?data.origin_creator._id:data.created_by._id}}/{{data.photo[0].file_name}}"
                                        alt="Photo">
                                    <img *ngIf="data.photo[0].title!=null && (data.created_by && data.created_by._id!=null)" alt="Photo" class="img-responsive"
                                        src="{{data.photo[0].title}}" alt="Photo">
                                </div>
                                <span *ngIf="data.created_by._id==page.userIdGlobal" class="edit-post-btn" (click)="editPost(data)"><i class="fa fa-pencil-square-o"></i></span>
                                <span *ngIf="data.created_by._id==page.userIdGlobal" tooltip="Delete Post" tooltipPlacement="right" class="rem-post-btn" (click)="deletePostModel(data,j)"><i class="fa fa-trash"></i></span>
                            </div>
                            <div class="post-video" *ngIf="data.video[0]" >
                                <p (click)="getDetailVideoView(data._id)" class="message text-formatting" *ngIf="data.shared_title" embedDirective>{{data.shared_title}}</p>
                                <div (click)="getDetailVideoView(data._id)" class="full-video layout-column ">
                                    <span class="message text-formatting" *ngIf="data.name && data.name !=null" embedDirective>{{data.name}}</span><br>
                                    <video #cmp width="100%" height="100%" controls *ngIf="data.video[0].title==null &&(data.created_by && data.created_by._id!=null)">
                                        <source src="public/files/{{getFoldername(data.types)}}/Videos/{{data.origin_creator?data.origin_creator._id:data.created_by._id}}/{{data.video[0].file_name}}"
                                            type="video/mp4">
                                    </video>
                                    <iframe *ngIf="data.video[0].title!=null && (data.created_by && data.created_by._id!=null)" width="560" height="315" [src]="data.video[0]?.title | youtubeSafeUrl"
                                        frameborder="0" allowfullscreen>
                                    </iframe>
                                </div>
                                <span *ngIf="data.created_by._id==page.userIdGlobal" class="edit-post-btn" (click)="editPost(data)"><i class="fa fa-pencil-square-o"></i></span>
                                <span *ngIf="data.created_by._id==page.userIdGlobal" tooltip="Delete Post" tooltipPlacement="right" class="rem-post-btn" (click)="deletePostModel(data,j)"><i class="fa fa-trash"></i></span>
                            </div>
                            <div class="post-audio" *ngIf="data.audio[0]" >
                                <p (click)="getDetailView(data._id)" class="message text-formatting" *ngIf="data.shared_title" embedDirective >{{data.shared_title}}</p>
                                <div class="full-audio" (click)="getDetailView(data._id)">
                                    <span class="message text-formatting" *ngIf="data.name" embedDirective>{{data.name}}</span>
                                    <h4 class=" header-title text-formatting">{{data.audio[0].file_name | documentNameFilter}}</h4>
                                    <audio controls *ngIf="data.audio[0].title==null">
                                        <source src="public/files/{{getFoldername(data.types)}}/Audios/{{data.origin_creator?data.origin_creator._id:data.created_by._id}}/{{data.audio[0].file_name}}"
                                            type="audio/ogg">
                                    </audio>
                                    <audio controls *ngIf="data.audio[0].title!=null">
                                        <source src="{{data.audio[0].title}}" type="audio/mp4">
                                    </audio>
                                </div>
                                <span *ngIf="data.created_by._id==page.userIdGlobal" class="edit-post-btn" (click)="editPost(data)"><i class="fa fa-pencil-square-o"></i></span>
                                <span *ngIf="data.created_by._id==page.userIdGlobal" tooltip="Delete Post" tooltipPlacement="right" class="rem-post-btn" (click)="deletePostModel(data,j)"><i class="fa fa-trash"></i></span>
                            </div>
                            <div class="post-document" *ngIf="data.document[0]">
                                <p class="message text-formatting" *ngIf="data.shared_title" embedDirective>{{data.shared_title}}</p>
                                 <p class="message text-formatting" *ngIf="data.name && data.name != null" embedDirective>{{data.name | textformat}}</p><br>
                                <div class="full-document">
                                    <h4 class="title text-formatting" *ngIf="data.document[0].file_name">{{data.document[0].file_name | documentNameFilter}}</h4><br>
                                    <a *ngIf="data.created_by && data.created_by._id!=null" href="public/files/{{getFoldername(data.types)}}/Documents/{{data.origin_creator?data.origin_creator._id:data.created_by._id}}/{{data.document[0].file_name}}"
                                        target="_blank" class="pdflink">
                                        <span class="title" *ngIf="data.document[0].file_name">
                          <span *ngIf="data.document[0].file_name.split('.').pop() == 'txt' || data.document[0].file_name.split('.').pop() == 'text'">
                              <i class="fa fa-file-text fa-4x">&nbsp;</i>
                          </span>
                                        <span *ngIf="data.document[0].file_name.split('.').pop() == 'pdf'">
                              <i class="fa fa-file-pdf-o fa-4x">&nbsp;</i>
                          </span>
                                        <span *ngIf="data.document[0].file_name.split('.').pop() == 'doc' || data.document[0].file_name.split('.').pop() == 'dot' || data.document[0].file_name.split('.').pop() == 'word' || data.document[0].file_name.split('.').pop() == 'wiz' || data.document[0].file_name.split('.').pop() == 'w6w' || data.document[0].file_name.split('.').pop() == 'docx'">
                              <i class="fa fa-file-word-o fa-4x">&nbsp;</i>
                          </span>
                                        <span *ngIf="data.document[0].file_name.split('.').pop() == 'xls' || data.document[0].file_name.split('.').pop() == 'xlm' || data.document[0].file_name.split('.').pop() == 'xll' || data.document[0].file_name.split('.').pop() == 'xlc' || data.document[0].file_name.split('.').pop() == 'xlb' || data.document[0].file_name.split('.').pop() == 'xlw' || data.document[0].file_name.split('.').pop() == 'xlsx'">
                              <i class="fa fa-file-excel-o fa-4x">&nbsp;</i>
                          </span>
                                        <span *ngIf="data.document[0].file_name.split('.').pop() == 'ppt' || data.document[0].file_name.split('.').pop() == 'pot' || data.document[0].file_name.split('.').pop() == 'pps' || data.document[0].file_name.split('.').pop() == 'ppa' || data.document[0].file_name.split('.').pop() == 'pwz' ">
                              <i class="fa fa-file-powerpoint-o fa-4x">&nbsp;</i>
                          </span>
                                        <span *ngIf="data.document[0].file_name.split('.').pop() == 'xml'">
                              <i class="fa fa-file-o fa-4x">&nbsp;</i>
                          </span>
                                        </span>
                                    </a>
                                </div>
                                <a *ngIf="data.created_by && data.created_by._id!=null" href="public/files/{{getFoldername(data.types)}}/Documents/{{data.origin_creator?data.origin_creator._id:data.created_by._id}}/{{data.document[0].file_name}}"
                                    target="_blank" class="pdflink">&nbsp;Open/Download</a>
                                    <span *ngIf="data.created_by._id==page.userIdGlobal" class="edit-post-btn" (click)="editPost(data)"><i class="fa fa-pencil-square-o"></i></span>
                                    <span *ngIf="data.created_by._id==page.userIdGlobal" tooltip="Delete Post" tooltipPlacement="right" class="rem-post-btn" (click)="deletePostModel(data,j)"><i class="fa fa-trash"></i></span>
                                </div>
                            <div class="post-link" *ngIf="data.link[0]">
                                <p class="message text-formatting" *ngIf="data.shared_title" embedDirective>{{data.shared_title}}</p>
                                <div class="full-link layout-column">
                                    <div class="message text-formatting layout-row layout-wrap" *ngIf="data.link[0].title" embedDirective>{{data.link[0].title}}</div>
                                    <div classs="layout-row layout-wrap">
                                    <span class="link-heading"><i _ngcontent-fbs-5="" aria-hidden="true" class="fa fa-link"></i></span>
                                    <a class="title link-tx" target="_blank" href="{{data.link[0].description}}" *ngIf="data.link[0].description" embedDirective>{{data.link[0].description}}</a>
                                    </div>
                                </div>
                                <span *ngIf="data.created_by._id==page.userIdGlobal" class="edit-post-btn" (click)="editPost(data)"><i class="fa fa-pencil-square-o"></i></span>
                                <span *ngIf="data.created_by._id==page.userIdGlobal" tooltip="Delete Post" tooltipPlacement="right" class="rem-post-btn" (click)="deletePostModel(data,j)"><i class="fa fa-trash"></i></span>
                            </div>
                            <div class="post-question" *ngIf="data.question">
                                <p class="message text-formatting" *ngIf="data.shared_title" embedDirective>{{data.shared_title}}</p>
                                <div class="full-question">
                                    <span class="message text-formatting" embedDirective>{{data.question}}</span>
                                </div>
                                <span *ngIf="data.created_by._id==page.userIdGlobal" class="edit-post-btn" (click)="editPost(data)"><i class="fa fa-pencil-square-o"></i></span>
                                <span *ngIf="data.created_by._id==page.userIdGlobal" tooltip="Delete Post" tooltipPlacement="right" class="rem-post-btn" (click)="deletePostModel(data,j)"><i class="fa fa-trash"></i></span>
                            </div>
                            
                            <div class="post-btm layout-row layout-align-space-between-center layout-xs-column" _ngcontent-ket-7="">
                                <ul *ngIf="data.likes" class="list-inline smile-dropdown flex-xs-30 layout-row">
                                    <li>
                                        <img class="toggleImage-{{j}}" (click)="addLike(data._id,data,j)" src="public/dist/img/{{data.likes|likeFilterPipe:data._id}}"
                                            style="height: 20px ;width: 20px" /> {{data.likes.length}}
                                        <span class="c-p" *ngIf="data.likes.length > 0" (click)="onViewLikeClick(data._id)">View</span>
                                    </li>
                                </ul>
                                <ul class="list-inline user-acitvity flex-xs-45 layout-row">
                                    <li class="c-p" (click)=toggleCommentPost(data.comments,data._id)><a class="link-black text-sm" _ngcontent-ket-7=""><i class="fa fa-commenting margin-r-5 fa-1x" _ngcontent-ket-7=""></i><span _ngcontent-ket-7=""> {{data.comments.length}}</span>&nbsp;Comment<span *ngIf="data.comments.length>1">s</span></a></li>
                                    <li *ngIf="data.created_by && data.created_by._id!=null" (click)="openAddPostToJournalModal(data._id)" class="c-p dsda">
                                        <a class="link-black text-sm">
                                            <i class="fa fa-file-text margin-r-5 fa-1x"></i> Journal
                                        </a>
                                    </li>
                                    <li class="">
                                        <a (click)="onShareClick(data._id)" class="link-black text-sm c-p"><i class="fa  fa-share margin-r-5 fa-1x" _ngcontent-ket-7=""></i> Share
                    </a>
                                    </li>
                                    <li *ngIf="data.created_by._id!=page.userIdGlobal" class="">
                                        <a (click)="onReportClickModal(data._id)" class="link-black text-sm c-p"><i class="fa fa-flag"></i> Report
                    </a>
                                    </li>
                                </ul>
                                <div class="post-share-toggle" [class.display-share]="sharing[data._id]">
                                    <ul>
                                        <li (click)="share(data)">Internal Share</li>
                                        <li (click)="externalShare(data)">External Share</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="post-toggle-area" [class.display-comment]="togglePostComment[data._id]">
                                <div class="post-comment-section">
                                    <div class="post-comment-body">
                                        <div class="comenter-like-day c-p prev-com" *ngIf="prevComment[data._id] && oldComment[data._id] && prevComment[data._id].length!=oldComment[data._id].length"
                                            (click)="loadPrevComment(data._id)">View Previous Messages</div>
                                        <ul class="post-comment-list" angular2-auto-scroll lock-y-offset="2000" observe-attributes>
                                            <li class="layout-row" *ngFor="let comment of prevComment[data._id];let j=index">
                                                <div *ngIf="comment.comment_by && comment.comment_by._id!=null" (click)="getProfileById(comment.comment_by._id)" class="post-comment-img  layout-align-start layout-row flex-xs-30 flex-10 c-p">
                                                    <img *ngIf="comment.comment_by.photo" class="" alt="User Image" src="public/files/ProfilePicture/{{comment.comment_by.photo}}">
                                                    <img *ngIf="!comment.comment_by.photo" class="" alt="User Image" src="public/files/ProfilePicture/no_image.png">
                                                </div>
                                                <div class="post-comment-body layout-column flex-xs-70 flex-90">
                                                    <div class="layout-row layout-align-space-between" *ngIf="comment.comment_by && comment.comment_by._id!=null">
                                                        <div (click)="getProfileById(comment.comment_by._id)" class="flex-50 flex-xs-50  comment-by c-p">{{comment.comment_by | nameFilter}}</div>
                                                        <span class="flex-50 flex-xs-50 layout-align-end-center layout-row">{{comment.date | datetime}}</span>
                                                    </div>
                                                    <div class="post-comment-text" *ngIf="editCommentToggle!=comment._id" [innerHtml]="comment.body">
                                                    </div>
                                                    <div *ngIf="editCommentToggle==comment._id">
                                                        <!--<form (ngSubmit)="editComment(data._id,comment._id,data,j)" class="form-inline-xt">
                                    <input [(ngModel)]="postComment.editComment" class="form-control" type="text">
                                    <span class="input-group-addon" tooltip="Send" (click)="editComment(data._id,comment._id,data,j)"><i class="fa fa-paper-plane-o"></i></span>
                                    <span (click)="closeCommentModal(j)">cancel</span>
                                </form>-->

                                                        <form (ngSubmit)="editComment(data._id,comment._id,data,j)" class="layout-row">
                                                            <div class="input-group flex-90 layout-row" *ngIf="postComment[data._id]">
                                                                <div id="edit-inline-editor-{{data._id}}" class="comment-editor-inline"></div>
                                                                <!-- <input required [(ngModel)]="postComment[data._id].editComment" class="form-control" type="text"> -->
                                                                <span class="input-group-addon c-p" tooltip="Send" (click)="editComment(data._id,comment._id,data,j)"><i class="fa fa-paper-plane-o"></i></span>
                                                            </div>
                                                            <div class="flex-10 layout-align-center-center layout-row"><span class="c-p" (click)="closeCommentModal()"><i class="fa fa-close"></i></span></div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="delete layout-row del-edit-wrap">
                                                    <span *ngIf="comment.comment_by._id==page.userIdGlobal" id="updateBtn" data-toggle="modal" (click)="openCommentModal(comment,data._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                                    <span *ngIf="comment.comment_by._id==page.userIdGlobal" class="delete" (click)="deleteCommentModel(data._id,comment._id,j,data)"
                                                        tooltip="Delete Comment"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="post-comment-footer">
                                        <form (ngSubmit)="addComment(data._id,data)">
                                            <div class="input-group" *ngIf="postComment[data._id]">
                                                <div id="inline-editor-{{data._id}}" class="comment-editor-inline"></div>
                                                <!-- <input required [(ngModel)]="postComment[data._id].comment" class="form-control" type="text" placeholder="Type a comment"> -->
                                                <span class="input-group-addon" tooltip="Send" (click)="addComment(data._id,data)"><i class="fa fa-paper-plane-o"></i></span>
                                            </div>
                                            <span class="error_file_message">{{errorCommentPost}}</span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spinner-lazy-block" *ngIf="contentLoding">
                        <div class="spinner-lazy">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="flex-30 layout-column flex-32 follwer flex-xs-25 res-margin my-wall">
            <div class="box box-danger box-orange">
                <div class="box-header with-border ">
                    <div class="box-title">Friends </div><span class="count-num" style="float: right">{{userDashboardData?.friendsCount}}</span>
                </div>
                <div class="box-body" *ngIf="userDashboardData?.friends">
                    <ul class="users-list clearfix layout-row layout-wrap">
                        <li (mouseover)="UserPopupOpen($event,friend.friend_id)" *ngFor="let friend of userDashboardData?.friends | slice:0:6;" class="user-profile-data">
                            <span class="active"> 
                <a class="member-border display-full c-p" (click)="getProfileById(friend.friend_id)" *ngIf="friend.photo" >
                    <img src="public/files/ProfilePicture/{{friend.photo}}" alt="User Image" style="height: 50px; width: 50px;" alt="User Image">
                    {{friend.name}}
                </a>
                <a class="member-border display-full c-p" (click)="getProfileById(friend.friend_id)" *ngIf="!friend.photo" >
                    <img src="public/files/ProfilePicture/no_image.png" alt="User Image" style="height: 50px; width: 50px;" alt="User Image">
                    {{friend.name}}
                </a>
              </span>
                            <div class="setting-page flex-100 layout-row current-student-popup">
                                <div class="setting-page flex-100 layout-row" *ngIf="studentUser.userDetails">
                                    <a *ngIf="studentUser.userDetails.photo" class="member-border display-full c-p" (click)="getProfileById(friend.friend_id)">
                                        <img src="public/files/ProfilePicture/{{studentUser.userDetails.photo}}" style="height: 50px; width: 50px;" alt="User Image">
                                    </a>
                                    <a *ngIf="!studentUser.userDetails.photo" class="member-border display-full c-p" (click)="getProfileById(friend.friend_id)">
                                        <img src="public/files/ProfilePicture/no_image.png" style="height: 50px; width: 50px;" alt="User Image">
                                    </a>
                                    <div class="flex-100 layout-column">
                                        <h4 class="m-b-10" *ngIf="studentUser.userDetails && studentUser.userDetails?.fname">{{studentUser.userDetails.fname}}<span *ngIf="studentUser.userDetails.lname">&nbsp;{{studentUser.userDetails.lname}}</span></h4>
                                        <span class="font-12">{{studentUser.friendsCount}} Friends, {{studentUser.followersCount}} Followers, {{studentUser.followingsCount}} Following</span>
                                    </div>
                                </div>
                                <div class="setting-page flex-100 layout-row" style="width:100%" *ngIf="studentUser.is_logged_user == false">
                                    <button *ngIf="studentUser.current_friends_status_code == 6" (click)="addAsFriend(studentUser)" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100">Add as Friend</button>
                                    <button *ngIf="studentUser.current_friends_status_code == 3" type="button" class="btn disabled bg-orange btn-flat flex-40 flex-xs-100">Already Friend</button>
                                    <button *ngIf="studentUser.current_friends_status_code == 1" (click)="cancelRequestedFriend(studentUser)" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100">Cancel Request</button>
                                    <button *ngIf="studentUser.current_friends_status_code == 2" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100"
                                        (click)="getFriendList()">Accept Request</button>
                                    <button *ngIf="studentUser.following_friend_status_code == 6" (click)="setFollow(studentUser)" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100">Follow</button>
                                    <button *ngIf="studentUser.following_friend_status_code == 3" (click)="setUnFollow(studentUser)" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100">UnFollow</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="no-count-section" *ngIf="userDashboardData?.friendsCount == 0">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;You do not have any Friends
                    </div>
                </div>
                <div class="box-footer text-center" *ngIf="userDashboardData?.friends && userDashboardData?.friends!=''">
                    <a class="uppercase" [routerLink]="['Connection',{id:1,pageType:3}]">View more</a>
                </div>
            </div>
            <div class="box box-danger box-orange">
                <div class="box-header with-border ">
                    <div class="box-title">Followers </div><span class="count-num" style="float: right">{{userDashboardData?.followersCount}}</span>
                </div>
                <div class="box-body" *ngIf="userDashboardData?.followers">
                    <ul class="users-list clearfix layout-row layout-wrap">
                        <li (mouseover)="UserPopupOpen($event,followers_members.follower_id)" *ngFor="let followers_members of userDashboardData?.followers | slice:0:6;"
                            class="user-profile-data">
                            <span class="active"> 
                <a class="member-border display-full c-p" (click)="getProfileById(followers_members.follower_id)" *ngIf="followers_members.photo" >
                    <img src="public/files/ProfilePicture/{{followers_members.photo}}" alt="User Image" style="height: 50px; width: 50px;" alt="User Image">
                    {{followers_members.name}}
                </a>
                <a class="member-border display-full c-p" (click)="getProfileById(followers_members.follower_id)" *ngIf="!followers_members.photo" >
                    <img src="public/files/ProfilePicture/no_image.png" alt="User Image" style="height: 50px; width: 50px;" alt="User Image">
                      {{followers_members.name}}
                </a>
              </span>
                            <div class="setting-page flex-100 layout-row current-student-popup">
                                <div class="setting-page flex-100 layout-row" *ngIf="studentUser.userDetails">
                                    <a *ngIf="studentUser.userDetails.photo" class="member-border display-full c-p" (click)="getProfileById(follower.follower_id)">
                                        <img src="public/files/ProfilePicture/{{studentUser.userDetails.photo}}" style="height: 50px; width: 50px;" alt="User Image">
                                    </a>
                                    <a *ngIf="!studentUser.userDetails.photo" class="member-border display-full c-p" (click)="getProfileById(follower.follower_id)">
                                        <img src="public/files/ProfilePicture/no_image.png" style="height: 50px; width: 50px;" alt="User Image">
                                    </a>
                                    <div class="flex-100 layout-column">
                                        <h4 class="m-b-10" *ngIf="studentUser.userDetails && studentUser.userDetails?.fname">{{studentUser.userDetails.fname}}<span *ngIf="studentUser.userDetails.lname">&nbsp;{{studentUser.userDetails.lname}}</span></h4>
                                        <span class="font-12">{{studentUser.friendsCount}} Friends, {{studentUser.followersCount}} Followers, {{studentUser.followingsCount}} Following</span>
                                    </div>
                                </div>
                                <div class="setting-page flex-100 layout-row" style="width:100%" *ngIf="studentUser.is_logged_user == false">
                                    <button *ngIf="studentUser.current_friends_status_code == 6" (click)="addAsFriend(studentUser)" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100">Add as Friend</button>
                                    <button *ngIf="studentUser.current_friends_status_code == 3" type="button" class="btn disabled bg-orange btn-flat flex-40 flex-xs-100">Already Friend</button>
                                    <button *ngIf="studentUser.current_friends_status_code == 1" (click)="cancelRequestedFriend(studentUser)" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100">Cancel Request</button>
                                    <button *ngIf="studentUser.current_friends_status_code == 2" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100"
                                        (click)="getFriendList()">Accept Request</button>
                                    <button *ngIf="studentUser.following_friend_status_code == 6" (click)="setFollow(studentUser)" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100">Follow</button>
                                    <button *ngIf="studentUser.following_friend_status_code == 3" (click)="setUnFollow(studentUser)" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100">UnFollow</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="no-count-section" *ngIf="userDashboardData?.followersCount == 0">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;You do not have any Followers
                    </div>
                </div>
                <div class="box-footer text-center" *ngIf="userDashboardData?.followers && userDashboardData?.followers!=''">
                    <a class="uppercase" [routerLink]="['Connection',{id:3,pageType:3}]">View more</a>
                </div>
            </div>
            <div class="box box-danger box-orange">
                <div class="box-header with-border ">
                    <div class="box-title">Following </div><span class="count-num" style="float: right">{{userDashboardData?.followingsCount}}</span>
                </div>
                <div class="box-body" *ngIf="userDashboardData?.followings">
                    <ul class="users-list clearfix layout-row layout-wrap">
                        <li (mouseover)="UserPopupOpen($event,followings_members.following_id)" *ngFor="let followings_members of userDashboardData?.followings | slice:0:6;"
                            class="user-profile-data following">
                            <span class="active"> 
                <a class="member-border display-full c-p" (click)="getProfileById(followings_members.following_id)" *ngIf="followings_members.photo" >
                    <img src="public/files/ProfilePicture/{{followings_members.photo}}" alt="User Image" style="height: 50px; width: 50px;" alt="User Image">
                    {{followings_members.name}}
                            </a>
                            <a class="member-border display-full c-p" (click)="getProfileById(followings_members.following_id)" *ngIf="!followings_members.photo">
                                <img src="public/files/ProfilePicture/no_image.png" alt="User Image" style="height: 50px; width: 50px;" alt="User Image">
                                {{followings_members.name}}
                            </a>
                            </span>
                            <div class="setting-page flex-100 layout-row current-student-popup">
                                <div class="setting-page flex-100 layout-row" *ngIf="studentUser.userDetails">
                                    <a *ngIf="studentUser.userDetails.photo" class="member-border display-full c-p" (click)="getProfileById(following.following_id)">
                                        <img src="public/files/ProfilePicture/{{studentUser.userDetails.photo}}" style="height: 50px; width: 50px;" alt="User Image">
                                    </a>
                                    <a *ngIf="!studentUser.userDetails.photo" class="member-border display-full c-p" (click)="getProfileById(following.following_id)">
                                        <img src="public/files/ProfilePicture/no_image.png" style="height: 50px; width: 50px;" alt="User Image">
                                    </a>
                                    <div class="flex-100 layout-column">
                                        <h4 class="m-b-10" *ngIf="studentUser.userDetails && studentUser.userDetails?.fname">{{studentUser.userDetails.fname}}<span *ngIf="studentUser.userDetails.lname">&nbsp;{{studentUser.userDetails.lname}}</span></h4>
                                        <span class="font-12">{{studentUser.friendsCount}} Friends, {{studentUser.followersCount}} Followers, {{studentUser.followingsCount}} Following</span>
                                    </div>
                                </div>
                                <div class="setting-page flex-100 layout-row" style="width:100%" *ngIf="studentUser.is_logged_user == false">
                                    <button *ngIf="studentUser.current_friends_status_code == 6" (click)="addAsFriend(studentUser)" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100">Add as Friend</button>
                                    <button *ngIf="studentUser.current_friends_status_code == 3" type="button" class="btn disabled bg-orange btn-flat flex-40 flex-xs-100">Already Friend</button>
                                    <button *ngIf="studentUser.current_friends_status_code == 1" (click)="cancelRequestedFriend(studentUser)" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100">Cancel Request</button>
                                    <button *ngIf="studentUser.current_friends_status_code == 2" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100"
                                        (click)="getFriendList()">Accept Request</button>
                                    <button *ngIf="studentUser.following_friend_status_code == 6" (click)="setFollow(studentUser)" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100">Follow</button>
                                    <button *ngIf="studentUser.following_friend_status_code == 3" (click)="setUnFollow(studentUser)" type="button" class="btn bg-orange btn-flat flex-40 flex-xs-100">UnFollow</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="no-count-section" *ngIf="userDashboardData?.followingsCount == 0">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;You are not Following any users
                    </div>
                </div>
                <div class="box-footer text-center" *ngIf="userDashboardData?.followings && userDashboardData?.followings!=''">
                    <a class="uppercase" [routerLink]="['Connection',{id:2,pageType:3}]">View more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="spin-wrap vision-spin" style="display: none">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>

<!-- post edit model  -->
<div class="modal fade modal-align-fix dialog-like-wrapper " id="postEditModel">
    <ba-post-edit-model *ngIf="showPostEditModel" [postData]="editPostData" (complete)="onPostEditModelClose($event)"></ba-post-edit-model>
  </div>

<!-- Post Detail View -->
<div class="modal fade asset-detail-dialog " id="profileAssetImgModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeStateDialog(postid)"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body setting-page flex-100 layout-row">
                <data-profile-Pic *ngIf="dialogState" [postId]="postid"></data-profile-Pic>
            </div>
        </div>
    </div>
</div>
<!--single post model-->
<div class="modal fade modal-align-fix single-post-dialog" id="singlePostMywallModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSinglePostDialog()"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body setting-page flex-100 layout-row">
                <single-post-detail *ngIf="showSinglePostModel" [postId]="postid"></single-post-detail>
            </div>
        </div>
    </div>
</div>

<!-- post share model  -->
<div class="modal fade modal-align-fix dialog-like-wrapper " id="postShareModel">
    <ba-post-share-model *ngIf="showPostShareModel" [postData]="sharePostData" (complete)="onPostShareModelClose($event)"></ba-post-share-model>
</div>
<!-- post external share model  -->
<div class="modal fade modal-align-fix dialog-like-wrapper " id="postExternalShareModel">
    <ba-post-external-share-model *ngIf="showPostExternalShareModel" [postData]="sharePostData" (complete)="onExternalShareModelClose($event)"></ba-post-external-share-model>
</div>

<!-- Comment Delete Model -->
<div class="modal fade modal-align-fix " id="commentDeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body setting-page flex-100 layout-row">
                <div class="modal-body layout-column flex-100 ">
                    <div class="modal-body">
                        <div class="upload-area flex-60 layout-align-start-center layout-row">
                            <h4>Are you sure you want to delete this comment?</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="add-btn cancel-btn" data-dismiss="modal">Cancel</button>
                <button class="add-btn" data-dismiss="modal" (click)="deleteComment()">Yes</button>
            </div>
        </div>
    </div>
</div>
<!--     ************   /  **********************        -->

<div class="modal fade modal-align-fix " id="postDeleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body setting-page flex-100 layout-row">
          <div class="modal-body layout-column flex-100 ">
            <div class="modal-body">
              <div class="upload-area flex-60 layout-align-start-center layout-row">
                <h4>Do you want to delete this post?</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="add-btn cancel-btn" data-dismiss="modal">Cancel</button>
          <button class="add-btn" data-dismiss="modal" (click)="deletePostById()">Yes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  
<!-- journal Model -->
<div class="modal fade modal-align-fix " id="add-post-journal-modal">
    <add-post-to-journal-modal *ngIf="addPostToJournal" [postId]="postid" (complete)="onCloseAddPostToJournal($event)"></add-post-to-journal-modal>
</div>
<!-- like member list Model -->
<div class="modal fade modal-align-fix " id="like-member-list">
    <like-member-list *ngIf="likeMemberList" [postId]="post_id" (complete)="onLikeClose($event)"></like-member-list>
</div>
<!-- Report Modal -->
<div class="modal fade modal-align-fix" id="add-report-modal">
   <report-info *ngIf="addReportInfo" [postId]="postid" (complete)="onCloseAddReport($event)"></report-info>
</div>