<html>
    
    <head>
        <meta name="theme-color" content="#f3843e" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="google-site-verification" content="BgXc-AqA-yKIF6FQJoPpBOR5F0NZMX_5jh7n6Mp-LqQ" />
        <title>StribeIN | Inspiration & Background</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="icon" type="image/jpg" sizes="96x96" href="assets/icon/favicon.jpg?v=2">
        <link rel="icon" type="image/jpg" sizes="16x16" href="assets/icon/favicon.jpg?v=2">
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
    
        <!-- select2 plugin cdn-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous">
        <!-- Theme style -->
        <link rel="stylesheet" href="public/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="public/dist/css/skins/skin-blue.min.css">
        <link rel="stylesheet" href="public/dist/css/skins/skin-yellow-light.css">
        <link rel="stylesheet" href="public/dist/css/font-awesome.min.css">
        <link rel="stylesheet" href="public/dist/css/snn_common_style.css">
        <link rel="stylesheet" href="public/dist/css/styles.css">
        <link rel="stylesheet" href="public/dist/css/ssn_style.css">
        <link rel="stylesheet" href="public/dist/css/material.css">
        <link rel="stylesheet" href="public/plugins/datatables/dataTables.bootstrap.css">
        <link rel="stylesheet" href="public/plugins/datepicker/datepicker3.css">
        <link rel="stylesheet" href="public/plugins/timepicker/bootstrap-timepicker.min.css">
        <link rel="stylesheet" href="public/dist/css/responsive.css">
        <link rel="stylesheet" href="public/plugins/animation-css/animate.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <script src="public/plugins/jQuery/jQuery-2.2.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <style>
        </style>
    </head>
    
    <body class="hold-transition skin-yellow-light sidebar-mini">
        <div class="layout-column layout-align-start-start">
                <!-- <div class="custom1-modal-header layout-row layout-align-space-between" style="width:100%;">
                        <div class="h3 header-title">StribeIN Inspiration & Background</div>
                    
                    </div> -->

                    <div class="custom1-modal-header layout-row layout-align-start-center custom-logo-header" style="width:100%;">
                            <div class="layout-row m-l-15 layout-align-start-center flex-15 logo-section">
                                    <a class="logo" href="/login">
                                        <img height="42" src="public/files/logo/StribeIN-logo.png" width="42">
                                        <span class="header-logo logo-lg"><b>Stribe</b><span>IN</span></span>
                                        </a>
                            </div>
                        <div class="h3 header-title">Inspiration & Background</div>
                    
                    </div>

                    <div class="layout-column layout-align-start-start layout-wrap layout-padding group-updates layout-xs-column terms-content faq-content about-content" style="background: rgba(241, 241, 241, 0.4)">
                
                        <p>StribeIN.com is a brand of Next Wave Disruptions (NextWaveDisruptions.com). Our goal is to change the way the world connects, socialize and share experiences. Basically make social media better. Moving forward CHANGE is coming your way. Be prepared to be amazed!</p>
                        
                        <p>Hemen Patel, Sharvil Patel, Miloni Patel & Naomi Patel are the co-founders of StribeIN.com. First off, Sharvil, Miloni and Naomi inspired me to build a social network to connect students around the world. They being in college, thought it would be great if they could 
                            connect with other students who are taking the same subjects as he is, so all students can exchange information, papers, tips and other stuff helping each other. I thought WOW, this is a killer idea. StribeIN was born.</p>
                       
                        <div class="layout-row layout-align-center-center layout-wrap about-member-list m-t-20" style="width: 100%">
                            <div class="layout-column layout-align-center-center flex-25 member-img-with-title">
                                <span> <img src="public/files/logo/heman-founder.jpg" height="" width=""  /></span>
                                <p class="name-title">Hemen <span>(Founder)</span></p>
                            </div> 
                            <div class="layout-column layout-align-center-center flex-25 member-img-with-title">
                                <span><img src="public/files/logo/sharvil-founder.jpg" height="" width="" /></span>
                                <p class="name-title">Sharvil <span>(Co-Founder)</span></p>
                            </div>   
                            <div class="layout-column layout-align-center-center flex-25 member-img-with-title">
                                <span><img src="public/files/logo/miloni-co-founder.jpg" height="" width="" /></span>
                                <p class="name-title">Miloni <span>(Co-Founder)</span></p>
                            </div> 
                            <div class="layout-column layout-align-center-center flex-25 member-img-with-title">
                                <span><img src="public/files/logo/naomi-co-founder.jpg" height="" width="" /></span>
                                <p class="name-title">Naomi <span>(Co-Founder)</span></p>
                            </div>    
                        </div>    
                
                        <div class="h3 header-title m-t-20">The StribeIN Value</div>
                        <p>Yes. StribeIN is 100% free.</p>
                     
                        <div class="h3 header-title m-t-20">Why should I join StribeIN ? What’s in it for me ?</div>
                        <p>StribeIN is a student networking app that enables you to connect with other students around the subjects you are taking, college / university you are attending and the degree you are pursuing. </p>
                        <p>Future Success - Is About Who You Know & Who Knows You! StribeIN offers the networking opportunity early on in life to give you that head start.</p>
                    
                        <p>Within one app you can network around different dimensions....</p>
                        
                        <div class="user-generated-content">
                            <div class="list-view">Subject Network</div>
                            <p> You can network and share with other students around the world who are taking the same subjects as you are. 
                                    Example - Are you taking Math this semester then connect with other students around the world that are taking Math the same time you are.</p>
                         
                        <div class="list-view">College / University Network</div>
                        <p>You can network with other students attending the same college / university you are.
                                Example - Attending University of NY? Connect, converse and attend events related to your university. Get to know more students within your college / university.</p>
                         
                        <div class="list-view">Degree / Academic Network</div>
                        <p>You can network with other students around the world pursuing the same degree as you are.
                                Example - If you are pursuing a degree in Psychology, then you can connect with other students around the world that are pursuing Psychology the same time as you are.</p>
                        </div>
                    
                        <p>As you can see the possibilities are endless. It’s up to you how you leverage StribeIN.</p>
                        <p>Download StribeIN - You'll be sorry to be left out.</p>
                
                        <div class="h3 header-title m-t-20">Our Team – Making the Dream (StribeIN) Come Alive</div>
                    
                        <p>StribeIN has been developed by a passionate team who has put their blood and sweat to develop a great social network for students. Without the team, this journey would not have been possible. This team has made our dream come true. I would say they have created a work of art in the field of software.</p>
                                
                        <p>The StribeIN IT family consist of Unicode Systems (our software development team), Dipan Patel (my beloved brother who spent nights to make sure the design was perfect), Gaurav/Rahul (the captain of the development team) and Tushar Mistry (the IT guy who makes things happen in the backend). All of them have worked on something amazing that will change the landscape of social media forever.</p>
                    
                        <p>We invite you to join StribeIN.com and experience the new amazing social network. Come on in and join the party!</p>
                    
                        <p>Software Team - <a href="https://www.unicodesystems.in/" target="_blank" class="text-orange">https://www.unicodesystems.in/</a></p>
                        <p><img src="public/files/logo/unicodesystems-logo.png"></p>
                        <p><img src="public/files/logo/team.png"></p>
                    </div>
            
        </div><!--app-login-section-->
    
        <div class="layout-column layout-align-start-start future-success">
            <div class="app-footer future-success-footer m-t-20 layout-row  p-10 ">
                    <div class="footer-text layout-row layout-align-space-between-center">
                        <p class="layout-align-start layout-row layout-wrap">StribeIN © Copyright 2017</p>
                        <p class="layout-align-end layout-row layout-wrap"><a href="/privacy">Privacy Policy</a> - <a href="/term">Terms of Services</a> - <a href="/contact">Contact Us</a> – <a href="/about">About StribeIN</a> - <a href="/faq">FAQ</a></p>
                    </div>
            </div>
        </div>
        <!-- Bootstrap 3.3.5 -->
        <script src="public/bootstrap/js/bootstrap.min.js"></script>
        <!-- AdminLTE App -->
        <script src="public/dist/js/app.min.js"></script>
        <!-- custom jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
        <script src="public/plugins/noty/jquery.noty.packaged.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
    </body>
    
    </html>