<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">
    <header>
        Error occurred!!
    </header>

    <main>
        <%= error.stack %>
    </main>

    <footer>
        
    </footer>
    
</body>
</html>