<html>
  
  <head>
      <meta name="theme-color" content="#f3843e" />
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="google-site-verification" content="BgXc-AqA-yKIF6FQJoPpBOR5F0NZMX_5jh7n6Mp-LqQ" />
      <title>StribeIN | StribeIN FAQ</title>
      <!-- Tell the browser to be responsive to screen width -->
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <link rel="icon" type="image/jpg" sizes="96x96" href="assets/icon/favicon.jpg?v=2">
      <link rel="icon" type="image/jpg" sizes="16x16" href="assets/icon/favicon.jpg?v=2">
      <!-- Bootstrap 3.3.5 -->
      <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
  
      <!-- select2 plugin cdn-->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
      <!-- Theme style -->
      <link rel="stylesheet" href="public/dist/css/AdminLTE.min.css">
      <link rel="stylesheet" href="public/dist/css/skins/skin-blue.min.css">
      <link rel="stylesheet" href="public/dist/css/skins/skin-yellow-light.css">
      <link rel="stylesheet" href="public/dist/css/font-awesome.min.css">
      <link rel="stylesheet" href="public/dist/css/snn_common_style.css">
      <link rel="stylesheet" href="public/dist/css/styles.css">
      <link rel="stylesheet" href="public/dist/css/ssn_style.css">
      <link rel="stylesheet" href="public/dist/css/material.css">
      <link rel="stylesheet" href="public/plugins/datatables/dataTables.bootstrap.css">
      <link rel="stylesheet" href="public/plugins/datepicker/datepicker3.css">
      <link rel="stylesheet" href="public/plugins/timepicker/bootstrap-timepicker.min.css">
      <link rel="stylesheet" href="public/dist/css/responsive.css">
      <link rel="stylesheet" href="public/plugins/animation-css/animate.min.css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <script src="public/plugins/jQuery/jQuery-2.2.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
      <style>
      </style>
  </head>
  
  <body class="hold-transition skin-yellow-light sidebar-mini">
      <div class="layout-column layout-align-start-start">
        <!-- <div class="custom1-modal-header layout-row layout-align-space-between" style="width:100%;">
            <div class="h3 header-title">StribeIN FAQ</div>
        
        </div> -->
        <div class="custom1-modal-header layout-row layout-align-start-center custom-logo-header" style="width:100%;">
                <div class="layout-row m-l-15 layout-align-start-center flex-15 logo-section">
                        <a class="logo" href="/login">
                            <img height="42" src="public/files/logo/StribeIN-logo.png" width="42">
                            <span class="header-logo logo-lg"><b>Stribe</b><span>IN</span></span>
                            </a>
                </div>
            <div class="h3 header-title">StribeIN FAQ</div>
        
        </div>

        <div class="layout-column layout-align-start-start layout-wrap layout-padding group-updates terms-content faq-content" style="background: rgba(241, 241, 241, 0.4)">
            <h4>What is StribeIN?</h4>
            
            <p>StribeIN is a ‘Student Knowledge & Social Network’ that enables you to connect with other students around the subjects you are taking, college / university you are attending and the degree you are pursuing.</p>
            
            <p>Future Success - Is About Who You Know & Who Knows You! StribeIN offers the networking opportunity early on in life to give you that head start. Develop your high net worth network during your college days.</p>
              
            <div class="h3 header-title m-t-20">Is StribeIN free to join</div>
            <p>Yes. StribeIN is 100% free.</p>
         
            <div class="h3 header-title m-t-20">Why should I join StribeIN ? What’s in it for me ?</div>
            <p>If you don't connect with other likeminded students then you will be left out of important events and conversations? Conversations that help you enhance your knowledge and increase your grades. Don't be left out 
                as other students connect and network to enhance their knowledge. Be in the know! The more you know the better your chances of success in life.</p>
             
            <p>Go ahead and start building your network and brand yourself as an academic star.</p>
        
        
            <p>Within one app you can network around different dimensions....</p>
        
            <div class="user-generated-content">
                <div class="list-view">Subject Network</div>
                <p>You can network and share with other students around the world who are taking the same subjects as you are.
            Example - Are you taking Math this semester then connect with other students around the world that are taking Math the same time you are.</p>
             
            <div class="list-view">College / University Network</div>
            <p>You can network with other students attending the same college / university you are.
            Example - Attending University of NY? Connect, converse and attend events related to your university. Get to know more students within your college / university.</p>
             
            <div class="list-view">Degree / Academic Network</div>
            <p>You can network with other students around the world pursuing the same degree as you are.
            Example - If you are pursuing a degree in Psychology, then you can connect with other students around the world that are pursuing Psychology the same time as you are.</p>
            </div>
        
            <div class="h3 header-title m-t-20">What can I share with other students on StribeIN ?</div>
        
            <p>You can share tips, tricks, how to videos, term papers, exchange information and much more. StribeIN provides high net worth knowledge contributed by students helping each other.</p>
        
            <div class="h3 header-title m-t-20">What platforms is StribeIN available in ?</div>
            <ul class="address-info">
                    <li><b>Website</b> : <p class="address">www.stribeIN.com</p></li>
                    <li>iPhone and Android App.</li>
            </ul>
        
            <h2 class="email-support">You have any other question, <a href="/contact">click here</a> to email support.</h2>
        </div>
         
          
      </div><!--app-login-section-->
  
      <div class="layout-column layout-align-start-start future-success">
          <div class="app-footer future-success-footer m-t-20 layout-row  p-10 ">
                  <div class="footer-text layout-row layout-align-space-between-center">
                      <p class="layout-align-start layout-row layout-wrap">StribeIN © Copyright 2017</p>
                      <p class="layout-align-end layout-row layout-wrap"><a href="/privacy">Privacy Policy</a> - <a href="/term">Terms of Services</a> - <a href="/contact">Contact Us</a> – <a href="/about">About StribeIN</a> - <a href="/faq">FAQ</a></p>
                  </div>
          </div>
      </div>
      <!-- Bootstrap 3.3.5 -->
      <script src="public/bootstrap/js/bootstrap.min.js"></script>
      <!-- AdminLTE App -->
      <script src="public/dist/js/app.min.js"></script>
      <!-- custom jQuery -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
      <script src="public/plugins/noty/jquery.noty.packaged.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
  </body>
  
  </html>