<html>
    
    <head>
        <meta name="theme-color" content="#f3843e" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="google-site-verification" content="BgXc-AqA-yKIF6FQJoPpBOR5F0NZMX_5jh7n6Mp-LqQ" />
        <title>StribeIN | Privacy Policy</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="icon" type="image/jpg" sizes="96x96" href="assets/icon/favicon.jpg?v=2">
        <link rel="icon" type="image/jpg" sizes="16x16" href="assets/icon/favicon.jpg?v=2">
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
    
        <!-- select2 plugin cdn-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous">
        <!-- Theme style -->
        <link rel="stylesheet" href="public/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="public/dist/css/skins/skin-blue.min.css">
        <link rel="stylesheet" href="public/dist/css/skins/skin-yellow-light.css">
        <link rel="stylesheet" href="public/dist/css/font-awesome.min.css">
        <link rel="stylesheet" href="public/dist/css/snn_common_style.css">
        <link rel="stylesheet" href="public/dist/css/styles.css">
        <link rel="stylesheet" href="public/dist/css/ssn_style.css">
        <link rel="stylesheet" href="public/dist/css/material.css">
        <link rel="stylesheet" href="public/plugins/datatables/dataTables.bootstrap.css">
        <link rel="stylesheet" href="public/plugins/datepicker/datepicker3.css">
        <link rel="stylesheet" href="public/plugins/timepicker/bootstrap-timepicker.min.css">
        <link rel="stylesheet" href="public/dist/css/responsive.css">
        <link rel="stylesheet" href="public/plugins/animation-css/animate.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <script src="public/plugins/jQuery/jQuery-2.2.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <style>
        </style>
    </head>
    
    <body class="hold-transition skin-yellow-light sidebar-mini">
        <div class="layout-column layout-align-start-start">
            <div class="custom1-modal-header layout-row layout-align-start-center custom-logo-header" style="width:100%;">
                    <div class="layout-row m-l-15 layout-align-start-center flex-15 logo-section">
                            <a class="logo" href="/login">
                                <img height="42" src="public/files/logo/StribeIN-logo.png" width="42">
                                <span class="header-logo logo-lg"><b>Stribe</b><span>IN</span></span>
                                </a>
                    </div>
                <div class="h3 header-title">Privacy Policy</div>
            
            </div>
            <div class="terms-content privacy-content layout-column layout-align-start-start layout-align-xs-center-center layout-wrap layout-padding group-updates layout-xs-column" style="background: rgba(241, 241, 241, 0.4)">
                <h4>Upfront Statement</h4>
            
                <p>Social media is to be used carefully and with responsibility. StribeIN is not responsible for any damages caused and you forfeit your rights to sue StribeIN and/or any of its subsidiaries. If you are having or facing any problems using StribeIN then we strongly advise you to stop using StribeIN. Basically you are using StribeIN at your own risk.</p>
            
                <p>StribeIN reserves the right to change privacy features / settings and this policy at its own will. If you have a problem then we strictly advise you against using StribeIN.</p>
                        
                <p>As a member or non-member visiting any or all parts of StribeIN, it is taken for granted that you are aware of the dangers that come along with social media and your use waives your right to claim any damage and/or sue StribeIN and/or any of its subsidiaries.</p>
                        
                <p>Our Advice – Social media has its drawbacks and we advise socialize responsibly. StribeIN and/or any of its subsidiaries will take all efforts to minimize any drawbacks.</p>
            
                <h4>The use of StribeIN.com site and mobile application</h4>
            
                <p>All users will ensure that they maintain appropriate privacy settings for all content in their posts and blogs. The default privacy setting for the addition of content to an interest, sub-interest, or member blog is Public. When a user posts under a Public privacy setting, 
                    he/she has agreed to share content with the world at large. It is impossible to take down all copies of his/her post. Users have the option of changing privacy posting settings in the posting box and for their user profile under the drop-down Privacy Settings?. Users can 
                    define their own distribution group lists or specific friends for disseminating their posts. Even private posts to a user’s restricted group may end up in the public domain if a user’s friend chooses to share the posts publicly. Users should post, discuss, comment and disclose 
                    only what they would be proud about.</p>
                        
                <p>Users choose to share information when they post comments, content, add a friend or follow someone. Similarly, user name, profile photo, gender are treated as public information. Users also choose to share information when they communicate with StribeIN via email or use contact 
                    importers. Similarly, other users may share information about the user in a public setting outside StribeIN control. StribeIN(including StribeIN applications when available) may receive various types of data, including location information or network TCP-IP address through the 
                    use of cookies or pattern recognition. StribeIN retains the right to use such data to offer better services, products, enhance security, and fine-tune our delivery platform. StribeIN users fully understand that other users may collect information about them based on their online 
                    activities. StribeIN may utilize physiographic profile, gender and age to provide appropriate services, advertisements at a future date. Users should refrain from publicly sharing any content or information either their own or relating to others which would ordinarily be deemed 
                    as private and personal. A user’s login name and information such as their interests helps other users to search for them. Use of StribeIN constitutes an acceptance of ‘STRIBEIN’s privacy guidelines. If compelled by a legal process, StribeIN may disclose user’s personal information. 
                    StribeIN may choose to assist law enforcement to prevent illegal and unlawful activities.</p>
                        
                <p>Upon deletion of an account, a user’s postings and information may remain public in other users’ posts. Information may remain in backup copies and logs. Data transmitted over the Internet is never completely secure. StribeIN may keep information in order to comply with any legal or regulatory requirements.</p>
                        
                <p>StribeIN reserves the right to act upon users’ suggestions without any compensation to them. If there is a change in control and ownership of StribeIN, StribeIN may transfer all user data and information to ensure continuation of service.</p>
                        
                <div class="h3 header-title">User Responsibility</div>
            
                <p>StribeIN cannot and will not review all the content posted on ‘STRIBEIN. StribeIN will not review or be responsible for any embedded links to other websites. StribeIN will not responsible if users view inappropriate, unlawful objectionable content. StribeIN will not be accountable for any irresponsible behavior of users. StribeIN relies on the collective wisdom of the crowds to keep StribeIN safe. The internet is not a fully secure environment.</p>
                 <p><strong> Offensive Messages</strong>:   You may not use this App to send Messages that are offensive.  If you receive a message that you feel is offensive, [record the member name - insert your method of identifying the post there] and use the 'Contact Us' button to send us an email describing the issue." You may also flag the post and we will look into it.</p>
                <p>The StribeIN web site is provided on an as is basis and may not be available all the time. It may be unavailable during maintenance. StribeIN disclaims any express or implied legal liability for quality, reliability or safety of ‘STRIBEIN.</p>
            
                <p>StribeIN is not responsible for the loss of data, pictures, video, and other content due to malfunction, malicious attack, or electronic failure. StribeIN makes no express or implied warranties about the continued use of ‘STRIBEIN. StribeIN and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, 
                    the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither StribeIN nor its suppliers and licensors, makes any warranty that the website will be error free or that access thereto will be continuous or uninterrupted. Users understand that when they download from, or otherwise obtain content or services through the StribeIN website, they do so at their own discretion and risk.</p>
            
                <h4>Limitation of Liability:</h4>
            
                <p>
                    In no event will ‘STRIBEIN, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts 
                    that exceed the fees paid, if any, by the user under this agreement during the twelve (12) month period prior to the cause of action. StribeIN shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law. Any claim invoked by a user 12 months or more after such claim purportedly arises is permanently barred
                </p>
            
                <h4>General Representation and Warranty:</h4>
                
                <p>Users represent and warrant that (i) use of the website will be in strict accordance with the StribeIN Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in domicile country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of 
                    technical data exported from the United States or the country of residence) and (ii) the use of the StribeIN website will not infringe or misappropriate the intellectual property rights of StribeIN or any third party.</p>
                
                <h4>Indemnification:</h4>
                
                <p>Users agree to indemnify and hold harmless ‘STRIBEIN, its contractors, its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of use of the StribeIN website, including but not limited to user violation of this Agreement.</p>
                
                <h4>Miscellaneous:</h4>
            
                <p>This Agreement constitutes the entire agreement between StribeIN and the user concerning the subject matter hereof, and it may only be modified by a written amendment signed by an authorized executive of ‘STRIBEIN, or by the posting by StribeIN of a revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the StribeIN website will be governed by 
                the laws of the state of New Jersey, U.S.A., and the proper venue for any non-arbitrable disputes arising out of or relating to any of the same will be the state and federal courts located in or covering Hudson County, New Jersey. Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under this Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in Secaucus, New Jersey, in the English language and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys’ fees. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; StribeIN may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.
                </p>
            
                <div class="h3 header-title">Content:</div>
            
                <p>A user interest blog on StribeIN speaks to who users are as people. It represents their creations, interests and shows what they are passionate about. Content includes all kinds of posts and comments.
                </p>
            
                <h4>A user warrants that:</h4>
            
                <p>A user will not promote the sale or use of firearms, tobacco, adult products, prescription drugs, online gambling, lotteries, multi-level marketing, pyramid schemes, directly or indirectly by use of misleading names. The user will not develop or offer third party applications for these prohibited activities.</p>
                
                <p>A user owns all content and information posted on ‘STRIBEIN. Users have legal permission prior to use or share copyrighted works, trademarks or any IPR.</p>
                
                <p>In line with standard industry practice, when the user posts content on StribeIN they grant StribeIN a non-exclusive, transferable, sub-licensable, royalty free, worldwide license to reproduce, adapt and use any part or all content for the purpose of displaying promoting his/her blog and ‘STRIBEIN. This license would continue to hold even after a member voluntarily or involuntarily ceases to be a user of ‘STRIBEIN.</p>
                
                <p>StribeIN has trademark rights to StribeIN and StribeIN Logo. StribeIN retains the rights to the site layout, icons, design and concept. Use of StribeIN does not confer any rights to the foregoing.</p>
                
                <p>Both the user and StribeIN agree to give permission to post links or content from StribeIN to a website or vice versa through use of social plugins. If users choose to embed content from StribeIN to another external location or vice versa, they will ensure that, the external location or website adheres to the guidelines and policies of ‘STRIBEIN. Users should consult the terms and policies of other websites to understand their rights.</p>
                
                <p>If you believe that your copyrighted work has been posted to StribeIN you may contact StribeIN through <a href="mailto:legal@StribeIN.com" target="_top">legal@StribeIN.com</a> email link, providing the URL’s and other details of alleged infringement along with your contact information (name, address, telephone number, contact email).</p>
                
                <p>Misrepresentations of infringement can result in liability for monetary damages. StribeIN does not explicitly or implicitly endorse, or take any liability for any user content submitted by users on ‘STRIBEIN.</p>
                
                <p>For any questions or enquiries, please email <a href="mailto:privacy@StribeIN.com">privacy@StribeIN.com</a>. Please allow 5 to 7 business days to reply. Thank you.</p>
            
            
            </div>
            
        </div><!--app-login-section-->
    
        <div class="layout-column layout-align-start-start future-success">
            <div class="app-footer future-success-footer m-t-20 layout-row  p-10 ">
                    <div class="footer-text layout-row layout-align-space-between-center">
                        <p class="layout-align-start layout-row layout-wrap">StribeIN © Copyright 2017</p>
                        <p class="layout-align-end layout-row layout-wrap"><a href="/privacy">Privacy Policy</a> - <a href="/term">Terms of Services</a> - <a href="/contact">Contact Us</a> – <a href="/about">About StribeIN</a> - <a href="/faq">FAQ</a></p>
                    </div>
            </div>
        </div>
        <!-- Bootstrap 3.3.5 -->
        <script src="public/bootstrap/js/bootstrap.min.js"></script>
        <!-- AdminLTE App -->
        <script src="public/dist/js/app.min.js"></script>
        <!-- custom jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
        <script src="public/plugins/noty/jquery.noty.packaged.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
    </body>
    
    </html>