<!DOCTYPE html>
<html>
    <head>
 
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>StribeIN</title>
            <!-- Tell the browser to be responsive to screen width -->
            <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            <!-- Bootstrap 3.3.5 -->
            <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">

            <!-- select2 plugin cdn-->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />

            <!-- Theme style -->
            <link rel="stylesheet" href="../public/dist/css/AdminLTE.min.css">
            <link rel="stylesheet" href="../public/dist/css/skins/skin-blue.min.css">
            <link rel="stylesheet" href="../public/dist/css/skins/skin-yellow-light.css">
            <link rel="stylesheet" href="../public/dist/css/font-awesome.min.css">
            <link rel="stylesheet" href="../public/dist/css/snn_common_style.css">
            <link rel="stylesheet" href="../public/dist/css/styles.css">
            <link rel="stylesheet" href="../public/dist/css/ssn_style.css">
            <link rel="stylesheet" href="../public/dist/css/material.css">
            <link rel="stylesheet" href="../public/plugins/datatables/dataTables.bootstrap.css">
            <link rel="stylesheet" href="../public/plugins/datepicker/datepicker3.css">
            <link rel="stylesheet" href="../public/plugins/timepicker/bootstrap-timepicker.min.css">
            <link rel="stylesheet" href="../public/dist/css/responsive.css">
            <link rel="stylesheet" href="../public/plugins/animation-css/animate.min.css">
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
<script src="../public/plugins/jQuery/jQuery-2.2.0.min.js"></script>
        </head>
       <body class="hold-transition skin-yellow-light sidebar-mini">
            <div class="account-bg">
                <div class="account-header">
                    <div class="header-logo">StribeIN</div>
                </div>
                <div class="login-box page-wrap">
                    <div class="login-logo"></div>
                    <!-- /.login-logo -->
                    <div class="login-box-body login-pad">
                        <p>You have Unsbscribed successfully.</p>
                        <p>To continue our website <a href="http://stage.socialsn.ml/">click here</a> </p>
                    </div>
                    <!-- /.login-box-body -->
                </div>
                <div class="account-footer text-center">
                    <p>@StribeIN Web, All Rights Reserved.  |   Privacy - Terms of Services -contact Us - Mobile Site</p>
                </div>
            </div>            
            <!-- Bootstrap 3.3.5 -->
            <script src="../public/bootstrap/js/bootstrap.min.js"></script>
            <!-- AdminLTE App -->
            <script src="../public/dist/js/app.min.js"></script>
            <!-- custom jQuery -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
            <script src="../public/dist/js/custom-jquery.js"></script>
            <script src="../public/primus/primus.js"></script>
            <script src="../public/plugins/datepicker/bootstrap-datepicker.js"></script>
            <script src="../public/plugins/timepicker/bootstrap-timepicker.min.js"></script>
            <script src="../public/plugins/noty/jquery.noty.packaged.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
        </body>
    </html>
