<html>

<head>
    <meta name="theme-color" content="#f3843e" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="BgXc-AqA-yKIF6FQJoPpBOR5F0NZMX_5jh7n6Mp-LqQ" />
    <title>StribeIN | Terms & Conditions</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/jpg" sizes="96x96" href="assets/icon/favicon.jpg?v=2">
    <link rel="icon" type="image/jpg" sizes="16x16" href="assets/icon/favicon.jpg?v=2">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">

    <!-- select2 plugin cdn-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!-- Theme style -->
    <link rel="stylesheet" href="public/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="public/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="public/dist/css/skins/skin-yellow-light.css">
    <link rel="stylesheet" href="public/dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/dist/css/snn_common_style.css">
    <link rel="stylesheet" href="public/dist/css/styles.css">
    <link rel="stylesheet" href="public/dist/css/ssn_style.css">
    <link rel="stylesheet" href="public/dist/css/material.css">
    <link rel="stylesheet" href="public/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="public/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="public/plugins/timepicker/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="public/dist/css/responsive.css">
    <link rel="stylesheet" href="public/plugins/animation-css/animate.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <script src="public/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <style>
    </style>
</head>

<body class="hold-transition skin-yellow-light sidebar-mini">
    <div class="layout-column layout-align-start-start">

        <!-- <div class="custom1-modal-header layout-row layout-align-space-between" style="width:100%;">
                <div class="h3 header-title">Terms & Conditions</div>
               
            </div> -->
        <div class="custom1-modal-header layout-row layout-align-start-center custom-logo-header" style="width:100%;">
            <div class="layout-row m-l-15 layout-align-start-center flex-15 logo-section">
                <a class="logo" href="/login">
                    <img height="42" src="public/files/logo/StribeIN-logo.png" width="42">
                    <span class="header-logo logo-lg">
                        <b>Stribe</b>
                        <span>IN</span>
                    </span>
                </a>
            </div>
            <div class="h3 header-title">Terms & Conditions</div>

        </div>
        <div class="layout-column layout-align-start-start layout-align-xs-center-center layout-wrap layout-padding group-updates layout-xs-column terms-content"
            style="background: rgba(241, 241, 241, 0.4)">
            <h4>Upfront Statement</h4>

            <p>Social media is to be used carefully and with responsibility. StribeIN is not responsible for any damages caused
                and you forfeit your rights to sue StribeIN and/or any of its subsidiaries. If you are having or facing any
                problems using StribeIN then we strongly advise you to stop using StribeIN. Basically you are using StribeIN
                at your own risk.</p>

            <p>StribeIN reserves the right to change privacy features / settings and this policy at its own will. If you have
                a problem then we strictly advise you against using StribeIN</p>

            <p>As a member or non-member visiting any or all parts of StribeIN, it is taken for granted that you are aware of
                the dangers that come along with social media and your use waives your right to claim any damage and/or sue
                StribeIN and/or any of its subsidiaries.</p>

            <p>
                <b>Our Advice</b> – Social media has its drawbacks and we advise socialize responsibly. StribeIN and/or any
                of its subsidiaries will take all efforts to minimize any drawbacks.</p>

            <p>StribeIN is pleased to offer you access to this website / mobile application (the “Site”), StribeIN’s social
                networks, and other services that StribeIN may from time to time provide from this website, subject to these
                Terms and Conditions of Use (the “Terms”). The term “Social Networks” encompasses a broad sweep of online
                activity, including participation in social networks such as Facebook, YouTube, Flickr, and Twitter, and
                interactive blogs, websites or listservs, some of which may be located on the Site. These Terms apply to
                all users of the Site and the StribeIN Social Networks, including users who are also contributors of User
                Generated Content (as hereinafter defined).</p>

            <p>By proceeding beyond the site home page or viewing or posting content to the StribeIN social networks, you express
                your consent to, agreement with, and understanding of these terms. StribeIN may, in its sole discretion,
                modify, restrict, change, or otherwise alter these terms, the site, or the StribeIN social networks, in whole
                or in part, impose limits on certain features on the site or the StribeIN social networks, or restrict your
                access to part or all of the site or the StribeIN social networks. by continuing to access and use the site
                and/or the StribeIN social networks you will be evidencing your consent to, agreement with, and understanding
                of, such modifications, changes or alterations. please review these terms regularly as they may be modified
                from time to time without notice to you.</p>


            <div class="h3 header-title m-t-20">StribeIN Generated Content</div>

            <p>The copyright rights and other property rights to the Site and the StribeIN Social Networks are owned by StribeIN.
                All rights regarding the content posted to the Site and the StribeIN Social Networks by StribeIN are reserved
                by StribeIN. The content on the Site may not be used or disseminated without the prior written consent of
                StribeIN, except that you may download spec sheets solely for the purpose of doing business with StribeIN.
                The Site and the StribeIN Social Networks may contain text, images, audiovisual productions, opinions, statements,
                facts, articles, or other information created by StribeIN or by third parties for StribeIN. Such content
                is for your reference only and should not be relied upon by you for any purpose. StribeIN is not responsible
                for the content’s accuracy and reliability.</p>

            <p>StribeIN may provide links to other websites as a convenience for its Site and Social Networks users. StribeIN
                is not responsible for the content of these other websites, and StribeIN does not endorse, warrant or guarantee
                the products or services described or offered in these other websites.</p>

            <div class="user-generated-content">

                <div class="h3 header-title m-t-20">User Generated Content</div>

                <p>You may submit content, including text, images, photographs and video to the StribeIN Social Networks (collectively,
                    “User Generated Content”), provided that you abide by these common sense rules:</p>

                <div class="list-view">If you post it, you own it</div>

                <p>Think twice before you publish. Would you want your family, friends, colleagues, or others to read or see
                    the content you post? Keep in mind that even if original content can be deleted, the content that is
                    shared and distributed through an array of channels can be reposted, searched, and found on the Internet.</p>

                <div class="list-view">Respect the law, including with regard to intellectual property</div>

                <p>It is critical that you show proper respect for the law generally, and specifically for the laws governing
                    copyright and fair use of copyrighted material. You should not quote more than short excerpts from someone
                    else’s work. It is good general practice to link to others’ work. Use appropriate symbols to mark the
                    first appearance of trademarked terms in your content. Do not post images, music or other copyrighted
                    content unless you own them or have permission from the owner to display such content in this context.
                    Keep in mind that the laws may differ depending on where you live.</p>

                <div class="list-view">Treat others like you want to be treated</div>

                <p>Be respectful of others’ opinions and beliefs. Use common courtesy when posting content: refrain from abusive,
                    obscene, or offensive language, images, or links. Do not post content from, or links to, Internet sites
                    that feature sexual content, gambling, or that advocate intolerance of others; and do not create such
                    content on StribeIN’s Social Networks.</p>

                <div class="list-view">Do not post confidential or proprietary information</div>

                <p>By posting content to StribeIN’s Social Networks, you are agreeing to allow anyone with access to StribeIN’s
                    Social Networks to access it and use it without restriction, except with regard to any applicable intellectual
                    property rights that you or others may have in such content. You agree that you will not post or transmit
                    material that is confidential or proprietary to you or a third-party.</p>

            </div>
            <div class="h3 header-title m-t-20">Community Guidelines</div>
            <p>
                <strong>StribeIN is about communicating & exchanging knowledge with other students around the world.</strong> Our
                goal in creating these Guidelines is to accommodate the broadest range of self-expression, while balancing
                the need for users to use our services safely and enjoyably.</p>

            <p>
                <strong>Here are some important guidelines for using StribeIN.</strong>
            </p>
            <p>
                <strong>Offensive Messages</strong>
            </p>
            <ul>
                <li>You may not use this App to send Messages that are offensive.  If you receive a message that you feel is offensive, [record the member name - insert your method of identifying the post there] and use the 'Contact Us' button to send us an email describing the issue." You may also flag the post and we will look into it."</li>
            </ul>
            <p>
                <strong>Adult Content</strong>
            </p>
            <ul>
                <li>We prohibit accounts that promote or distribute pornographic content.</li>
                <li>Breastfeeding and other depictions of nudity in non-sexual contexts are okay.</li>
            </ul>
            <p>
                <strong>Nudity or Sexually Suggestive Content Involving Minors </strong>
            </p>
            <ul>
                <li>Never post, save, or send nude or sexual content involving people under the age of 18 — even of yourself.</li>
                <li>This includes adding drawings or captions to make it sexual, even as a joke.</li>
            </ul>
            <p>
                <strong>Illegal Content </strong>
            </p>
            <ul>
                <li>Don’t use StribeIN for any illegal shenanigans.</li>
            </ul>
            <p>
                <strong>Invasions of Privacy </strong>
            </p>
            <ul>
                <li>Don't take photos/videos/audio of people in private spaces, like someone’s home, a bathroom, dressing room, or locker room, without their knowledge and consent.</li>
               <li>If someone is in your Story and asks you to remove it, please do.</li>
            </ul>
            <p>
                <strong>Threats & Violence </strong>
            </p>
            <ul>
                <li>Never threaten to harm a person, group of people, or property.</li>
                <li>Don't post media of gratuitous violence.</li>
            </ul>
            <p>
                <strong>Harassment & Bullying </strong>
            </p>
            <ul>
                <li>We don’t tolerate bullying or harassment on StribeIN.</li>
                <li>Don’t post with the intention of making someone feel bad. If someone blocks you, it’s not okay to contact them from another account.</li>
            </ul>
            <p>
                <strong>Impersonation </strong>
            </p>
            <ul>
                <li>Don’t pretend to be someone you’re not — including your friends, celebrities, brands, or other organizations.</li>
            </ul>
            <p>
                <strong>Hate Speech </strong>
            </p>
            <ul>
                <li>Don't post content that demeans, defames, or promotes discrimination on the basis of race, ethnicity, national origin, religion, sexual orientation, gender, disability, or veteran status.</li>
            </ul>
            <p>
                <strong>Terrorism </strong>
            </p>
            <ul>
                <li>We prohibit content that promotes terrorism.</li>
            </ul>
            <p>
                <strong>Spam </strong>
            </p>
            <ul>
                <li>We have zero tolerance for spam.</li>
            </ul>
            <p>If you violate these Guidelines, we may remove the offending content, terminate your account, or notify law enforcement. If your account is terminated for violating our Terms of Service or these Guidelines, you may not use WasUpCrowd again. Please take these Guidelines seriously and honor them in the spirit in which they are intended. We will do our best to enforce them consistently and fairly, and ultimately we’ll try to do what we think is best in each situation</p>
            <div class="h3 header-title m-t-20">StribeIN’s Rights and Disclaimers</div>

            <h4>User Generated Content</h4>

            <ul>
                <li>You grant to StribeIN a worldwide, non-exclusive, perpetual, irrevocable, royalty-free and fully-paid, transferable
                    right (including the right to sublicense) to exercise all copyright, publicity, and moral rights with
                    respect to any User Generated Content you post on the StribeIN Social Networks in any media formats and
                    through any media channels.</li>
                <li>StribeIN expressly disclaims any liability or responsibility for the User Generated Content posted to its
                    Social Networks, and such content does not necessarily represent the opinions or positions of StribeIN.</li>
                <li>StribeIN does not promise or guarantee that any User Generated Content posted on the StribeIN Social Networks
                    is correct or accurate, and StribeIN does not necessarily agree with or endorse such content.</li>
                <li>StribeIN retains the right to decline to post any User Generated Content, or remove any previously posted
                    content on StribeIN Social Networks in our sole discretion.</li>
                <li>You understand that when using the Site or the StribeIN Social Networks, you will be exposed to User Generated
                    Content from a variety of sources, and that StribeIN is not responsible for the usefulness, safety, or
                    intellectual property rights of or relating to such User Generated Content. You further understand and
                    acknowledge that you may be exposed to User Generated Content that is inaccurate, offensive, indecent,
                    or objectionable, and you agree to waive, and hereby do waive, any legal or equitable rights or remedies
                    you have or may have against StribeIN with respect thereto.</li>
            </ul>


            <h4>StribeIN’s Social Networks</h4>

            <div class="list-view">StribeIN reserves the right, but does not have the obligation, to monitor StribeIN’s Social Networks.</div>

            <h4>General</h4>

            <ul>
                <li>All content provided on the site and the StribeIN social networks is provided “as is”, with all faults, without
                    warranty of any kind, either express or implied, including, without limitation, those of merchantability,
                    fitness for a particular purpose and noninfringement of any intellectual or other proprietary rights
                    or arising from a course of dealing, usage, or trade practice.</li>
                <li>StribeIN and its suppliers shall not be liable for any direct or indirect damages, including without limitation,
                    lost profits or revenues, costs of replacement goods, lost savings, loss or damage to data arising out
                    of the use or inability to use the site or the StribeIN social networks or any StribeIN product, damages
                    resulting from the use of or reliance on the content presented, or any incidental, special, or other
                    economic consequential damages, even if StribeIN or its suppliers have been advised of the possibility
                    of such damages.</li>
                <li>By using the site and the StribeIN social networks, you agree to indemnify and hold StribeIN harmless against
                    any and all third-party action based upon or arising directly or indirectly from any content you post
                    on the StribeIN social networks.</li>
                <li>StribeIN does not grant you any express or implied rights or licenses under any intellectual property rights.</li>
            </ul>

            <div class="h3 header-title m-t-20">Privacy</div>

            <ul>
                <li>StribeIN respects your personal privacy and the sensitivity of your corporate information. When you visit
                    the Site, we may collect personally identifiable information that you choose to voluntarily disclose.
                    We also may automatically collect certain website use information as you browse the Site. We may share
                    your personal information with other companies and individuals that perform supporting functions in connection
                    with orders for StribeIN products (e.g., credit card processing), and with maintaining the Site and the
                    StribeIN Social Networks. Except as provided herein, we will not share your personal information or any
                    website use information with any party unless required by law.</li>
                <li>Be considerate of others’ privacy, do not reference another without his or her permission.</li>
            </ul>

            <div class="h3 header-title m-t-20">StribeIN Employees</div>

            <ul>
                <li>If you are a StribeIN employee, you must also follow the StribeIN Employee Social Networking Guidelines.
                    </li>
                <li>Content posted by StribeIN employees is their own and does not necessarily represent the positions, strategies,
                    or opinions of StribeIN, unless such persons have been authorized by StribeIN to speak on its behalf.
                    The content on the StribeIN Social Networks is provided for informational purposes only and is not meant
                    to be an endorsement or representation by StribeIN or any other party.</li>
            </ul>


            <div class="h3 header-title m-t-20">Digital Millennium Copyright Act Notice and Takedown Procedure</div>

            <p>If you believe that your copyright or other rights have been infringed, please provide StribeIN’s Designated
                Agent (identified below) written notice with the following information:</p>


            <ul>
                <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright
                    or other interest.</li>
                <li>A description of the copyrighted work or other work that you claim has been infringed.</li>
                <li>A description of where the material that you claim is infringing is located on the Site or the StribeIN Social
                    Networks. Your address, telephone number, and email address.</li>
                <li>A written statement by you that you have a good faith belief that the disputed use is not authorized by the
                    copyright owner, its agent, or the law.</li>
                <li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate
                    and that you are the copyright owner or are authorized to act on the copyright owner’s behalf.</li>
            </ul>

            <h4>StribeIN’s Designated Agent for notice of claims of copyright infringement can be reached as follows:</h4>

            <ul class="address-info">
                <li class="disruption-wave">Next Wave Disruptions (StribeIN)</li>
                <li>
                    <b>Location</b> :
                    <p class="address">1099 Wall West, Suite 138 Lyndhurst, NJ 07071</p>
                </li>
                <li>
                    <b>Attn</b> :
                    <p class="address">General Counsel</p>
                </li>
                <li>
                    <b>Email</b> :
                    <p class="address">legal@StribeIN.com</p>
                </li>
            </ul>

        </div>

    </div>
    <!--app-login-section-->

    <div class="layout-column layout-align-start-start future-success">
        <div class="app-footer future-success-footer m-t-20 layout-row  p-10 ">
            <div class="footer-text layout-row layout-align-space-between-center">
                <p class="layout-align-start layout-row layout-wrap">StribeIN © Copyright 2017</p>
                <p class="layout-align-end layout-row layout-wrap">
                    <a href="/privacy">Privacy Policy</a> -
                    <a href="/term">Terms of Services</a> -
                    <a href="/contact">Contact Us</a> –
                    <a href="/about">About StribeIN</a> -
                    <a href="/faq">FAQ</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Bootstrap 3.3.5 -->
    <script src="public/bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="public/dist/js/app.min.js"></script>
    <!-- custom jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script src="public/plugins/noty/jquery.noty.packaged.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
</body>

</html>